body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:360px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:0px;
  top:40px;
  width:360px;
  height:225px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:225px;
}
#u1 {
  position:absolute;
  left:2px;
  top:104px;
  width:356px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2 {
  position:absolute;
  left:0px;
  top:259px;
  width:360px;
  height:450px;
}
#u2_img {
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:450px;
}
#u3 {
  position:absolute;
  left:2px;
  top:217px;
  width:356px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4 {
  position:absolute;
  left:0px;
  top:696px;
  width:360px;
  height:450px;
}
#u4_img {
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:450px;
}
#u5 {
  position:absolute;
  left:2px;
  top:217px;
  width:356px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6 {
  position:absolute;
  left:0px;
  top:1140px;
  width:360px;
  height:450px;
}
#u6_img {
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:450px;
}
#u7 {
  position:absolute;
  left:2px;
  top:217px;
  width:356px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8 {
  position:fixed;
  left:0px;
  bottom:0px;
}
#u8_state0 {
  position:relative;
  left:0px;
  top:0px;
  background-image:none;
}
#u8_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u9 {
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:40px;
}
#u9_img {
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:40px;
}
#u10 {
  position:absolute;
  left:2px;
  top:12px;
  width:356px;
  word-wrap:break-word;
}
#u11 {
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:40px;
}
#u11_img {
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:40px;
}
#u12 {
  position:absolute;
  left:2px;
  top:12px;
  width:356px;
  visibility:hidden;
  word-wrap:break-word;
}
#u13 {
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  height:41px;
}
#u13_img {
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  height:41px;
}
#u14 {
  position:absolute;
  left:2px;
  top:12px;
  width:37px;
  visibility:hidden;
  word-wrap:break-word;
}
#u15 {
  position:absolute;
  left:144px;
  top:9px;
  width:73px;
  height:22px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-size:18px;
}
#u15_img {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:22px;
}
#u16 {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  white-space:nowrap;
}
#u17 {
  position:absolute;
  left:0px;
  top:1590px;
  width:360px;
  height:211px;
}
#u17_img {
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:211px;
}
#u18 {
  position:absolute;
  left:2px;
  top:98px;
  width:356px;
  visibility:hidden;
  word-wrap:break-word;
}
#u19 {
  position:absolute;
  left:0px;
  top:1801px;
  width:360px;
  height:69px;
}
#u19_img {
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:69px;
}
#u20 {
  position:absolute;
  left:2px;
  top:26px;
  width:356px;
  visibility:hidden;
  word-wrap:break-word;
}
#u21 {
  position:absolute;
  left:0px;
  top:1866px;
  width:360px;
  height:304px;
}
#u21_img {
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:304px;
}
#u22 {
  position:absolute;
  left:2px;
  top:144px;
  width:356px;
  visibility:hidden;
  word-wrap:break-word;
}
#u23 {
  position:absolute;
  left:0px;
  top:2170px;
  width:360px;
  height:1067px;
}
#u23_img {
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:1067px;
}
#u24 {
  position:absolute;
  left:2px;
  top:526px;
  width:356px;
  visibility:hidden;
  word-wrap:break-word;
}
#u25 {
  position:fixed;
  left:0px;
  bottom:0px;
}
#u25_state0 {
  position:relative;
  left:0px;
  top:0px;
  background-image:none;
}
#u25_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u26 {
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:40px;
}
#u26_img {
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:40px;
}
#u27 {
  position:absolute;
  left:2px;
  top:12px;
  width:356px;
  word-wrap:break-word;
}
