body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:383px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:667px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:667px;
}
#u1 {
  position:absolute;
  left:2px;
  top:326px;
  width:356px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2 {
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:40px;
}
#u2_img {
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:40px;
}
#u3 {
  position:absolute;
  left:2px;
  top:12px;
  width:356px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4 {
  position:absolute;
  left:0px;
  top:0px;
  width:39px;
  height:41px;
}
#u4_img {
  position:absolute;
  left:0px;
  top:0px;
  width:39px;
  height:41px;
}
#u5 {
  position:absolute;
  left:2px;
  top:12px;
  width:35px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6 {
  position:absolute;
  left:145px;
  top:9px;
  width:73px;
  height:22px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-size:18px;
}
#u6_img {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:22px;
}
#u7 {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  white-space:nowrap;
}
#u8 {
  position:absolute;
  left:0px;
  top:370px;
  width:360px;
  height:40px;
  overflow:hidden;
}
#u8_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:40px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u8_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u9 {
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:40px;
}
#u9_img {
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:40px;
}
#u10 {
  position:absolute;
  left:2px;
  top:12px;
  width:356px;
  visibility:hidden;
  word-wrap:break-word;
}
#u11 {
  position:absolute;
  left:10px;
  top:12px;
  width:53px;
  height:16px;
  color:#0099FF;
}
#u11_img {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:16px;
}
#u12 {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  white-space:nowrap;
}
#u13 {
  position:absolute;
  left:283px;
  top:5px;
  width:67px;
  height:30px;
}
#u13_img {
  position:absolute;
  left:0px;
  top:0px;
  width:67px;
  height:30px;
}
#u14 {
  position:absolute;
  left:2px;
  top:7px;
  width:63px;
  word-wrap:break-word;
}
#u15 {
  position:absolute;
  left:206px;
  top:5px;
  width:67px;
  height:30px;
}
#u15_img {
  position:absolute;
  left:0px;
  top:0px;
  width:67px;
  height:30px;
}
#u16 {
  position:absolute;
  left:2px;
  top:7px;
  width:63px;
  word-wrap:break-word;
}
#u17 {
  position:absolute;
  left:327px;
  top:7px;
  width:23px;
  height:23px;
}
#u17_img {
  position:absolute;
  left:0px;
  top:0px;
  width:23px;
  height:23px;
}
#u18 {
  position:absolute;
  left:2px;
  top:4px;
  width:19px;
  visibility:hidden;
  word-wrap:break-word;
}
#u19 {
  position:absolute;
  left:315px;
  top:0px;
  width:45px;
  height:41px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u20 {
  position:absolute;
  left:0px;
  top:160px;
  width:360px;
  height:180px;
}
#u20_img {
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:180px;
}
#u21 {
  position:absolute;
  left:2px;
  top:82px;
  width:356px;
  visibility:hidden;
  word-wrap:break-word;
}
#u22 {
  position:absolute;
  left:7px;
  top:143px;
  width:45px;
  height:14px;
  font-size:11px;
}
#u22_img {
  position:absolute;
  left:0px;
  top:0px;
  width:45px;
  height:14px;
}
#u23 {
  position:absolute;
  left:0px;
  top:0px;
  width:45px;
  white-space:nowrap;
}
#u24 {
  position:absolute;
  left:7px;
  top:185px;
  width:333px;
  height:10px;
}
#u24_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u24_end {
  position:absolute;
  left:316px;
  top:-5px;
  width:18px;
  height:20px;
}
#u24_line {
  position:absolute;
  left:0px;
  top:5px;
  width:333px;
  height:1px;
}
#u25 {
  position:absolute;
  left:30px;
  top:195px;
  width:310px;
  height:16px;
}
#u25_img {
  position:absolute;
  left:0px;
  top:0px;
  width:310px;
  height:16px;
}
#u26 {
  position:absolute;
  left:0px;
  top:0px;
  width:310px;
  word-wrap:break-word;
}
#u27 {
  position:absolute;
  left:30px;
  top:221px;
  width:310px;
  height:16px;
}
#u27_img {
  position:absolute;
  left:0px;
  top:0px;
  width:310px;
  height:16px;
}
#u28 {
  position:absolute;
  left:0px;
  top:0px;
  width:310px;
  word-wrap:break-word;
}
#u29 {
  position:absolute;
  left:30px;
  top:169px;
  width:289px;
  height:16px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
}
#u29_img {
  position:absolute;
  left:0px;
  top:0px;
  width:289px;
  height:16px;
}
#u30 {
  position:absolute;
  left:0px;
  top:0px;
  width:289px;
  white-space:nowrap;
}
#u31 {
  position:absolute;
  left:30px;
  top:247px;
  width:310px;
  height:16px;
}
#u31_img {
  position:absolute;
  left:0px;
  top:0px;
  width:310px;
  height:16px;
}
#u32 {
  position:absolute;
  left:0px;
  top:0px;
  width:310px;
  word-wrap:break-word;
}
#u33 {
  position:absolute;
  left:30px;
  top:273px;
  width:310px;
  height:16px;
}
#u33_img {
  position:absolute;
  left:0px;
  top:0px;
  width:310px;
  height:16px;
}
#u34 {
  position:absolute;
  left:0px;
  top:0px;
  width:310px;
  word-wrap:break-word;
}
#u35 {
  position:absolute;
  left:7px;
  top:295px;
  width:333px;
  height:10px;
}
#u35_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u35_end {
  position:absolute;
  left:316px;
  top:-5px;
  width:18px;
  height:20px;
}
#u35_line {
  position:absolute;
  left:0px;
  top:5px;
  width:333px;
  height:1px;
}
#u36 {
  position:absolute;
  left:245px;
  top:306px;
  width:84px;
  height:24px;
}
#u36_img {
  position:absolute;
  left:0px;
  top:0px;
  width:84px;
  height:24px;
}
#u37 {
  position:absolute;
  left:0px;
  top:0px;
  width:84px;
  white-space:nowrap;
}
#u38 {
  position:absolute;
  left:0px;
  top:39px;
  width:360px;
  height:91px;
}
#u38_img {
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:91px;
}
#u39 {
  position:absolute;
  left:2px;
  top:38px;
  width:356px;
  visibility:hidden;
  word-wrap:break-word;
}
#u40 {
  position:absolute;
  left:7px;
  top:51px;
  width:127px;
  height:14px;
  font-size:11px;
}
#u40_img {
  position:absolute;
  left:0px;
  top:0px;
  width:127px;
  height:14px;
}
#u41 {
  position:absolute;
  left:0px;
  top:0px;
  width:127px;
  white-space:nowrap;
}
#u42 {
  position:absolute;
  left:200px;
  top:77px;
  width:122px;
  height:14px;
  font-size:11px;
}
#u42_img {
  position:absolute;
  left:0px;
  top:0px;
  width:122px;
  height:14px;
}
#u43 {
  position:absolute;
  left:0px;
  top:0px;
  width:122px;
  white-space:nowrap;
}
#u44 {
  position:absolute;
  left:7px;
  top:75px;
  width:183px;
  height:14px;
  font-size:11px;
}
#u44_img {
  position:absolute;
  left:0px;
  top:0px;
  width:183px;
  height:14px;
}
#u45 {
  position:absolute;
  left:0px;
  top:0px;
  width:183px;
  word-wrap:break-word;
}
#u46 {
  position:absolute;
  left:200px;
  top:51px;
  width:183px;
  height:14px;
  font-size:11px;
}
#u46_img {
  position:absolute;
  left:0px;
  top:0px;
  width:183px;
  height:14px;
}
#u47 {
  position:absolute;
  left:0px;
  top:0px;
  width:183px;
  word-wrap:break-word;
}
#u48 {
  position:absolute;
  left:7px;
  top:99px;
  width:155px;
  height:19px;
}
#u48_img {
  position:absolute;
  left:0px;
  top:0px;
  width:155px;
  height:19px;
}
#u49 {
  position:absolute;
  left:0px;
  top:0px;
  width:155px;
  white-space:nowrap;
}
#u50 {
  position:absolute;
  left:200px;
  top:101px;
  width:61px;
  height:19px;
}
#u50_img {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  height:19px;
}
#u51 {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  white-space:nowrap;
}
