body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:360px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:0px;
  top:-17px;
  width:360px;
  height:684px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:684px;
}
#u1 {
  position:absolute;
  left:2px;
  top:334px;
  width:356px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2 {
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:40px;
}
#u2_img {
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:40px;
}
#u3 {
  position:absolute;
  left:2px;
  top:12px;
  width:356px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4 {
  position:absolute;
  left:0px;
  top:0px;
  width:39px;
  height:41px;
}
#u4_img {
  position:absolute;
  left:0px;
  top:0px;
  width:39px;
  height:41px;
}
#u5 {
  position:absolute;
  left:2px;
  top:12px;
  width:35px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6 {
  position:absolute;
  left:144px;
  top:9px;
  width:73px;
  height:22px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-size:18px;
}
#u6_img {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:22px;
}
#u7 {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  white-space:nowrap;
}
#u8 {
  position:absolute;
  left:0px;
  top:39px;
  width:360px;
  height:63px;
}
#u8_img {
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:63px;
}
#u9 {
  position:absolute;
  left:2px;
  top:24px;
  width:356px;
  visibility:hidden;
  word-wrap:break-word;
}
#u10 {
  position:absolute;
  left:10px;
  top:82px;
  width:125px;
  height:16px;
}
#u10_img {
  position:absolute;
  left:0px;
  top:0px;
  width:125px;
  height:16px;
}
#u11 {
  position:absolute;
  left:0px;
  top:0px;
  width:125px;
  white-space:nowrap;
}
#u12 {
  position:absolute;
  left:10px;
  top:46px;
  width:341px;
  height:32px;
}
#u12_img {
  position:absolute;
  left:0px;
  top:0px;
  width:341px;
  height:32px;
}
#u13 {
  position:absolute;
  left:0px;
  top:0px;
  width:341px;
  word-wrap:break-word;
}
#u14 {
  position:absolute;
  left:306px;
  top:82px;
  width:45px;
  height:14px;
  font-size:11px;
  color:#0000FF;
}
#u14_img {
  position:absolute;
  left:0px;
  top:0px;
  width:45px;
  height:14px;
}
#u15 {
  position:absolute;
  left:0px;
  top:0px;
  width:45px;
  white-space:nowrap;
}
#u16 {
  position:absolute;
  left:0px;
  top:396px;
  width:360px;
  height:40px;
}
#u16_img {
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:40px;
}
#u17 {
  position:absolute;
  left:2px;
  top:12px;
  width:356px;
  visibility:hidden;
  word-wrap:break-word;
}
#u18 {
  position:absolute;
  left:8px;
  top:408px;
  width:53px;
  height:16px;
}
#u18_img {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:16px;
}
#u19 {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  white-space:nowrap;
}
#u20 {
  position:absolute;
  left:331px;
  top:400px;
  width:29px;
  height:30px;
}
#u20_img {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:30px;
}
#u21 {
  position:absolute;
  left:2px;
  top:7px;
  width:25px;
  visibility:hidden;
  word-wrap:break-word;
}
#u22 {
  position:absolute;
  left:281px;
  top:408px;
  width:53px;
  height:16px;
}
#u22_img {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:16px;
}
#u23 {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  white-space:nowrap;
}
#u24 {
  position:absolute;
  left:0px;
  top:435px;
  width:360px;
  height:40px;
}
#u24_img {
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:40px;
}
#u25 {
  position:absolute;
  left:2px;
  top:12px;
  width:356px;
  visibility:hidden;
  word-wrap:break-word;
}
#u26 {
  position:absolute;
  left:8px;
  top:447px;
  width:53px;
  height:16px;
}
#u26_img {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:16px;
}
#u27 {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  white-space:nowrap;
}
#u28 {
  position:absolute;
  left:331px;
  top:439px;
  width:29px;
  height:30px;
}
#u28_img {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:30px;
}
#u29 {
  position:absolute;
  left:2px;
  top:7px;
  width:25px;
  visibility:hidden;
  word-wrap:break-word;
}
#u30 {
  position:absolute;
  left:281px;
  top:447px;
  width:53px;
  height:16px;
}
#u30_img {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:16px;
}
#u31 {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  visibility:hidden;
  white-space:nowrap;
}
#u32 {
  position:absolute;
  left:0px;
  top:358px;
  width:360px;
  height:40px;
}
#u32_img {
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:40px;
}
#u33 {
  position:absolute;
  left:2px;
  top:12px;
  width:356px;
  visibility:hidden;
  word-wrap:break-word;
}
#u34 {
  position:absolute;
  left:8px;
  top:370px;
  width:53px;
  height:16px;
}
#u34_img {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:16px;
}
#u35 {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  white-space:nowrap;
}
#u36 {
  position:absolute;
  left:256px;
  top:370px;
  width:92px;
  height:16px;
}
#u36_img {
  position:absolute;
  left:0px;
  top:0px;
  width:92px;
  height:16px;
}
#u37 {
  position:absolute;
  left:0px;
  top:0px;
  width:92px;
  white-space:nowrap;
}
#u38 {
  position:absolute;
  left:0px;
  top:192px;
  width:360px;
  height:40px;
}
#u38_img {
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:40px;
}
#u39 {
  position:absolute;
  left:2px;
  top:12px;
  width:356px;
  visibility:hidden;
  word-wrap:break-word;
}
#u40 {
  position:absolute;
  left:6px;
  top:204px;
  width:53px;
  height:16px;
}
#u40_img {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:16px;
}
#u41 {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  white-space:nowrap;
}
#u42 {
  position:absolute;
  left:306px;
  top:204px;
  width:44px;
  height:16px;
}
#u42_img {
  position:absolute;
  left:0px;
  top:0px;
  width:44px;
  height:16px;
}
#u43 {
  position:absolute;
  left:0px;
  top:0px;
  width:44px;
  white-space:nowrap;
}
#u44 {
  position:absolute;
  left:0px;
  top:230px;
  width:360px;
  height:40px;
}
#u44_img {
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:40px;
}
#u45 {
  position:absolute;
  left:2px;
  top:12px;
  width:356px;
  visibility:hidden;
  word-wrap:break-word;
}
#u46 {
  position:absolute;
  left:6px;
  top:244px;
  width:27px;
  height:16px;
}
#u46_img {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:16px;
}
#u47 {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  white-space:nowrap;
}
#u48 {
  position:absolute;
  left:313px;
  top:244px;
  width:37px;
  height:16px;
}
#u48_img {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  height:16px;
}
#u49 {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  white-space:nowrap;
}
#u50 {
  position:absolute;
  left:0px;
  top:269px;
  width:360px;
  height:40px;
}
#u50_img {
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:40px;
}
#u51 {
  position:absolute;
  left:2px;
  top:12px;
  width:356px;
  visibility:hidden;
  word-wrap:break-word;
}
#u52 {
  position:absolute;
  left:6px;
  top:281px;
  width:53px;
  height:16px;
}
#u52_img {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:16px;
}
#u53 {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  white-space:nowrap;
}
#u54 {
  position:absolute;
  left:300px;
  top:281px;
  width:50px;
  height:16px;
  color:#FF9900;
}
#u54_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:16px;
}
#u55 {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  white-space:nowrap;
}
#u56 {
  position:absolute;
  left:79px;
  top:281px;
  width:62px;
  height:14px;
  font-size:11px;
  color:#0000FF;
}
#u56_img {
  position:absolute;
  left:0px;
  top:0px;
  width:62px;
  height:14px;
}
#u57 {
  position:absolute;
  left:0px;
  top:0px;
  width:62px;
  white-space:nowrap;
}
#u58 {
  position:absolute;
  left:0px;
  top:307px;
  width:360px;
  height:40px;
}
#u58_img {
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:40px;
}
#u59 {
  position:absolute;
  left:2px;
  top:12px;
  width:356px;
  visibility:hidden;
  word-wrap:break-word;
}
#u60 {
  position:absolute;
  left:6px;
  top:319px;
  width:53px;
  height:16px;
}
#u60_img {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:16px;
}
#u61 {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  white-space:nowrap;
}
#u62 {
  position:absolute;
  left:306px;
  top:319px;
  width:44px;
  height:16px;
  color:#FF0000;
}
#u62_img {
  position:absolute;
  left:0px;
  top:0px;
  width:44px;
  height:16px;
}
#u63 {
  position:absolute;
  left:0px;
  top:0px;
  width:44px;
  white-space:nowrap;
}
#u64 {
  position:absolute;
  left:0px;
  top:112px;
  width:360px;
  height:70px;
}
#u64_img {
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:70px;
}
#u65 {
  position:absolute;
  left:2px;
  top:27px;
  width:356px;
  visibility:hidden;
  word-wrap:break-word;
}
#u66 {
  position:absolute;
  left:67px;
  top:120px;
  width:279px;
  height:16px;
}
#u66_img {
  position:absolute;
  left:0px;
  top:0px;
  width:279px;
  height:16px;
}
#u67 {
  position:absolute;
  left:0px;
  top:0px;
  width:279px;
  word-wrap:break-word;
}
#u68 {
  position:absolute;
  left:72px;
  top:157px;
  width:28px;
  height:16px;
  font-size:16px;
  color:#FF0000;
}
#u68_img {
  position:absolute;
  left:0px;
  top:0px;
  width:28px;
  height:16px;
}
#u69 {
  position:absolute;
  left:0px;
  top:0px;
  width:28px;
  white-space:nowrap;
}
#u70 {
  position:absolute;
  left:329px;
  top:158px;
  width:19px;
  height:16px;
  color:#999999;
}
#u70_img {
  position:absolute;
  left:0px;
  top:0px;
  width:19px;
  height:16px;
}
#u71 {
  position:absolute;
  left:0px;
  top:0px;
  width:19px;
  white-space:nowrap;
}
#u72 {
  position:fixed;
  left:0px;
  bottom:0px;
}
#u72_state0 {
  position:relative;
  left:0px;
  top:0px;
  background-image:none;
}
#u72_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u73 {
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:50px;
}
#u73_img {
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:50px;
}
#u74 {
  position:absolute;
  left:2px;
  top:17px;
  width:356px;
  visibility:hidden;
  word-wrap:break-word;
}
#u75 {
  position:absolute;
  left:200px;
  top:0px;
  width:160px;
  height:50px;
  font-size:16px;
  color:#FFFFFF;
}
#u75_img {
  position:absolute;
  left:0px;
  top:0px;
  width:160px;
  height:50px;
}
#u76 {
  position:absolute;
  left:2px;
  top:16px;
  width:156px;
  word-wrap:break-word;
}
#u77 {
  position:absolute;
  left:8px;
  top:120px;
  width:54px;
  height:56px;
}
#u77_img {
  position:absolute;
  left:0px;
  top:0px;
  width:54px;
  height:56px;
}
#u78 {
  position:absolute;
  left:2px;
  top:20px;
  width:50px;
  visibility:hidden;
  word-wrap:break-word;
}
