body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:360px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:667px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:667px;
}
#u1 {
  position:absolute;
  left:2px;
  top:326px;
  width:356px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2 {
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:40px;
}
#u2_img {
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:40px;
}
#u3 {
  position:absolute;
  left:2px;
  top:12px;
  width:356px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4 {
  position:absolute;
  left:145px;
  top:8px;
  width:73px;
  height:22px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-size:18px;
}
#u4_img {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:22px;
}
#u5 {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  white-space:nowrap;
}
#u6 {
  position:absolute;
  left:0px;
  top:86px;
  width:360px;
  height:39px;
}
#u6_img {
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:39px;
}
#u7 {
  position:absolute;
  left:2px;
  top:12px;
  width:356px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8 {
  position:absolute;
  left:17px;
  top:68px;
  width:45px;
  height:14px;
  font-size:11px;
}
#u8_img {
  position:absolute;
  left:0px;
  top:0px;
  width:45px;
  height:14px;
}
#u9 {
  position:absolute;
  left:0px;
  top:0px;
  width:45px;
  white-space:nowrap;
}
#u10 {
  position:absolute;
  left:17px;
  top:98px;
  width:66px;
  height:16px;
}
#u10_img {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  height:16px;
}
#u11 {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  white-space:nowrap;
}
#u12 {
  position:absolute;
  left:324px;
  top:86px;
  width:36px;
  height:38px;
}
#u12_img {
  position:absolute;
  left:0px;
  top:0px;
  width:36px;
  height:38px;
}
#u13 {
  position:absolute;
  left:2px;
  top:11px;
  width:32px;
  visibility:hidden;
  word-wrap:break-word;
}
#u14 {
  position:absolute;
  left:0px;
  top:162px;
  width:360px;
  height:39px;
}
#u14_img {
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:39px;
}
#u15 {
  position:absolute;
  left:2px;
  top:12px;
  width:356px;
  visibility:hidden;
  word-wrap:break-word;
}
#u16 {
  position:absolute;
  left:17px;
  top:144px;
  width:45px;
  height:14px;
  font-size:11px;
}
#u16_img {
  position:absolute;
  left:0px;
  top:0px;
  width:45px;
  height:14px;
}
#u17 {
  position:absolute;
  left:0px;
  top:0px;
  width:45px;
  white-space:nowrap;
}
#u18 {
  position:absolute;
  left:17px;
  top:174px;
  width:92px;
  height:16px;
}
#u18_img {
  position:absolute;
  left:0px;
  top:0px;
  width:92px;
  height:16px;
}
#u19 {
  position:absolute;
  left:0px;
  top:0px;
  width:92px;
  white-space:nowrap;
}
#u20 {
  position:absolute;
  left:324px;
  top:164px;
  width:36px;
  height:38px;
}
#u20_img {
  position:absolute;
  left:0px;
  top:0px;
  width:36px;
  height:38px;
}
#u21 {
  position:absolute;
  left:2px;
  top:11px;
  width:32px;
  visibility:hidden;
  word-wrap:break-word;
}
#u22 {
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  height:41px;
}
#u22_img {
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  height:41px;
}
#u23 {
  position:absolute;
  left:2px;
  top:12px;
  width:37px;
  visibility:hidden;
  word-wrap:break-word;
}
#u24 {
  position:absolute;
  left:0px;
  top:238px;
  width:360px;
  height:39px;
}
#u24_img {
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:39px;
}
#u25 {
  position:absolute;
  left:2px;
  top:12px;
  width:356px;
  visibility:hidden;
  word-wrap:break-word;
}
#u26 {
  position:absolute;
  left:17px;
  top:220px;
  width:67px;
  height:14px;
  font-size:11px;
}
#u26_img {
  position:absolute;
  left:0px;
  top:0px;
  width:67px;
  height:14px;
}
#u27 {
  position:absolute;
  left:0px;
  top:0px;
  width:67px;
  white-space:nowrap;
}
#u28 {
  position:absolute;
  left:17px;
  top:250px;
  width:104px;
  height:16px;
}
#u28_img {
  position:absolute;
  left:0px;
  top:0px;
  width:104px;
  height:16px;
}
#u29 {
  position:absolute;
  left:0px;
  top:0px;
  width:104px;
  white-space:nowrap;
}
#u30 {
  position:absolute;
  left:324px;
  top:240px;
  width:36px;
  height:38px;
}
#u30_img {
  position:absolute;
  left:0px;
  top:0px;
  width:36px;
  height:38px;
}
#u31 {
  position:absolute;
  left:2px;
  top:11px;
  width:32px;
  visibility:hidden;
  word-wrap:break-word;
}
#u32 {
  position:absolute;
  left:0px;
  top:313px;
  width:360px;
  height:39px;
}
#u32_img {
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:39px;
}
#u33 {
  position:absolute;
  left:2px;
  top:12px;
  width:356px;
  visibility:hidden;
  word-wrap:break-word;
}
#u34 {
  position:absolute;
  left:17px;
  top:295px;
  width:45px;
  height:14px;
  font-size:11px;
}
#u34_img {
  position:absolute;
  left:0px;
  top:0px;
  width:45px;
  height:14px;
}
#u35 {
  position:absolute;
  left:0px;
  top:0px;
  width:45px;
  white-space:nowrap;
}
#u36 {
  position:absolute;
  left:17px;
  top:325px;
  width:53px;
  height:16px;
}
#u36_img {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:16px;
}
#u37 {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  white-space:nowrap;
}
#u38 {
  position:absolute;
  left:324px;
  top:315px;
  width:36px;
  height:38px;
}
#u38_img {
  position:absolute;
  left:0px;
  top:0px;
  width:36px;
  height:38px;
}
#u39 {
  position:absolute;
  left:2px;
  top:11px;
  width:32px;
  visibility:hidden;
  word-wrap:break-word;
}
#u40 {
  position:absolute;
  left:0px;
  top:380px;
  width:360px;
  height:115px;
}
#u40_img {
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:115px;
}
#u41 {
  position:absolute;
  left:2px;
  top:50px;
  width:356px;
  visibility:hidden;
  word-wrap:break-word;
}
#u42 {
  position:absolute;
  left:17px;
  top:403px;
  width:323px;
  height:10px;
}
#u42_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u42_end {
  position:absolute;
  left:306px;
  top:-5px;
  width:18px;
  height:20px;
}
#u42_line {
  position:absolute;
  left:0px;
  top:5px;
  width:323px;
  height:1px;
}
#u43 {
  position:absolute;
  left:17px;
  top:387px;
  width:27px;
  height:16px;
}
#u43_img {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:16px;
}
#u44 {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  white-space:nowrap;
}
#u45 {
  position:absolute;
  left:17px;
  top:413px;
  width:53px;
  height:16px;
}
#u45_img {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:16px;
}
#u46 {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  white-space:nowrap;
}
#u47 {
  position:absolute;
  left:17px;
  top:439px;
  width:53px;
  height:16px;
}
#u47_img {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:16px;
}
#u48 {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  white-space:nowrap;
}
#u49 {
  position:absolute;
  left:295px;
  top:413px;
  width:45px;
  height:16px;
}
#u49_img {
  position:absolute;
  left:0px;
  top:0px;
  width:45px;
  height:16px;
}
#u50 {
  position:absolute;
  left:0px;
  top:0px;
  width:45px;
  white-space:nowrap;
}
#u51 {
  position:absolute;
  left:319px;
  top:439px;
  width:21px;
  height:16px;
}
#u51_img {
  position:absolute;
  left:0px;
  top:0px;
  width:21px;
  height:16px;
}
#u52 {
  position:absolute;
  left:0px;
  top:0px;
  width:21px;
  white-space:nowrap;
}
#u53 {
  position:absolute;
  left:17px;
  top:455px;
  width:323px;
  height:10px;
}
#u53_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u53_end {
  position:absolute;
  left:306px;
  top:-5px;
  width:18px;
  height:20px;
}
#u53_line {
  position:absolute;
  left:0px;
  top:5px;
  width:323px;
  height:1px;
}
#u54 {
  position:absolute;
  left:246px;
  top:473px;
  width:40px;
  height:16px;
}
#u54_img {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:16px;
}
#u55 {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  white-space:nowrap;
}
#u56 {
  position:absolute;
  left:286px;
  top:465px;
  width:54px;
  height:24px;
  font-size:20px;
  color:#FF0000;
}
#u56_img {
  position:absolute;
  left:0px;
  top:0px;
  width:54px;
  height:24px;
}
#u57 {
  position:absolute;
  left:0px;
  top:0px;
  width:54px;
  white-space:nowrap;
}
#u58 {
  position:fixed;
  left:0px;
  bottom:0px;
  width:360px;
  height:50px;
  overflow:hidden;
}
#u58_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:50px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u58_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u59 {
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:50px;
}
#u59_img {
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:50px;
}
#u60 {
  position:absolute;
  left:2px;
  top:17px;
  width:356px;
  visibility:hidden;
  word-wrap:break-word;
}
#u61 {
  position:absolute;
  left:11px;
  top:15px;
  width:79px;
  height:24px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-size:20px;
  color:#FF0000;
}
#u61_img {
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  height:24px;
}
#u62 {
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  white-space:nowrap;
}
#u63 {
  position:absolute;
  left:220px;
  top:0px;
  width:140px;
  height:50px;
}
#u63_img {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:50px;
}
#u64 {
  position:absolute;
  left:2px;
  top:17px;
  width:136px;
  word-wrap:break-word;
}
