body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:360px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:990px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:990px;
}
#u1 {
  position:absolute;
  left:2px;
  top:487px;
  width:356px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2 {
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:40px;
}
#u2_img {
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:40px;
}
#u3 {
  position:absolute;
  left:2px;
  top:12px;
  width:356px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4 {
  position:absolute;
  left:0px;
  top:0px;
  width:39px;
  height:41px;
}
#u4_img {
  position:absolute;
  left:0px;
  top:0px;
  width:39px;
  height:41px;
}
#u5 {
  position:absolute;
  left:2px;
  top:12px;
  width:35px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6 {
  position:absolute;
  left:145px;
  top:9px;
  width:73px;
  height:22px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-size:18px;
}
#u6_img {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:22px;
}
#u7 {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  white-space:nowrap;
}
#u8 {
  position:absolute;
  left:340px;
  top:7px;
  width:6px;
  height:6px;
}
#u8_img {
  position:absolute;
  left:0px;
  top:0px;
  width:6px;
  height:6px;
}
#u9 {
  position:absolute;
  left:2px;
  top:-5px;
  width:2px;
  visibility:hidden;
  word-wrap:break-word;
}
#u10 {
  position:absolute;
  left:340px;
  top:17px;
  width:6px;
  height:6px;
}
#u10_img {
  position:absolute;
  left:0px;
  top:0px;
  width:6px;
  height:6px;
}
#u11 {
  position:absolute;
  left:2px;
  top:-5px;
  width:2px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12 {
  position:absolute;
  left:340px;
  top:27px;
  width:6px;
  height:6px;
}
#u12_img {
  position:absolute;
  left:0px;
  top:0px;
  width:6px;
  height:6px;
}
#u13 {
  position:absolute;
  left:2px;
  top:-5px;
  width:2px;
  visibility:hidden;
  word-wrap:break-word;
}
#u14 {
  position:absolute;
  left:0px;
  top:39px;
  width:89px;
  height:40px;
}
#u14_img {
  position:absolute;
  left:0px;
  top:0px;
  width:89px;
  height:40px;
}
#u15 {
  position:absolute;
  left:2px;
  top:12px;
  width:85px;
  word-wrap:break-word;
}
#u16 {
  position:absolute;
  left:88px;
  top:39px;
  width:91px;
  height:40px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  color:#0099FF;
}
#u16_img {
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  height:40px;
}
#u17 {
  position:absolute;
  left:2px;
  top:12px;
  width:87px;
  word-wrap:break-word;
}
#u18 {
  position:absolute;
  left:179px;
  top:39px;
  width:91px;
  height:40px;
}
#u18_img {
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  height:40px;
}
#u19 {
  position:absolute;
  left:2px;
  top:12px;
  width:87px;
  word-wrap:break-word;
}
#u20 {
  position:absolute;
  left:269px;
  top:39px;
  width:91px;
  height:40px;
}
#u20_img {
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  height:40px;
}
#u21 {
  position:absolute;
  left:2px;
  top:12px;
  width:87px;
  word-wrap:break-word;
}
#u22 {
  position:absolute;
  left:89px;
  top:77px;
  width:89px;
  height:2px;
}
#u22_img {
  position:absolute;
  left:0px;
  top:0px;
  width:89px;
  height:2px;
}
#u23 {
  position:absolute;
  left:2px;
  top:-7px;
  width:85px;
  visibility:hidden;
  word-wrap:break-word;
}
#u24 {
  position:absolute;
  left:0px;
  top:89px;
  width:360px;
  height:40px;
}
#u24_img {
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:40px;
}
#u25 {
  position:absolute;
  left:2px;
  top:12px;
  width:356px;
  visibility:hidden;
  word-wrap:break-word;
}
#u26 {
  position:absolute;
  left:10px;
  top:94px;
  width:30px;
  height:30px;
}
#u26_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u27 {
  position:absolute;
  left:2px;
  top:7px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
#u28 {
  position:absolute;
  left:50px;
  top:101px;
  width:27px;
  height:16px;
}
#u28_img {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:16px;
}
#u29 {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  white-space:nowrap;
}
#u30 {
  position:absolute;
  left:0px;
  top:129px;
  width:360px;
  height:86px;
}
#u30_img {
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:86px;
}
#u31 {
  position:absolute;
  left:2px;
  top:35px;
  width:356px;
  visibility:hidden;
  word-wrap:break-word;
}
#u32 {
  position:absolute;
  left:10px;
  top:139px;
  width:61px;
  height:17px;
  font-size:15px;
}
#u32_img {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  height:17px;
}
#u33 {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  white-space:nowrap;
}
#u34 {
  position:absolute;
  left:10px;
  top:178px;
  width:130px;
  height:14px;
  font-size:11px;
  color:#666666;
}
#u34_img {
  position:absolute;
  left:0px;
  top:0px;
  width:130px;
  height:14px;
}
#u35 {
  position:absolute;
  left:0px;
  top:0px;
  width:130px;
  white-space:nowrap;
}
#u36 {
  position:absolute;
  left:10px;
  top:195px;
  width:186px;
  height:14px;
  font-size:11px;
  color:#666666;
}
#u36_img {
  position:absolute;
  left:0px;
  top:0px;
  width:186px;
  height:14px;
}
#u37 {
  position:absolute;
  left:0px;
  top:0px;
  width:186px;
  white-space:nowrap;
}
#u38 {
  position:absolute;
  left:296px;
  top:139px;
  width:50px;
  height:19px;
  font-size:16px;
}
#u38_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:19px;
}
#u39 {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  white-space:nowrap;
}
#u40 {
  position:absolute;
  left:0px;
  top:225px;
  width:360px;
  height:40px;
}
#u40_img {
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:40px;
}
#u41 {
  position:absolute;
  left:2px;
  top:12px;
  width:356px;
  visibility:hidden;
  word-wrap:break-word;
}
#u42 {
  position:absolute;
  left:10px;
  top:230px;
  width:30px;
  height:30px;
}
#u42_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u43 {
  position:absolute;
  left:2px;
  top:7px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
#u44 {
  position:absolute;
  left:50px;
  top:237px;
  width:27px;
  height:16px;
}
#u44_img {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:16px;
}
#u45 {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  white-space:nowrap;
}
#u46 {
  position:absolute;
  left:0px;
  top:265px;
  width:360px;
  height:86px;
}
#u46_img {
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:86px;
}
#u47 {
  position:absolute;
  left:2px;
  top:35px;
  width:356px;
  visibility:hidden;
  word-wrap:break-word;
}
#u48 {
  position:absolute;
  left:10px;
  top:275px;
  width:285px;
  height:34px;
  font-size:15px;
}
#u48_img {
  position:absolute;
  left:0px;
  top:0px;
  width:285px;
  height:34px;
}
#u49 {
  position:absolute;
  left:0px;
  top:0px;
  width:285px;
  word-wrap:break-word;
}
#u50 {
  position:absolute;
  left:10px;
  top:314px;
  width:130px;
  height:14px;
  font-size:11px;
  color:#666666;
}
#u50_img {
  position:absolute;
  left:0px;
  top:0px;
  width:130px;
  height:14px;
}
#u51 {
  position:absolute;
  left:0px;
  top:0px;
  width:130px;
  white-space:nowrap;
}
#u52 {
  position:absolute;
  left:10px;
  top:331px;
  width:40px;
  height:14px;
  font-size:11px;
  color:#666666;
}
#u52_img {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:14px;
}
#u53 {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  white-space:nowrap;
}
#u54 {
  position:absolute;
  left:305px;
  top:275px;
  width:41px;
  height:19px;
  font-size:16px;
}
#u54_img {
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  height:19px;
}
#u55 {
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  white-space:nowrap;
}
#u56 {
  position:absolute;
  left:312px;
  top:238px;
  width:34px;
  height:14px;
  font-size:11px;
  color:#FF0000;
}
#u56_img {
  position:absolute;
  left:0px;
  top:0px;
  width:34px;
  height:14px;
}
#u57 {
  position:absolute;
  left:0px;
  top:0px;
  width:34px;
  white-space:nowrap;
}
#u58 {
  position:absolute;
  left:312px;
  top:102px;
  width:34px;
  height:14px;
  font-size:11px;
  color:#FF0000;
}
#u58_img {
  position:absolute;
  left:0px;
  top:0px;
  width:34px;
  height:14px;
}
#u59 {
  position:absolute;
  left:0px;
  top:0px;
  width:34px;
  white-space:nowrap;
}
#u60 {
  position:fixed;
  left:0px;
  bottom:0px;
}
#u60_state0 {
  position:relative;
  left:0px;
  top:0px;
  background-image:none;
}
#u60_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u62 {
  position:fixed;
  left:0px;
  bottom:0px;
  width:360px;
  height:63px;
  overflow:hidden;
}
#u62_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:63px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u62_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u63 {
  position:absolute;
  left:0px;
  top:23px;
  width:360px;
  height:40px;
}
#u63_img {
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:40px;
}
#u64 {
  position:absolute;
  left:2px;
  top:12px;
  width:356px;
  visibility:hidden;
  word-wrap:break-word;
}
#u65 {
  position:absolute;
  left:29px;
  top:47px;
  width:21px;
  height:13px;
  font-size:10px;
}
#u65_img {
  position:absolute;
  left:0px;
  top:0px;
  width:21px;
  height:13px;
}
#u66 {
  position:absolute;
  left:0px;
  top:0px;
  width:21px;
  white-space:nowrap;
}
#u67 {
  position:absolute;
  left:92px;
  top:47px;
  width:41px;
  height:13px;
  font-size:10px;
}
#u67_img {
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  height:13px;
}
#u68 {
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  white-space:nowrap;
}
#u69 {
  position:absolute;
  left:299px;
  top:47px;
  width:41px;
  height:13px;
  font-size:10px;
}
#u69_img {
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  height:13px;
}
#u70 {
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  white-space:nowrap;
}
#u71 {
  position:absolute;
  left:29px;
  top:25px;
  width:20px;
  height:20px;
}
#u71_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u72 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u73 {
  position:absolute;
  left:310px;
  top:27px;
  width:20px;
  height:20px;
}
#u73_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u74 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u75 {
  position:absolute;
  left:240px;
  top:47px;
  width:21px;
  height:13px;
  font-size:10px;
}
#u75_img {
  position:absolute;
  left:0px;
  top:0px;
  width:21px;
  height:13px;
}
#u76 {
  position:absolute;
  left:0px;
  top:0px;
  width:21px;
  white-space:nowrap;
}
#u77 {
  position:absolute;
  left:240px;
  top:27px;
  width:20px;
  height:20px;
}
#u77_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u78 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u79 {
  position:absolute;
  left:150px;
  top:0px;
  width:60px;
  height:60px;
}
#u79_img {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:60px;
}
#u80 {
  position:absolute;
  left:2px;
  top:22px;
  width:56px;
  visibility:hidden;
  word-wrap:break-word;
}
#u81 {
  position:absolute;
  left:102px;
  top:27px;
  width:20px;
  height:20px;
}
#u81_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u82 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u83 {
  position:absolute;
  left:290px;
  top:23px;
  width:59px;
  height:40px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u84 {
  position:absolute;
  left:10px;
  top:23px;
  width:59px;
  height:40px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u85 {
  position:absolute;
  left:162px;
  top:8px;
  width:36px;
  height:42px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-size:11px;
  color:#FF0000;
  text-align:center;
}
#u85_img {
  position:absolute;
  left:0px;
  top:0px;
  width:36px;
  height:42px;
}
#u86 {
  position:absolute;
  left:0px;
  top:0px;
  width:36px;
  white-space:nowrap;
}
#u87 {
  position:absolute;
  left:87px;
  top:23px;
  width:50px;
  height:37px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u88 {
  position:absolute;
  left:225px;
  top:24px;
  width:50px;
  height:37px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u89 {
  position:absolute;
  left:150px;
  top:0px;
  width:60px;
  height:63px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
