body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:360px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:710px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:710px;
}
#u1 {
  position:absolute;
  left:2px;
  top:347px;
  width:356px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2 {
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:40px;
}
#u2_img {
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:40px;
}
#u3 {
  position:absolute;
  left:2px;
  top:12px;
  width:356px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4 {
  position:absolute;
  left:5px;
  top:8px;
  width:25px;
  height:25px;
}
#u4_img {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:25px;
}
#u5 {
  position:absolute;
  left:2px;
  top:4px;
  width:21px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6 {
  position:absolute;
  left:148px;
  top:11px;
  width:65px;
  height:19px;
  font-size:16px;
  color:#FFFFFF;
}
#u6_img {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:19px;
}
#u7 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u8 {
  position:absolute;
  left:50px;
  top:50px;
  width:260px;
  height:30px;
}
#u8_img {
  position:absolute;
  left:0px;
  top:0px;
  width:260px;
  height:30px;
}
#u9 {
  position:absolute;
  left:2px;
  top:7px;
  width:256px;
  visibility:hidden;
  word-wrap:break-word;
}
#u10 {
  position:absolute;
  left:50px;
  top:50px;
  width:130px;
  height:30px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  color:#FFFFFF;
}
#u10_img {
  position:absolute;
  left:0px;
  top:0px;
  width:130px;
  height:30px;
}
#u11 {
  position:absolute;
  left:2px;
  top:7px;
  width:126px;
  word-wrap:break-word;
}
#u12 {
  position:absolute;
  left:180px;
  top:50px;
  width:130px;
  height:30px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  color:#0099FF;
}
#u12_img {
  position:absolute;
  left:0px;
  top:0px;
  width:130px;
  height:30px;
}
#u13 {
  position:absolute;
  left:2px;
  top:7px;
  width:126px;
  word-wrap:break-word;
}
#u14 {
  position:absolute;
  left:0px;
  top:90px;
  width:360px;
  height:60px;
}
#u14_img {
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:60px;
}
#u15 {
  position:absolute;
  left:2px;
  top:22px;
  width:356px;
  visibility:hidden;
  word-wrap:break-word;
}
#u16 {
  position:absolute;
  left:10px;
  top:100px;
  width:40px;
  height:40px;
}
#u16_img {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:40px;
}
#u17 {
  position:absolute;
  left:2px;
  top:12px;
  width:36px;
  visibility:hidden;
  word-wrap:break-word;
}
#u18 {
  position:absolute;
  left:68px;
  top:100px;
  width:27px;
  height:16px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
}
#u18_img {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:16px;
}
#u19 {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  white-space:nowrap;
}
#u20 {
  position:absolute;
  left:289px;
  top:126px;
  width:61px;
  height:16px;
  color:#FF0000;
}
#u20_img {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  height:16px;
}
#u21 {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  white-space:nowrap;
}
#u22 {
  position:absolute;
  left:68px;
  top:126px;
  width:68px;
  height:16px;
}
#u22_img {
  position:absolute;
  left:0px;
  top:0px;
  width:68px;
  height:16px;
}
#u23 {
  position:absolute;
  left:0px;
  top:0px;
  width:68px;
  white-space:nowrap;
}
#u24 {
  position:absolute;
  left:0px;
  top:149px;
  width:360px;
  height:60px;
}
#u24_img {
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:60px;
}
#u25 {
  position:absolute;
  left:2px;
  top:22px;
  width:356px;
  visibility:hidden;
  word-wrap:break-word;
}
#u26 {
  position:absolute;
  left:10px;
  top:159px;
  width:40px;
  height:40px;
}
#u26_img {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:40px;
}
#u27 {
  position:absolute;
  left:2px;
  top:12px;
  width:36px;
  visibility:hidden;
  word-wrap:break-word;
}
#u28 {
  position:absolute;
  left:68px;
  top:159px;
  width:53px;
  height:16px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
}
#u28_img {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:16px;
}
#u29 {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  white-space:nowrap;
}
#u30 {
  position:absolute;
  left:289px;
  top:185px;
  width:61px;
  height:16px;
  color:#FF0000;
}
#u30_img {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  height:16px;
}
#u31 {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  white-space:nowrap;
}
#u32 {
  position:absolute;
  left:68px;
  top:185px;
  width:68px;
  height:16px;
}
#u32_img {
  position:absolute;
  left:0px;
  top:0px;
  width:68px;
  height:16px;
}
#u33 {
  position:absolute;
  left:0px;
  top:0px;
  width:68px;
  white-space:nowrap;
}
#u34 {
  position:absolute;
  left:0px;
  top:208px;
  width:360px;
  height:60px;
}
#u34_img {
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:60px;
}
#u35 {
  position:absolute;
  left:2px;
  top:22px;
  width:356px;
  visibility:hidden;
  word-wrap:break-word;
}
#u36 {
  position:absolute;
  left:10px;
  top:218px;
  width:40px;
  height:40px;
}
#u36_img {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:40px;
}
#u37 {
  position:absolute;
  left:2px;
  top:12px;
  width:36px;
  visibility:hidden;
  word-wrap:break-word;
}
#u38 {
  position:absolute;
  left:68px;
  top:218px;
  width:27px;
  height:16px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
}
#u38_img {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:16px;
}
#u39 {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  white-space:nowrap;
}
#u40 {
  position:absolute;
  left:289px;
  top:244px;
  width:61px;
  height:16px;
  color:#FF0000;
}
#u40_img {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  height:16px;
}
#u41 {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  white-space:nowrap;
}
#u42 {
  position:absolute;
  left:68px;
  top:244px;
  width:68px;
  height:16px;
}
#u42_img {
  position:absolute;
  left:0px;
  top:0px;
  width:68px;
  height:16px;
}
#u43 {
  position:absolute;
  left:0px;
  top:0px;
  width:68px;
  white-space:nowrap;
}
#u44 {
  position:absolute;
  left:0px;
  top:267px;
  width:360px;
  height:60px;
}
#u44_img {
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:60px;
}
#u45 {
  position:absolute;
  left:2px;
  top:22px;
  width:356px;
  visibility:hidden;
  word-wrap:break-word;
}
#u46 {
  position:absolute;
  left:10px;
  top:277px;
  width:40px;
  height:40px;
}
#u46_img {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:40px;
}
#u47 {
  position:absolute;
  left:2px;
  top:12px;
  width:36px;
  visibility:hidden;
  word-wrap:break-word;
}
#u48 {
  position:absolute;
  left:68px;
  top:277px;
  width:53px;
  height:16px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
}
#u48_img {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:16px;
}
#u49 {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  white-space:nowrap;
}
#u50 {
  position:absolute;
  left:289px;
  top:303px;
  width:61px;
  height:16px;
  color:#FF0000;
}
#u50_img {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  height:16px;
}
#u51 {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  white-space:nowrap;
}
#u52 {
  position:absolute;
  left:68px;
  top:303px;
  width:68px;
  height:16px;
}
#u52_img {
  position:absolute;
  left:0px;
  top:0px;
  width:68px;
  height:16px;
}
#u53 {
  position:absolute;
  left:0px;
  top:0px;
  width:68px;
  white-space:nowrap;
}
#u54 {
  position:absolute;
  left:0px;
  top:326px;
  width:360px;
  height:60px;
}
#u54_img {
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:60px;
}
#u55 {
  position:absolute;
  left:2px;
  top:22px;
  width:356px;
  visibility:hidden;
  word-wrap:break-word;
}
#u56 {
  position:absolute;
  left:10px;
  top:336px;
  width:40px;
  height:40px;
}
#u56_img {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:40px;
}
#u57 {
  position:absolute;
  left:2px;
  top:12px;
  width:36px;
  visibility:hidden;
  word-wrap:break-word;
}
#u58 {
  position:absolute;
  left:68px;
  top:336px;
  width:27px;
  height:16px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
}
#u58_img {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:16px;
}
#u59 {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  white-space:nowrap;
}
#u60 {
  position:absolute;
  left:289px;
  top:362px;
  width:61px;
  height:16px;
  color:#FF0000;
}
#u60_img {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  height:16px;
}
#u61 {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  white-space:nowrap;
}
#u62 {
  position:absolute;
  left:68px;
  top:362px;
  width:68px;
  height:16px;
}
#u62_img {
  position:absolute;
  left:0px;
  top:0px;
  width:68px;
  height:16px;
}
#u63 {
  position:absolute;
  left:0px;
  top:0px;
  width:68px;
  white-space:nowrap;
}
#u64 {
  position:absolute;
  left:0px;
  top:385px;
  width:360px;
  height:60px;
}
#u64_img {
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:60px;
}
#u65 {
  position:absolute;
  left:2px;
  top:22px;
  width:356px;
  visibility:hidden;
  word-wrap:break-word;
}
#u66 {
  position:absolute;
  left:10px;
  top:395px;
  width:40px;
  height:40px;
}
#u66_img {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:40px;
}
#u67 {
  position:absolute;
  left:2px;
  top:12px;
  width:36px;
  visibility:hidden;
  word-wrap:break-word;
}
#u68 {
  position:absolute;
  left:68px;
  top:395px;
  width:40px;
  height:16px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
}
#u68_img {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:16px;
}
#u69 {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  white-space:nowrap;
}
#u70 {
  position:absolute;
  left:289px;
  top:421px;
  width:61px;
  height:16px;
  color:#FF0000;
}
#u70_img {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  height:16px;
}
#u71 {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  white-space:nowrap;
}
#u72 {
  position:absolute;
  left:68px;
  top:421px;
  width:68px;
  height:16px;
}
#u72_img {
  position:absolute;
  left:0px;
  top:0px;
  width:68px;
  height:16px;
}
#u73 {
  position:absolute;
  left:0px;
  top:0px;
  width:68px;
  white-space:nowrap;
}
#u74 {
  position:absolute;
  left:10px;
  top:455px;
  width:340px;
  height:40px;
  color:#FFFFFF;
}
#u74_img {
  position:absolute;
  left:0px;
  top:0px;
  width:340px;
  height:40px;
}
#u75 {
  position:absolute;
  left:2px;
  top:12px;
  width:336px;
  word-wrap:break-word;
}
#u76 {
  position:absolute;
  left:10px;
  top:505px;
  width:340px;
  height:40px;
}
#u76_img {
  position:absolute;
  left:0px;
  top:0px;
  width:340px;
  height:40px;
}
#u77 {
  position:absolute;
  left:2px;
  top:12px;
  width:336px;
  word-wrap:break-word;
}
