body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:360px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:0px;
  top:-17px;
  width:360px;
  height:684px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:684px;
}
#u1 {
  position:absolute;
  left:2px;
  top:334px;
  width:356px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2 {
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:40px;
}
#u2_img {
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:40px;
}
#u3 {
  position:absolute;
  left:2px;
  top:12px;
  width:356px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4 {
  position:absolute;
  left:134px;
  top:9px;
  width:91px;
  height:22px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-size:18px;
}
#u4_img {
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  height:22px;
}
#u5 {
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  white-space:nowrap;
}
#u6 {
  position:absolute;
  left:0px;
  top:50px;
  width:360px;
  height:30px;
}
#u6_img {
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:30px;
}
#u7 {
  position:absolute;
  left:2px;
  top:7px;
  width:356px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8 {
  position:absolute;
  left:318px;
  top:12px;
  width:27px;
  height:16px;
  color:#666666;
}
#u8_img {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:16px;
}
#u9 {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  white-space:nowrap;
}
#u10 {
  position:absolute;
  left:35px;
  top:58px;
  width:79px;
  height:16px;
}
#u10_img {
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  height:16px;
}
#u11 {
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  white-space:nowrap;
}
#u12 {
  position:absolute;
  left:0px;
  top:80px;
  width:360px;
  height:90px;
}
#u12_img {
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:90px;
}
#u13 {
  position:absolute;
  left:2px;
  top:37px;
  width:356px;
  visibility:hidden;
  word-wrap:break-word;
}
#u14 {
  position:absolute;
  left:35px;
  top:90px;
  width:70px;
  height:70px;
}
#u14_img {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:70px;
}
#u15 {
  position:absolute;
  left:2px;
  top:27px;
  width:66px;
  visibility:hidden;
  word-wrap:break-word;
}
#u16 {
  position:absolute;
  left:14px;
  top:58px;
  width:21px;
  height:16px;
}
#u17 {
  position:absolute;
  left:16px;
  top:0px;
  width:3px;
  visibility:hidden;
  word-wrap:break-word;
}
#u16_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u18 {
  position:absolute;
  left:14px;
  top:112px;
  width:21px;
  height:16px;
}
#u19 {
  position:absolute;
  left:16px;
  top:0px;
  width:3px;
  visibility:hidden;
  word-wrap:break-word;
}
#u18_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u20 {
  position:absolute;
  left:120px;
  top:90px;
  width:225px;
  height:38px;
  font-size:11px;
}
#u20_img {
  position:absolute;
  left:0px;
  top:0px;
  width:225px;
  height:38px;
}
#u21 {
  position:absolute;
  left:0px;
  top:0px;
  width:225px;
  word-wrap:break-word;
}
#u22 {
  position:absolute;
  left:120px;
  top:119px;
  width:100px;
  height:12px;
  font-size:9px;
  color:#999999;
}
#u22_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:12px;
}
#u23 {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  white-space:nowrap;
}
#u24 {
  position:absolute;
  left:120px;
  top:144px;
  width:44px;
  height:16px;
}
#u24_img {
  position:absolute;
  left:0px;
  top:0px;
  width:44px;
  height:16px;
}
#u25 {
  position:absolute;
  left:0px;
  top:0px;
  width:44px;
  white-space:nowrap;
}
#u26 {
  position:absolute;
  left:274px;
  top:136px;
  width:23px;
  height:23px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-size:11px;
}
#u26_img {
  position:absolute;
  left:0px;
  top:0px;
  width:23px;
  height:23px;
}
#u27 {
  position:absolute;
  left:2px;
  top:4px;
  width:19px;
  word-wrap:break-word;
}
#u28 {
  position:absolute;
  left:322px;
  top:136px;
  width:23px;
  height:23px;
  font-size:20px;
}
#u28_img {
  position:absolute;
  left:0px;
  top:0px;
  width:23px;
  height:23px;
}
#u29 {
  position:absolute;
  left:2px;
  top:0px;
  width:19px;
  word-wrap:break-word;
}
#u30 {
  position:absolute;
  left:305px;
  top:140px;
  width:10px;
  height:19px;
  font-size:16px;
}
#u30_img {
  position:absolute;
  left:0px;
  top:0px;
  width:10px;
  height:19px;
}
#u31 {
  position:absolute;
  left:0px;
  top:0px;
  width:10px;
  white-space:nowrap;
}
#u32 {
  position:absolute;
  left:0px;
  top:170px;
  width:360px;
  height:90px;
}
#u32_img {
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:90px;
}
#u33 {
  position:absolute;
  left:2px;
  top:37px;
  width:356px;
  visibility:hidden;
  word-wrap:break-word;
}
#u34 {
  position:absolute;
  left:35px;
  top:180px;
  width:70px;
  height:70px;
}
#u34_img {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:70px;
}
#u35 {
  position:absolute;
  left:2px;
  top:27px;
  width:66px;
  visibility:hidden;
  word-wrap:break-word;
}
#u36 {
  position:absolute;
  left:14px;
  top:202px;
  width:21px;
  height:16px;
}
#u37 {
  position:absolute;
  left:16px;
  top:0px;
  width:3px;
  visibility:hidden;
  word-wrap:break-word;
}
#u36_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u38 {
  position:absolute;
  left:120px;
  top:180px;
  width:225px;
  height:38px;
  font-size:11px;
}
#u38_img {
  position:absolute;
  left:0px;
  top:0px;
  width:225px;
  height:38px;
}
#u39 {
  position:absolute;
  left:0px;
  top:0px;
  width:225px;
  word-wrap:break-word;
}
#u40 {
  position:absolute;
  left:120px;
  top:209px;
  width:100px;
  height:12px;
  font-size:9px;
  color:#999999;
}
#u40_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:12px;
}
#u41 {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  white-space:nowrap;
}
#u42 {
  position:absolute;
  left:120px;
  top:234px;
  width:44px;
  height:16px;
}
#u42_img {
  position:absolute;
  left:0px;
  top:0px;
  width:44px;
  height:16px;
}
#u43 {
  position:absolute;
  left:0px;
  top:0px;
  width:44px;
  white-space:nowrap;
}
#u44 {
  position:absolute;
  left:274px;
  top:226px;
  width:23px;
  height:23px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-size:11px;
}
#u44_img {
  position:absolute;
  left:0px;
  top:0px;
  width:23px;
  height:23px;
}
#u45 {
  position:absolute;
  left:2px;
  top:4px;
  width:19px;
  word-wrap:break-word;
}
#u46 {
  position:absolute;
  left:322px;
  top:226px;
  width:23px;
  height:23px;
  font-size:20px;
}
#u46_img {
  position:absolute;
  left:0px;
  top:0px;
  width:23px;
  height:23px;
}
#u47 {
  position:absolute;
  left:2px;
  top:0px;
  width:19px;
  word-wrap:break-word;
}
#u48 {
  position:absolute;
  left:305px;
  top:230px;
  width:10px;
  height:19px;
  font-size:16px;
}
#u48_img {
  position:absolute;
  left:0px;
  top:0px;
  width:10px;
  height:19px;
}
#u49 {
  position:absolute;
  left:0px;
  top:0px;
  width:10px;
  white-space:nowrap;
}
#u50 {
  position:absolute;
  left:0px;
  top:260px;
  width:360px;
  height:90px;
}
#u50_img {
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:90px;
}
#u51 {
  position:absolute;
  left:2px;
  top:37px;
  width:356px;
  visibility:hidden;
  word-wrap:break-word;
}
#u52 {
  position:absolute;
  left:35px;
  top:270px;
  width:70px;
  height:70px;
}
#u52_img {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:70px;
}
#u53 {
  position:absolute;
  left:2px;
  top:27px;
  width:66px;
  visibility:hidden;
  word-wrap:break-word;
}
#u54 {
  position:absolute;
  left:14px;
  top:292px;
  width:21px;
  height:16px;
}
#u55 {
  position:absolute;
  left:16px;
  top:0px;
  width:3px;
  visibility:hidden;
  word-wrap:break-word;
}
#u54_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u56 {
  position:absolute;
  left:120px;
  top:270px;
  width:225px;
  height:38px;
  font-size:11px;
}
#u56_img {
  position:absolute;
  left:0px;
  top:0px;
  width:225px;
  height:38px;
}
#u57 {
  position:absolute;
  left:0px;
  top:0px;
  width:225px;
  word-wrap:break-word;
}
#u58 {
  position:absolute;
  left:120px;
  top:299px;
  width:100px;
  height:12px;
  font-size:9px;
  color:#999999;
}
#u58_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:12px;
}
#u59 {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  white-space:nowrap;
}
#u60 {
  position:absolute;
  left:120px;
  top:324px;
  width:44px;
  height:16px;
}
#u60_img {
  position:absolute;
  left:0px;
  top:0px;
  width:44px;
  height:16px;
}
#u61 {
  position:absolute;
  left:0px;
  top:0px;
  width:44px;
  white-space:nowrap;
}
#u62 {
  position:absolute;
  left:274px;
  top:316px;
  width:23px;
  height:23px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-size:11px;
}
#u62_img {
  position:absolute;
  left:0px;
  top:0px;
  width:23px;
  height:23px;
}
#u63 {
  position:absolute;
  left:2px;
  top:4px;
  width:19px;
  word-wrap:break-word;
}
#u64 {
  position:absolute;
  left:322px;
  top:316px;
  width:23px;
  height:23px;
  font-size:20px;
}
#u64_img {
  position:absolute;
  left:0px;
  top:0px;
  width:23px;
  height:23px;
}
#u65 {
  position:absolute;
  left:2px;
  top:0px;
  width:19px;
  word-wrap:break-word;
}
#u66 {
  position:absolute;
  left:305px;
  top:320px;
  width:10px;
  height:19px;
  font-size:16px;
}
#u66_img {
  position:absolute;
  left:0px;
  top:0px;
  width:10px;
  height:19px;
}
#u67 {
  position:absolute;
  left:0px;
  top:0px;
  width:10px;
  white-space:nowrap;
}
#u68 {
  position:absolute;
  left:0px;
  top:400px;
  width:360px;
  height:30px;
}
#u68_img {
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:30px;
}
#u69 {
  position:absolute;
  left:2px;
  top:7px;
  width:356px;
  visibility:hidden;
  word-wrap:break-word;
}
#u70 {
  position:absolute;
  left:35px;
  top:408px;
  width:79px;
  height:16px;
}
#u70_img {
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  height:16px;
}
#u71 {
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  white-space:nowrap;
}
#u72 {
  position:absolute;
  left:0px;
  top:430px;
  width:360px;
  height:90px;
}
#u72_img {
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:90px;
}
#u73 {
  position:absolute;
  left:2px;
  top:37px;
  width:356px;
  visibility:hidden;
  word-wrap:break-word;
}
#u74 {
  position:absolute;
  left:35px;
  top:440px;
  width:70px;
  height:70px;
}
#u74_img {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:70px;
}
#u75 {
  position:absolute;
  left:2px;
  top:27px;
  width:66px;
  visibility:hidden;
  word-wrap:break-word;
}
#u76 {
  position:absolute;
  left:14px;
  top:408px;
  width:21px;
  height:16px;
}
#u77 {
  position:absolute;
  left:16px;
  top:0px;
  width:3px;
  visibility:hidden;
  word-wrap:break-word;
}
#u76_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u78 {
  position:absolute;
  left:14px;
  top:462px;
  width:21px;
  height:16px;
}
#u79 {
  position:absolute;
  left:16px;
  top:0px;
  width:3px;
  visibility:hidden;
  word-wrap:break-word;
}
#u78_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u80 {
  position:absolute;
  left:120px;
  top:440px;
  width:225px;
  height:38px;
  font-size:11px;
}
#u80_img {
  position:absolute;
  left:0px;
  top:0px;
  width:225px;
  height:38px;
}
#u81 {
  position:absolute;
  left:0px;
  top:0px;
  width:225px;
  word-wrap:break-word;
}
#u82 {
  position:absolute;
  left:120px;
  top:469px;
  width:100px;
  height:12px;
  font-size:9px;
  color:#999999;
}
#u82_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:12px;
}
#u83 {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  white-space:nowrap;
}
#u84 {
  position:absolute;
  left:120px;
  top:494px;
  width:44px;
  height:16px;
}
#u84_img {
  position:absolute;
  left:0px;
  top:0px;
  width:44px;
  height:16px;
}
#u85 {
  position:absolute;
  left:0px;
  top:0px;
  width:44px;
  white-space:nowrap;
}
#u86 {
  position:absolute;
  left:274px;
  top:486px;
  width:23px;
  height:23px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-size:11px;
}
#u86_img {
  position:absolute;
  left:0px;
  top:0px;
  width:23px;
  height:23px;
}
#u87 {
  position:absolute;
  left:2px;
  top:4px;
  width:19px;
  word-wrap:break-word;
}
#u88 {
  position:absolute;
  left:322px;
  top:486px;
  width:23px;
  height:23px;
  font-size:20px;
}
#u88_img {
  position:absolute;
  left:0px;
  top:0px;
  width:23px;
  height:23px;
}
#u89 {
  position:absolute;
  left:2px;
  top:0px;
  width:19px;
  word-wrap:break-word;
}
#u90 {
  position:absolute;
  left:305px;
  top:490px;
  width:10px;
  height:19px;
  font-size:16px;
}
#u90_img {
  position:absolute;
  left:0px;
  top:0px;
  width:10px;
  height:19px;
}
#u91 {
  position:absolute;
  left:0px;
  top:0px;
  width:10px;
  white-space:nowrap;
}
#u92 {
  position:absolute;
  left:0px;
  top:350px;
  width:360px;
  height:40px;
}
#u92_img {
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:40px;
}
#u93 {
  position:absolute;
  left:2px;
  top:12px;
  width:356px;
  visibility:hidden;
  word-wrap:break-word;
}
#u94 {
  position:absolute;
  left:14px;
  top:362px;
  width:68px;
  height:16px;
}
#u94_img {
  position:absolute;
  left:0px;
  top:0px;
  width:68px;
  height:16px;
}
#u95 {
  position:absolute;
  left:0px;
  top:0px;
  width:68px;
  white-space:nowrap;
}
#u96 {
  position:absolute;
  left:245px;
  top:362px;
  width:27px;
  height:16px;
}
#u96_img {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:16px;
}
#u97 {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  white-space:nowrap;
}
#u98 {
  position:absolute;
  left:282px;
  top:360px;
  width:63px;
  height:19px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-size:16px;
  color:#FF0000;
}
#u98_img {
  position:absolute;
  left:0px;
  top:0px;
  width:63px;
  height:19px;
}
#u99 {
  position:absolute;
  left:0px;
  top:0px;
  width:63px;
  white-space:nowrap;
}
#u100 {
  position:absolute;
  left:0px;
  top:520px;
  width:360px;
  height:40px;
}
#u100_img {
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:40px;
}
#u101 {
  position:absolute;
  left:2px;
  top:12px;
  width:356px;
  visibility:hidden;
  word-wrap:break-word;
}
#u102 {
  position:absolute;
  left:14px;
  top:532px;
  width:68px;
  height:16px;
}
#u102_img {
  position:absolute;
  left:0px;
  top:0px;
  width:68px;
  height:16px;
}
#u103 {
  position:absolute;
  left:0px;
  top:0px;
  width:68px;
  white-space:nowrap;
}
#u104 {
  position:absolute;
  left:245px;
  top:532px;
  width:27px;
  height:16px;
}
#u104_img {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:16px;
}
#u105 {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  white-space:nowrap;
}
#u106 {
  position:absolute;
  left:291px;
  top:530px;
  width:54px;
  height:19px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-size:16px;
  color:#FF0000;
}
#u106_img {
  position:absolute;
  left:0px;
  top:0px;
  width:54px;
  height:19px;
}
#u107 {
  position:absolute;
  left:0px;
  top:0px;
  width:54px;
  white-space:nowrap;
}
#u108 {
  position:fixed;
  left:0px;
  bottom:0px;
}
#u108_state0 {
  position:relative;
  left:0px;
  top:0px;
  background-image:none;
}
#u108_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u109 {
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:50px;
}
#u109_img {
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:50px;
}
#u110 {
  position:absolute;
  left:2px;
  top:17px;
  width:356px;
  visibility:hidden;
  word-wrap:break-word;
}
#u111 {
  position:absolute;
  left:240px;
  top:0px;
  width:120px;
  height:50px;
  color:#FFFFFF;
}
#u111_img {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:50px;
}
#u112 {
  position:absolute;
  left:2px;
  top:17px;
  width:116px;
  word-wrap:break-word;
}
#u113 {
  position:absolute;
  left:86px;
  top:14px;
  width:114px;
  height:22px;
}
#u113_img {
  position:absolute;
  left:0px;
  top:0px;
  width:114px;
  height:22px;
}
#u114 {
  position:absolute;
  left:0px;
  top:0px;
  width:114px;
  white-space:nowrap;
}
#u115 {
  position:absolute;
  left:10px;
  top:17px;
  width:21px;
  height:16px;
}
#u116 {
  position:absolute;
  left:16px;
  top:0px;
  width:3px;
  visibility:hidden;
  word-wrap:break-word;
}
#u115_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u117 {
  position:absolute;
  left:31px;
  top:18px;
  width:23px;
  height:14px;
  font-size:11px;
}
#u117_img {
  position:absolute;
  left:0px;
  top:0px;
  width:23px;
  height:14px;
}
#u118 {
  position:absolute;
  left:0px;
  top:0px;
  width:23px;
  white-space:nowrap;
}
#u108_state1 {
  position:relative;
  left:0px;
  top:0px;
  visibility:hidden;
  background-image:none;
}
#u108_state1_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u119 {
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:50px;
}
#u119_img {
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:50px;
}
#u120 {
  position:absolute;
  left:2px;
  top:17px;
  width:356px;
  visibility:hidden;
  word-wrap:break-word;
}
#u121 {
  position:absolute;
  left:240px;
  top:0px;
  width:120px;
  height:50px;
  color:#FFFFFF;
}
#u121_img {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:50px;
}
#u122 {
  position:absolute;
  left:2px;
  top:17px;
  width:116px;
  word-wrap:break-word;
}
#u123 {
  position:absolute;
  left:10px;
  top:17px;
  width:21px;
  height:16px;
}
#u124 {
  position:absolute;
  left:16px;
  top:0px;
  width:3px;
  visibility:hidden;
  word-wrap:break-word;
}
#u123_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u125 {
  position:absolute;
  left:31px;
  top:18px;
  width:23px;
  height:14px;
  font-size:11px;
}
#u125_img {
  position:absolute;
  left:0px;
  top:0px;
  width:23px;
  height:14px;
}
#u126 {
  position:absolute;
  left:0px;
  top:0px;
  width:23px;
  white-space:nowrap;
}
#u127 {
  position:absolute;
  left:335px;
  top:54px;
  width:25px;
  height:25px;
}
#u127_img {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:25px;
}
#u128 {
  position:absolute;
  left:2px;
  top:4px;
  width:21px;
  visibility:hidden;
  word-wrap:break-word;
}
#u129 {
  position:absolute;
  left:335px;
  top:404px;
  width:25px;
  height:25px;
}
#u129_img {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:25px;
}
#u130 {
  position:absolute;
  left:2px;
  top:4px;
  width:21px;
  visibility:hidden;
  word-wrap:break-word;
}
#u131 {
  position:absolute;
  left:35px;
  top:50px;
  width:325px;
  height:30px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u132 {
  position:absolute;
  left:35px;
  top:400px;
  width:325px;
  height:30px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u133 {
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  height:41px;
}
#u133_img {
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  height:41px;
}
#u134 {
  position:absolute;
  left:2px;
  top:12px;
  width:37px;
  visibility:hidden;
  word-wrap:break-word;
}
#u135 {
  position:absolute;
  left:300px;
  top:0px;
  width:60px;
  height:40px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u136 {
  position:absolute;
  left:300px;
  top:0px;
  width:60px;
  height:40px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
