body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:360px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:1540px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:1540px;
}
#u1 {
  position:absolute;
  left:2px;
  top:762px;
  width:356px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2 {
  position:absolute;
  left:0px;
  top:0px;
  width:359px;
  height:40px;
}
#u2_img {
  position:absolute;
  left:0px;
  top:0px;
  width:359px;
  height:40px;
}
#u3 {
  position:absolute;
  left:2px;
  top:12px;
  width:355px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4 {
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  height:41px;
}
#u4_img {
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  height:41px;
}
#u5 {
  position:absolute;
  left:2px;
  top:12px;
  width:37px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6 {
  position:absolute;
  left:143px;
  top:10px;
  width:73px;
  height:22px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-size:18px;
  color:#666666;
}
#u6_img {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:22px;
}
#u7 {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  white-space:nowrap;
}
#u8 {
  position:absolute;
  left:12px;
  top:91px;
  width:336px;
  height:439px;
}
#u8_img {
  position:absolute;
  left:0px;
  top:0px;
  width:336px;
  height:439px;
}
#u9 {
  position:absolute;
  left:2px;
  top:212px;
  width:332px;
  visibility:hidden;
  word-wrap:break-word;
}
#u10 {
  position:absolute;
  left:16px;
  top:1144px;
  width:329px;
  height:396px;
}
#u10_img {
  position:absolute;
  left:0px;
  top:0px;
  width:329px;
  height:396px;
}
#u11 {
  position:absolute;
  left:2px;
  top:190px;
  width:325px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12 {
  position:absolute;
  left:37px;
  top:606px;
  width:285px;
  height:534px;
}
#u12_img {
  position:absolute;
  left:0px;
  top:0px;
  width:285px;
  height:534px;
}
#u13 {
  position:absolute;
  left:2px;
  top:259px;
  width:281px;
  visibility:hidden;
  word-wrap:break-word;
}
#u14 {
  position:absolute;
  left:57px;
  top:60px;
  width:83px;
  height:10px;
}
#u14_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u14_end {
  position:absolute;
  left:66px;
  top:-5px;
  width:18px;
  height:20px;
}
#u14_line {
  position:absolute;
  left:0px;
  top:4px;
  width:83px;
  height:2px;
}
#u15 {
  position:absolute;
  left:220px;
  top:60px;
  width:83px;
  height:10px;
}
#u15_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u15_end {
  position:absolute;
  left:66px;
  top:-5px;
  width:18px;
  height:20px;
}
#u15_line {
  position:absolute;
  left:0px;
  top:4px;
  width:83px;
  height:2px;
}
#u16 {
  position:absolute;
  left:154px;
  top:57px;
  width:53px;
  height:16px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
}
#u16_img {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:16px;
}
#u17 {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  white-space:nowrap;
}
#u18 {
  position:absolute;
  left:56px;
  top:566px;
  width:83px;
  height:10px;
}
#u18_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u18_end {
  position:absolute;
  left:66px;
  top:-5px;
  width:18px;
  height:20px;
}
#u18_line {
  position:absolute;
  left:0px;
  top:4px;
  width:83px;
  height:2px;
}
#u19 {
  position:absolute;
  left:220px;
  top:566px;
  width:83px;
  height:10px;
}
#u19_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u19_end {
  position:absolute;
  left:66px;
  top:-5px;
  width:18px;
  height:20px;
}
#u19_line {
  position:absolute;
  left:0px;
  top:4px;
  width:83px;
  height:2px;
}
#u20 {
  position:absolute;
  left:154px;
  top:564px;
  width:53px;
  height:16px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
}
#u20_img {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:16px;
}
#u21 {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  white-space:nowrap;
}
