body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:360px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:667px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:667px;
}
#u1 {
  position:absolute;
  left:2px;
  top:326px;
  width:356px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2 {
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:40px;
}
#u2_img {
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:40px;
}
#u3 {
  position:absolute;
  left:2px;
  top:12px;
  width:356px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4 {
  position:absolute;
  left:0px;
  top:0px;
  width:39px;
  height:41px;
}
#u4_img {
  position:absolute;
  left:0px;
  top:0px;
  width:39px;
  height:41px;
}
#u5 {
  position:absolute;
  left:2px;
  top:12px;
  width:35px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6 {
  position:absolute;
  left:145px;
  top:9px;
  width:73px;
  height:22px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-size:18px;
}
#u6_img {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:22px;
}
#u7 {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  white-space:nowrap;
}
#u8 {
  position:absolute;
  left:0px;
  top:47px;
  width:360px;
  height:53px;
}
#u8_img {
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:53px;
}
#u9 {
  position:absolute;
  left:2px;
  top:18px;
  width:356px;
  visibility:hidden;
  word-wrap:break-word;
}
#u10 {
  position:absolute;
  left:10px;
  top:59px;
  width:29px;
  height:30px;
}
#u10_img {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:30px;
}
#u11 {
  position:absolute;
  left:2px;
  top:7px;
  width:25px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12 {
  position:absolute;
  left:48px;
  top:55px;
  width:251px;
  height:16px;
}
#u12_img {
  position:absolute;
  left:0px;
  top:0px;
  width:251px;
  height:16px;
}
#u13 {
  position:absolute;
  left:0px;
  top:0px;
  width:251px;
  white-space:nowrap;
}
#u14 {
  position:absolute;
  left:48px;
  top:76px;
  width:106px;
  height:16px;
}
#u14_img {
  position:absolute;
  left:0px;
  top:0px;
  width:106px;
  height:16px;
}
#u15 {
  position:absolute;
  left:0px;
  top:0px;
  width:106px;
  white-space:nowrap;
}
#u16 {
  position:absolute;
  left:0px;
  top:107px;
  width:360px;
  height:70px;
}
#u16_img {
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:70px;
}
#u17 {
  position:absolute;
  left:2px;
  top:27px;
  width:356px;
  visibility:hidden;
  word-wrap:break-word;
}
#u18 {
  position:absolute;
  left:67px;
  top:115px;
  width:279px;
  height:16px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
}
#u18_img {
  position:absolute;
  left:0px;
  top:0px;
  width:279px;
  height:16px;
}
#u19 {
  position:absolute;
  left:0px;
  top:0px;
  width:279px;
  word-wrap:break-word;
}
#u20 {
  position:absolute;
  left:67px;
  top:148px;
  width:66px;
  height:16px;
}
#u20_img {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  height:16px;
}
#u21 {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  white-space:nowrap;
}
#u22 {
  position:absolute;
  left:9px;
  top:117px;
  width:48px;
  height:50px;
}
#u22_img {
  position:absolute;
  left:0px;
  top:0px;
  width:48px;
  height:50px;
}
#u23 {
  position:absolute;
  left:2px;
  top:17px;
  width:44px;
  visibility:hidden;
  word-wrap:break-word;
}
#u24 {
  position:absolute;
  left:329px;
  top:153px;
  width:19px;
  height:16px;
  color:#999999;
}
#u24_img {
  position:absolute;
  left:0px;
  top:0px;
  width:19px;
  height:16px;
}
#u25 {
  position:absolute;
  left:0px;
  top:0px;
  width:19px;
  white-space:nowrap;
}
#u26 {
  position:absolute;
  left:0px;
  top:297px;
  width:360px;
  height:40px;
  overflow:hidden;
}
#u26_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:40px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u26_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u27 {
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:40px;
}
#u27_img {
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:40px;
}
#u28 {
  position:absolute;
  left:2px;
  top:12px;
  width:356px;
  visibility:hidden;
  word-wrap:break-word;
}
#u29 {
  position:absolute;
  left:10px;
  top:12px;
  width:53px;
  height:16px;
  color:#0099FF;
}
#u29_img {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:16px;
}
#u30 {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  white-space:nowrap;
}
#u31 {
  position:absolute;
  left:283px;
  top:5px;
  width:67px;
  height:30px;
}
#u31_img {
  position:absolute;
  left:0px;
  top:0px;
  width:67px;
  height:30px;
}
#u32 {
  position:absolute;
  left:2px;
  top:7px;
  width:63px;
  word-wrap:break-word;
}
#u33 {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:40px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u34 {
  position:absolute;
  left:0px;
  top:187px;
  width:360px;
  height:73px;
}
#u34_img {
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:73px;
}
#u35 {
  position:absolute;
  left:2px;
  top:28px;
  width:356px;
  visibility:hidden;
  word-wrap:break-word;
}
#u36 {
  position:absolute;
  left:10px;
  top:197px;
  width:56px;
  height:14px;
  font-size:11px;
}
#u36_img {
  position:absolute;
  left:0px;
  top:0px;
  width:56px;
  height:14px;
}
#u37 {
  position:absolute;
  left:0px;
  top:0px;
  width:56px;
  white-space:nowrap;
}
#u38 {
  position:absolute;
  left:73px;
  top:197px;
  width:85px;
  height:16px;
}
#u38_img {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  height:16px;
}
#u39 {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  white-space:nowrap;
}
#u40 {
  position:absolute;
  left:10px;
  top:216px;
  width:56px;
  height:14px;
  font-size:11px;
}
#u40_img {
  position:absolute;
  left:0px;
  top:0px;
  width:56px;
  height:14px;
}
#u41 {
  position:absolute;
  left:0px;
  top:0px;
  width:56px;
  white-space:nowrap;
}
#u42 {
  position:absolute;
  left:73px;
  top:216px;
  width:122px;
  height:16px;
}
#u42_img {
  position:absolute;
  left:0px;
  top:0px;
  width:122px;
  height:16px;
}
#u43 {
  position:absolute;
  left:0px;
  top:0px;
  width:122px;
  white-space:nowrap;
}
#u44 {
  position:absolute;
  left:10px;
  top:234px;
  width:56px;
  height:14px;
  font-size:11px;
}
#u44_img {
  position:absolute;
  left:0px;
  top:0px;
  width:56px;
  height:14px;
}
#u45 {
  position:absolute;
  left:0px;
  top:0px;
  width:56px;
  white-space:nowrap;
}
#u46 {
  position:absolute;
  left:73px;
  top:232px;
  width:14px;
  height:16px;
}
#u46_img {
  position:absolute;
  left:0px;
  top:0px;
  width:14px;
  height:16px;
}
#u47 {
  position:absolute;
  left:0px;
  top:0px;
  width:14px;
  white-space:nowrap;
}
#u48 {
  position:absolute;
  left:329px;
  top:11px;
  width:20px;
  height:20px;
}
#u48_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u49 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u50 {
  position:absolute;
  left:315px;
  top:0px;
  width:45px;
  height:41px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
