body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:720px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:690px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:690px;
}
#u1 {
  position:absolute;
  left:2px;
  top:337px;
  width:356px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2 {
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:40px;
}
#u2_img {
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:40px;
}
#u3 {
  position:absolute;
  left:2px;
  top:12px;
  width:356px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4 {
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  height:41px;
}
#u4_img {
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  height:41px;
}
#u5 {
  position:absolute;
  left:2px;
  top:12px;
  width:37px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6 {
  position:absolute;
  left:335px;
  top:7px;
  width:6px;
  height:6px;
}
#u6_img {
  position:absolute;
  left:0px;
  top:0px;
  width:6px;
  height:6px;
}
#u7 {
  position:absolute;
  left:2px;
  top:-5px;
  width:2px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8 {
  position:absolute;
  left:335px;
  top:17px;
  width:6px;
  height:6px;
}
#u8_img {
  position:absolute;
  left:0px;
  top:0px;
  width:6px;
  height:6px;
}
#u9 {
  position:absolute;
  left:2px;
  top:-5px;
  width:2px;
  visibility:hidden;
  word-wrap:break-word;
}
#u10 {
  position:absolute;
  left:335px;
  top:27px;
  width:6px;
  height:6px;
}
#u10_img {
  position:absolute;
  left:0px;
  top:0px;
  width:6px;
  height:6px;
}
#u11 {
  position:absolute;
  left:2px;
  top:-5px;
  width:2px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12 {
  position:absolute;
  left:1px;
  top:39px;
  width:125px;
  height:30px;
}
#u12_img {
  position:absolute;
  left:0px;
  top:0px;
  width:125px;
  height:30px;
}
#u13 {
  position:absolute;
  left:2px;
  top:7px;
  width:121px;
  visibility:hidden;
  word-wrap:break-word;
}
#u14 {
  position:absolute;
  left:125px;
  top:39px;
  width:125px;
  height:30px;
}
#u14_img {
  position:absolute;
  left:0px;
  top:0px;
  width:125px;
  height:30px;
}
#u15 {
  position:absolute;
  left:2px;
  top:7px;
  width:121px;
  visibility:hidden;
  word-wrap:break-word;
}
#u16 {
  position:absolute;
  left:239px;
  top:39px;
  width:120px;
  height:30px;
}
#u16_img {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:30px;
}
#u17 {
  position:absolute;
  left:2px;
  top:7px;
  width:116px;
  visibility:hidden;
  word-wrap:break-word;
}
#u18 {
  position:absolute;
  left:48px;
  top:46px;
  width:27px;
  height:16px;
}
#u18_img {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:16px;
}
#u19 {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  white-space:nowrap;
}
#u20 {
  position:absolute;
  left:93px;
  top:43px;
  width:22px;
  height:22px;
}
#u20_img {
  position:absolute;
  left:0px;
  top:0px;
  width:22px;
  height:22px;
}
#u21 {
  position:absolute;
  left:2px;
  top:3px;
  width:18px;
  visibility:hidden;
  word-wrap:break-word;
}
#u22 {
  position:absolute;
  left:151px;
  top:46px;
  width:53px;
  height:16px;
}
#u22_img {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:16px;
}
#u23 {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  white-space:nowrap;
}
#u24 {
  position:absolute;
  left:217px;
  top:43px;
  width:22px;
  height:22px;
}
#u24_img {
  position:absolute;
  left:0px;
  top:0px;
  width:22px;
  height:22px;
}
#u25 {
  position:absolute;
  left:2px;
  top:3px;
  width:18px;
  visibility:hidden;
  word-wrap:break-word;
}
#u26 {
  position:absolute;
  left:283px;
  top:46px;
  width:27px;
  height:16px;
}
#u26_img {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:16px;
}
#u27 {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  white-space:nowrap;
}
#u28 {
  position:absolute;
  left:329px;
  top:43px;
  width:22px;
  height:22px;
}
#u28_img {
  position:absolute;
  left:0px;
  top:0px;
  width:22px;
  height:22px;
}
#u29 {
  position:absolute;
  left:2px;
  top:3px;
  width:18px;
  visibility:hidden;
  word-wrap:break-word;
}
#u30 {
  position:absolute;
  left:51px;
  top:5px;
  width:269px;
  height:30px;
}
#u30_img {
  position:absolute;
  left:0px;
  top:0px;
  width:269px;
  height:30px;
}
#u31 {
  position:absolute;
  left:2px;
  top:7px;
  width:265px;
  visibility:hidden;
  word-wrap:break-word;
}
#u32 {
  position:absolute;
  left:265px;
  top:8px;
  width:10px;
  height:25px;
}
#u32_start {
  position:absolute;
  left:-5px;
  top:0px;
  width:20px;
  height:18px;
}
#u32_end {
  position:absolute;
  left:-5px;
  top:8px;
  width:20px;
  height:18px;
}
#u32_line {
  position:absolute;
  left:5px;
  top:0px;
  width:1px;
  height:25px;
}
#u33 {
  position:absolute;
  left:284px;
  top:11px;
  width:27px;
  height:16px;
}
#u33_img {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:16px;
}
#u34 {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  white-space:nowrap;
}
#u35 {
  position:absolute;
  left:0px;
  top:79px;
  width:360px;
  height:181px;
}
#u35_img {
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:181px;
}
#u36 {
  position:absolute;
  left:2px;
  top:82px;
  width:356px;
  visibility:hidden;
  word-wrap:break-word;
}
#u37 {
  position:absolute;
  left:0px;
  top:80px;
  width:360px;
  height:120px;
}
#u37_img {
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:120px;
}
#u38 {
  position:absolute;
  left:2px;
  top:52px;
  width:356px;
  visibility:hidden;
  word-wrap:break-word;
}
#u39 {
  position:absolute;
  left:0px;
  top:195px;
  width:360px;
  height:10px;
}
#u39_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u39_end {
  position:absolute;
  left:343px;
  top:-5px;
  width:18px;
  height:20px;
}
#u39_line {
  position:absolute;
  left:0px;
  top:5px;
  width:360px;
  height:1px;
}
#u40 {
  position:absolute;
  left:9px;
  top:210px;
  width:144px;
  height:16px;
}
#u40_img {
  position:absolute;
  left:0px;
  top:0px;
  width:144px;
  height:16px;
}
#u41 {
  position:absolute;
  left:0px;
  top:0px;
  width:144px;
  white-space:nowrap;
}
#u42 {
  position:absolute;
  left:9px;
  top:236px;
  width:78px;
  height:14px;
  font-size:11px;
  color:#666666;
}
#u42_img {
  position:absolute;
  left:0px;
  top:0px;
  width:78px;
  height:14px;
}
#u43 {
  position:absolute;
  left:0px;
  top:0px;
  width:78px;
  white-space:nowrap;
}
#u44 {
  position:absolute;
  left:141px;
  top:236px;
  width:40px;
  height:14px;
  font-size:11px;
}
#u44_img {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:14px;
}
#u45 {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  white-space:nowrap;
}
#u46 {
  position:absolute;
  left:183px;
  top:231px;
  width:28px;
  height:19px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-size:16px;
  color:#FF0000;
}
#u46_img {
  position:absolute;
  left:0px;
  top:0px;
  width:28px;
  height:19px;
}
#u47 {
  position:absolute;
  left:0px;
  top:0px;
  width:28px;
  white-space:nowrap;
}
#u48 {
  position:absolute;
  left:271px;
  top:220px;
  width:80px;
  height:30px;
}
#u48_img {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:30px;
}
#u49 {
  position:absolute;
  left:2px;
  top:7px;
  width:76px;
  word-wrap:break-word;
}
#u50 {
  position:absolute;
  left:0px;
  top:270px;
  width:360px;
  height:181px;
}
#u50_img {
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:181px;
}
#u51 {
  position:absolute;
  left:2px;
  top:82px;
  width:356px;
  visibility:hidden;
  word-wrap:break-word;
}
#u52 {
  position:absolute;
  left:0px;
  top:271px;
  width:360px;
  height:120px;
}
#u52_img {
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:120px;
}
#u53 {
  position:absolute;
  left:2px;
  top:52px;
  width:356px;
  visibility:hidden;
  word-wrap:break-word;
}
#u54 {
  position:absolute;
  left:0px;
  top:386px;
  width:360px;
  height:10px;
}
#u54_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u54_end {
  position:absolute;
  left:343px;
  top:-5px;
  width:18px;
  height:20px;
}
#u54_line {
  position:absolute;
  left:0px;
  top:5px;
  width:360px;
  height:1px;
}
#u55 {
  position:absolute;
  left:9px;
  top:401px;
  width:79px;
  height:16px;
}
#u55_img {
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  height:16px;
}
#u56 {
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  white-space:nowrap;
}
#u57 {
  position:absolute;
  left:9px;
  top:427px;
  width:78px;
  height:14px;
  font-size:11px;
  color:#666666;
}
#u57_img {
  position:absolute;
  left:0px;
  top:0px;
  width:78px;
  height:14px;
}
#u58 {
  position:absolute;
  left:0px;
  top:0px;
  width:78px;
  white-space:nowrap;
}
#u59 {
  position:absolute;
  left:141px;
  top:427px;
  width:40px;
  height:14px;
  font-size:11px;
}
#u59_img {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:14px;
}
#u60 {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  white-space:nowrap;
}
#u61 {
  position:absolute;
  left:183px;
  top:422px;
  width:19px;
  height:19px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-size:16px;
  color:#FF0000;
}
#u61_img {
  position:absolute;
  left:0px;
  top:0px;
  width:19px;
  height:19px;
}
#u62 {
  position:absolute;
  left:0px;
  top:0px;
  width:19px;
  white-space:nowrap;
}
#u63 {
  position:absolute;
  left:271px;
  top:411px;
  width:80px;
  height:30px;
}
#u63_img {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:30px;
}
#u64 {
  position:absolute;
  left:2px;
  top:7px;
  width:76px;
  word-wrap:break-word;
}
#u65 {
  position:absolute;
  left:0px;
  top:461px;
  width:360px;
  height:181px;
}
#u65_img {
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:181px;
}
#u66 {
  position:absolute;
  left:2px;
  top:82px;
  width:356px;
  visibility:hidden;
  word-wrap:break-word;
}
#u67 {
  position:absolute;
  left:0px;
  top:462px;
  width:360px;
  height:120px;
}
#u67_img {
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:120px;
}
#u68 {
  position:absolute;
  left:2px;
  top:52px;
  width:356px;
  visibility:hidden;
  word-wrap:break-word;
}
#u69 {
  position:absolute;
  left:0px;
  top:577px;
  width:360px;
  height:10px;
}
#u69_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u69_end {
  position:absolute;
  left:343px;
  top:-5px;
  width:18px;
  height:20px;
}
#u69_line {
  position:absolute;
  left:0px;
  top:5px;
  width:360px;
  height:1px;
}
#u70 {
  position:absolute;
  left:8px;
  top:592px;
  width:131px;
  height:16px;
}
#u70_img {
  position:absolute;
  left:0px;
  top:0px;
  width:131px;
  height:16px;
}
#u71 {
  position:absolute;
  left:0px;
  top:0px;
  width:131px;
  white-space:nowrap;
}
#u72 {
  position:absolute;
  left:8px;
  top:618px;
  width:78px;
  height:14px;
  font-size:11px;
  color:#666666;
}
#u72_img {
  position:absolute;
  left:0px;
  top:0px;
  width:78px;
  height:14px;
}
#u73 {
  position:absolute;
  left:0px;
  top:0px;
  width:78px;
  white-space:nowrap;
}
#u74 {
  position:absolute;
  left:140px;
  top:618px;
  width:34px;
  height:14px;
  font-size:11px;
  color:#666666;
}
#u74_img {
  position:absolute;
  left:0px;
  top:0px;
  width:34px;
  height:14px;
}
#u75 {
  position:absolute;
  left:0px;
  top:0px;
  width:34px;
  white-space:nowrap;
}
#u76 {
  position:absolute;
  left:182px;
  top:613px;
  width:33px;
  height:19px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-size:16px;
  color:#FF0000;
}
#u76_img {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  height:19px;
}
#u77 {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  white-space:nowrap;
}
#u78 {
  position:absolute;
  left:270px;
  top:602px;
  width:80px;
  height:30px;
}
#u78_img {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:30px;
}
#u79 {
  position:absolute;
  left:2px;
  top:7px;
  width:76px;
  word-wrap:break-word;
}
#u80 {
  position:fixed;
  left:0px;
  bottom:0px;
}
#u80_state0 {
  position:relative;
  left:0px;
  top:0px;
  background-image:none;
}
#u80_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u82 {
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:40px;
}
#u82_img {
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:40px;
}
#u83 {
  position:absolute;
  left:2px;
  top:12px;
  width:356px;
  visibility:hidden;
  word-wrap:break-word;
}
#u84 {
  position:absolute;
  left:44px;
  top:24px;
  width:21px;
  height:13px;
  font-size:10px;
}
#u84_img {
  position:absolute;
  left:0px;
  top:0px;
  width:21px;
  height:13px;
}
#u85 {
  position:absolute;
  left:0px;
  top:0px;
  width:21px;
  white-space:nowrap;
}
#u86 {
  position:absolute;
  left:210px;
  top:24px;
  width:21px;
  height:13px;
  font-size:10px;
}
#u86_img {
  position:absolute;
  left:0px;
  top:0px;
  width:21px;
  height:13px;
}
#u87 {
  position:absolute;
  left:0px;
  top:0px;
  width:21px;
  white-space:nowrap;
}
#u88 {
  position:absolute;
  left:121px;
  top:25px;
  width:41px;
  height:13px;
  font-size:10px;
}
#u88_img {
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  height:13px;
}
#u89 {
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  white-space:nowrap;
}
#u90 {
  position:absolute;
  left:281px;
  top:24px;
  width:41px;
  height:13px;
  font-size:10px;
}
#u90_img {
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  height:13px;
}
#u91 {
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  white-space:nowrap;
}
#u92 {
  position:absolute;
  left:44px;
  top:4px;
  width:20px;
  height:20px;
}
#u92_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u93 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u94 {
  position:absolute;
  left:18px;
  top:0px;
  width:73px;
  height:40px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u95 {
  position:absolute;
  left:131px;
  top:5px;
  width:20px;
  height:20px;
}
#u95_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u96 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u97 {
  position:absolute;
  left:210px;
  top:4px;
  width:20px;
  height:20px;
}
#u97_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u98 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u99 {
  position:absolute;
  left:292px;
  top:4px;
  width:20px;
  height:20px;
}
#u99_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u100 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u101 {
  position:absolute;
  left:190px;
  top:0px;
  width:60px;
  height:40px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u102 {
  position:absolute;
  left:113px;
  top:2px;
  width:57px;
  height:37px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u103 {
  position:absolute;
  left:272px;
  top:0px;
  width:60px;
  height:40px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u104 {
  position:absolute;
  left:377px;
  top:302px;
  width:343px;
  height:256px;
}
#u104_img {
  position:absolute;
  left:0px;
  top:0px;
  width:343px;
  height:256px;
}
#u105 {
  position:absolute;
  left:2px;
  top:120px;
  width:339px;
  visibility:hidden;
  word-wrap:break-word;
}
#u106 {
  position:absolute;
  left:377px;
  top:302px;
  width:343px;
  height:156px;
}
#u106_img {
  position:absolute;
  left:0px;
  top:0px;
  width:343px;
  height:156px;
}
#u107 {
  position:absolute;
  left:2px;
  top:70px;
  width:339px;
  visibility:hidden;
  word-wrap:break-word;
}
#u108 {
  position:absolute;
  left:389px;
  top:468px;
  width:166px;
  height:17px;
  font-size:15px;
}
#u108_img {
  position:absolute;
  left:0px;
  top:0px;
  width:166px;
  height:17px;
}
#u109 {
  position:absolute;
  left:0px;
  top:0px;
  width:166px;
  white-space:nowrap;
}
#u110 {
  position:absolute;
  left:637px;
  top:532px;
  width:72px;
  height:16px;
  color:#FF0000;
}
#u110_img {
  position:absolute;
  left:0px;
  top:0px;
  width:72px;
  height:16px;
}
#u111 {
  position:absolute;
  left:0px;
  top:0px;
  width:72px;
  white-space:nowrap;
}
#u112 {
  position:absolute;
  left:397px;
  top:495px;
  width:309px;
  height:28px;
  font-size:11px;
  color:#666666;
}
#u112_img {
  position:absolute;
  left:0px;
  top:0px;
  width:309px;
  height:28px;
}
#u113 {
  position:absolute;
  left:0px;
  top:0px;
  width:309px;
  white-space:nowrap;
}
#u114 {
  position:absolute;
  left:381px;
  top:532px;
  width:15px;
  height:15px;
}
#u114_img {
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:15px;
}
#u115 {
  position:absolute;
  left:2px;
  top:0px;
  width:11px;
  visibility:hidden;
  word-wrap:break-word;
}
#u116 {
  position:absolute;
  left:381px;
  top:494px;
  width:15px;
  height:15px;
}
#u116_img {
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:15px;
}
#u117 {
  position:absolute;
  left:2px;
  top:0px;
  width:11px;
  visibility:hidden;
  word-wrap:break-word;
}
#u118 {
  position:absolute;
  left:501px;
  top:532px;
  width:15px;
  height:15px;
}
#u118_img {
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:15px;
}
#u119 {
  position:absolute;
  left:2px;
  top:0px;
  width:11px;
  visibility:hidden;
  word-wrap:break-word;
}
#u120 {
  position:absolute;
  left:397px;
  top:532px;
  width:45px;
  height:14px;
  font-size:11px;
  color:#666666;
}
#u120_img {
  position:absolute;
  left:0px;
  top:0px;
  width:45px;
  height:14px;
}
#u121 {
  position:absolute;
  left:0px;
  top:0px;
  width:45px;
  white-space:nowrap;
}
#u122 {
  position:absolute;
  left:517px;
  top:533px;
  width:56px;
  height:14px;
  font-size:11px;
  color:#666666;
}
#u122_img {
  position:absolute;
  left:0px;
  top:0px;
  width:56px;
  height:14px;
}
#u123 {
  position:absolute;
  left:0px;
  top:0px;
  width:56px;
  white-space:nowrap;
}
#u124 {
  position:absolute;
  left:377px;
  top:568px;
  width:343px;
  height:256px;
}
#u124_img {
  position:absolute;
  left:0px;
  top:0px;
  width:343px;
  height:256px;
}
#u125 {
  position:absolute;
  left:2px;
  top:120px;
  width:339px;
  visibility:hidden;
  word-wrap:break-word;
}
#u126 {
  position:absolute;
  left:377px;
  top:568px;
  width:343px;
  height:156px;
}
#u126_img {
  position:absolute;
  left:0px;
  top:0px;
  width:343px;
  height:156px;
}
#u127 {
  position:absolute;
  left:2px;
  top:70px;
  width:339px;
  visibility:hidden;
  word-wrap:break-word;
}
#u128 {
  position:absolute;
  left:389px;
  top:734px;
  width:91px;
  height:17px;
  font-size:15px;
}
#u128_img {
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  height:17px;
}
#u129 {
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  white-space:nowrap;
}
#u130 {
  position:absolute;
  left:637px;
  top:798px;
  width:65px;
  height:16px;
  color:#FF0000;
}
#u130_img {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:16px;
}
#u131 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u132 {
  position:absolute;
  left:397px;
  top:761px;
  width:309px;
  height:28px;
  font-size:11px;
  color:#666666;
}
#u132_img {
  position:absolute;
  left:0px;
  top:0px;
  width:309px;
  height:28px;
}
#u133 {
  position:absolute;
  left:0px;
  top:0px;
  width:309px;
  white-space:nowrap;
}
#u134 {
  position:absolute;
  left:381px;
  top:798px;
  width:15px;
  height:15px;
}
#u134_img {
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:15px;
}
#u135 {
  position:absolute;
  left:2px;
  top:0px;
  width:11px;
  visibility:hidden;
  word-wrap:break-word;
}
#u136 {
  position:absolute;
  left:381px;
  top:760px;
  width:15px;
  height:15px;
}
#u136_img {
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:15px;
}
#u137 {
  position:absolute;
  left:2px;
  top:0px;
  width:11px;
  visibility:hidden;
  word-wrap:break-word;
}
#u138 {
  position:absolute;
  left:501px;
  top:798px;
  width:15px;
  height:15px;
}
#u138_img {
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:15px;
}
#u139 {
  position:absolute;
  left:2px;
  top:0px;
  width:11px;
  visibility:hidden;
  word-wrap:break-word;
}
#u140 {
  position:absolute;
  left:397px;
  top:798px;
  width:45px;
  height:14px;
  font-size:11px;
  color:#666666;
}
#u140_img {
  position:absolute;
  left:0px;
  top:0px;
  width:45px;
  height:14px;
}
#u141 {
  position:absolute;
  left:0px;
  top:0px;
  width:45px;
  white-space:nowrap;
}
#u142 {
  position:absolute;
  left:517px;
  top:799px;
  width:56px;
  height:14px;
  font-size:11px;
  color:#666666;
}
#u142_img {
  position:absolute;
  left:0px;
  top:0px;
  width:56px;
  height:14px;
}
#u143 {
  position:absolute;
  left:0px;
  top:0px;
  width:56px;
  white-space:nowrap;
}
#u144 {
  position:absolute;
  left:377px;
  top:834px;
  width:343px;
  height:256px;
}
#u144_img {
  position:absolute;
  left:0px;
  top:0px;
  width:343px;
  height:256px;
}
#u145 {
  position:absolute;
  left:2px;
  top:120px;
  width:339px;
  visibility:hidden;
  word-wrap:break-word;
}
#u146 {
  position:absolute;
  left:377px;
  top:834px;
  width:343px;
  height:156px;
}
#u146_img {
  position:absolute;
  left:0px;
  top:0px;
  width:343px;
  height:156px;
}
#u147 {
  position:absolute;
  left:2px;
  top:70px;
  width:339px;
  visibility:hidden;
  word-wrap:break-word;
}
#u148 {
  position:absolute;
  left:389px;
  top:1000px;
  width:151px;
  height:17px;
  font-size:15px;
}
#u148_img {
  position:absolute;
  left:0px;
  top:0px;
  width:151px;
  height:17px;
}
#u149 {
  position:absolute;
  left:0px;
  top:0px;
  width:151px;
  white-space:nowrap;
}
#u150 {
  position:absolute;
  left:637px;
  top:1064px;
  width:27px;
  height:16px;
  color:#FF0000;
}
#u150_img {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:16px;
}
#u151 {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  white-space:nowrap;
}
#u152 {
  position:absolute;
  left:397px;
  top:1028px;
  width:309px;
  height:28px;
  font-size:11px;
  color:#666666;
}
#u152_img {
  position:absolute;
  left:0px;
  top:0px;
  width:309px;
  height:28px;
}
#u153 {
  position:absolute;
  left:0px;
  top:0px;
  width:309px;
  white-space:nowrap;
}
#u154 {
  position:absolute;
  left:381px;
  top:1064px;
  width:15px;
  height:15px;
}
#u154_img {
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:15px;
}
#u155 {
  position:absolute;
  left:2px;
  top:0px;
  width:11px;
  visibility:hidden;
  word-wrap:break-word;
}
#u156 {
  position:absolute;
  left:381px;
  top:1026px;
  width:15px;
  height:15px;
}
#u156_img {
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:15px;
}
#u157 {
  position:absolute;
  left:2px;
  top:0px;
  width:11px;
  visibility:hidden;
  word-wrap:break-word;
}
#u158 {
  position:absolute;
  left:501px;
  top:1064px;
  width:15px;
  height:15px;
}
#u158_img {
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:15px;
}
#u159 {
  position:absolute;
  left:2px;
  top:0px;
  width:11px;
  visibility:hidden;
  word-wrap:break-word;
}
#u160 {
  position:absolute;
  left:397px;
  top:1064px;
  width:45px;
  height:14px;
  font-size:11px;
  color:#666666;
}
#u160_img {
  position:absolute;
  left:0px;
  top:0px;
  width:45px;
  height:14px;
}
#u161 {
  position:absolute;
  left:0px;
  top:0px;
  width:45px;
  white-space:nowrap;
}
#u162 {
  position:absolute;
  left:517px;
  top:1066px;
  width:56px;
  height:14px;
  font-size:11px;
  color:#666666;
}
#u162_img {
  position:absolute;
  left:0px;
  top:0px;
  width:56px;
  height:14px;
}
#u163 {
  position:absolute;
  left:0px;
  top:0px;
  width:56px;
  white-space:nowrap;
}
