body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:360px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:0px;
  top:-17px;
  width:360px;
  height:684px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:684px;
}
#u1 {
  position:absolute;
  left:2px;
  top:334px;
  width:356px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2 {
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:40px;
}
#u2_img {
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:40px;
}
#u3 {
  position:absolute;
  left:2px;
  top:12px;
  width:356px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4 {
  position:absolute;
  left:0px;
  top:0px;
  width:39px;
  height:41px;
}
#u4_img {
  position:absolute;
  left:0px;
  top:0px;
  width:39px;
  height:41px;
}
#u5 {
  position:absolute;
  left:2px;
  top:12px;
  width:35px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6 {
  position:absolute;
  left:134px;
  top:9px;
  width:91px;
  height:22px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-size:18px;
}
#u6_img {
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  height:22px;
}
#u7 {
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  white-space:nowrap;
}
#u8 {
  position:absolute;
  left:65px;
  top:40px;
  width:215px;
  height:143px;
}
#u8_img {
  position:absolute;
  left:0px;
  top:0px;
  width:215px;
  height:143px;
}
#u9 {
  position:absolute;
  left:2px;
  top:64px;
  width:211px;
  visibility:hidden;
  word-wrap:break-word;
}
#u10 {
  position:absolute;
  left:170px;
  top:187px;
  width:20px;
  height:20px;
  -webkit-transform:rotate(45deg);
  -moz-transform:rotate(45deg);
  -ms-transform:rotate(45deg);
  transform:rotate(45deg);
}
#u10_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u11 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12 {
  position:absolute;
  left:0px;
  top:193px;
  width:360px;
  height:387px;
}
#u12_img {
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:387px;
}
#u13 {
  position:absolute;
  left:2px;
  top:186px;
  width:356px;
  visibility:hidden;
  word-wrap:break-word;
}
#u15 {
  position:fixed;
  left:0px;
  bottom:0px;
  width:360px;
  height:63px;
  overflow:hidden;
}
#u15_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:63px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u15_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u16 {
  position:absolute;
  left:0px;
  top:23px;
  width:360px;
  height:40px;
}
#u16_img {
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:40px;
}
#u17 {
  position:absolute;
  left:2px;
  top:12px;
  width:356px;
  visibility:hidden;
  word-wrap:break-word;
}
#u18 {
  position:absolute;
  left:29px;
  top:47px;
  width:21px;
  height:13px;
  font-size:10px;
}
#u18_img {
  position:absolute;
  left:0px;
  top:0px;
  width:21px;
  height:13px;
}
#u19 {
  position:absolute;
  left:0px;
  top:0px;
  width:21px;
  white-space:nowrap;
}
#u20 {
  position:absolute;
  left:92px;
  top:47px;
  width:41px;
  height:13px;
  font-size:10px;
}
#u20_img {
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  height:13px;
}
#u21 {
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  white-space:nowrap;
}
#u22 {
  position:absolute;
  left:299px;
  top:47px;
  width:41px;
  height:13px;
  font-size:10px;
}
#u22_img {
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  height:13px;
}
#u23 {
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  white-space:nowrap;
}
#u24 {
  position:absolute;
  left:29px;
  top:25px;
  width:20px;
  height:20px;
}
#u24_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u25 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u26 {
  position:absolute;
  left:310px;
  top:27px;
  width:20px;
  height:20px;
}
#u26_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u27 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u28 {
  position:absolute;
  left:229px;
  top:47px;
  width:41px;
  height:13px;
  font-size:10px;
}
#u28_img {
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  height:13px;
}
#u29 {
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  white-space:nowrap;
}
#u30 {
  position:absolute;
  left:240px;
  top:27px;
  width:20px;
  height:20px;
}
#u30_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u31 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u32 {
  position:absolute;
  left:150px;
  top:0px;
  width:60px;
  height:60px;
}
#u32_img {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:60px;
}
#u33 {
  position:absolute;
  left:2px;
  top:22px;
  width:56px;
  visibility:hidden;
  word-wrap:break-word;
}
#u34 {
  position:absolute;
  left:102px;
  top:27px;
  width:20px;
  height:20px;
}
#u34_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u35 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u36 {
  position:absolute;
  left:290px;
  top:23px;
  width:59px;
  height:40px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u37 {
  position:absolute;
  left:10px;
  top:23px;
  width:59px;
  height:40px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u38 {
  position:absolute;
  left:159px;
  top:14px;
  width:42px;
  height:32px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  color:#FF0000;
  text-align:center;
}
#u38_img {
  position:absolute;
  left:0px;
  top:0px;
  width:42px;
  height:32px;
}
#u39 {
  position:absolute;
  left:0px;
  top:0px;
  width:42px;
  white-space:nowrap;
}
#u40 {
  position:absolute;
  left:87px;
  top:23px;
  width:50px;
  height:37px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u41 {
  position:absolute;
  left:225px;
  top:23px;
  width:50px;
  height:37px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u42 {
  position:absolute;
  left:150px;
  top:0px;
  width:60px;
  height:63px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u43 {
  position:absolute;
  left:20px;
  top:221px;
  width:320px;
  height:40px;
  font-size:16px;
  color:#FFFFFF;
}
#u43_img {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:40px;
}
#u44 {
  position:absolute;
  left:2px;
  top:10px;
  width:316px;
  word-wrap:break-word;
}
#u45 {
  position:absolute;
  left:20px;
  top:271px;
  width:320px;
  height:40px;
  font-size:16px;
  color:#FFFFFF;
}
#u45_img {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:40px;
}
#u46 {
  position:absolute;
  left:2px;
  top:10px;
  width:316px;
  word-wrap:break-word;
}
