body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:360px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:667px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:667px;
}
#u1 {
  position:absolute;
  left:2px;
  top:326px;
  width:356px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2 {
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:40px;
}
#u2_img {
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:40px;
}
#u3 {
  position:absolute;
  left:2px;
  top:12px;
  width:356px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4 {
  position:absolute;
  left:0px;
  top:0px;
  width:39px;
  height:41px;
}
#u4_img {
  position:absolute;
  left:0px;
  top:0px;
  width:39px;
  height:41px;
}
#u5 {
  position:absolute;
  left:2px;
  top:12px;
  width:35px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6 {
  position:absolute;
  left:145px;
  top:9px;
  width:73px;
  height:22px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-size:18px;
}
#u6_img {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:22px;
}
#u7 {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  white-space:nowrap;
}
#u8 {
  position:absolute;
  left:0px;
  top:47px;
  width:360px;
  height:53px;
}
#u8_img {
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:53px;
}
#u9 {
  position:absolute;
  left:2px;
  top:18px;
  width:356px;
  visibility:hidden;
  word-wrap:break-word;
}
#u10 {
  position:absolute;
  left:10px;
  top:59px;
  width:29px;
  height:30px;
}
#u10_img {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:30px;
}
#u11 {
  position:absolute;
  left:2px;
  top:7px;
  width:25px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12 {
  position:absolute;
  left:48px;
  top:55px;
  width:251px;
  height:16px;
}
#u12_img {
  position:absolute;
  left:0px;
  top:0px;
  width:251px;
  height:16px;
}
#u13 {
  position:absolute;
  left:0px;
  top:0px;
  width:251px;
  white-space:nowrap;
}
#u14 {
  position:absolute;
  left:48px;
  top:76px;
  width:113px;
  height:16px;
}
#u14_img {
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  height:16px;
}
#u15 {
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  white-space:nowrap;
}
#u16 {
  position:absolute;
  left:0px;
  top:107px;
  width:360px;
  height:70px;
}
#u16_img {
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:70px;
}
#u17 {
  position:absolute;
  left:2px;
  top:27px;
  width:356px;
  visibility:hidden;
  word-wrap:break-word;
}
#u18 {
  position:absolute;
  left:67px;
  top:115px;
  width:279px;
  height:16px;
}
#u18_img {
  position:absolute;
  left:0px;
  top:0px;
  width:279px;
  height:16px;
}
#u19 {
  position:absolute;
  left:0px;
  top:0px;
  width:279px;
  word-wrap:break-word;
}
#u20 {
  position:absolute;
  left:67px;
  top:151px;
  width:32px;
  height:16px;
  color:#FF0000;
}
#u20_img {
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  height:16px;
}
#u21 {
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  white-space:nowrap;
}
#u22 {
  position:absolute;
  left:9px;
  top:117px;
  width:48px;
  height:50px;
}
#u22_img {
  position:absolute;
  left:0px;
  top:0px;
  width:48px;
  height:50px;
}
#u23 {
  position:absolute;
  left:2px;
  top:17px;
  width:44px;
  visibility:hidden;
  word-wrap:break-word;
}
#u24 {
  position:absolute;
  left:0px;
  top:210px;
  width:360px;
  height:59px;
}
#u24_img {
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:59px;
}
#u25 {
  position:absolute;
  left:2px;
  top:22px;
  width:356px;
  visibility:hidden;
  word-wrap:break-word;
}
#u26 {
  position:absolute;
  left:10px;
  top:215px;
  width:144px;
  height:16px;
}
#u26_img {
  position:absolute;
  left:0px;
  top:0px;
  width:144px;
  height:16px;
}
#u27 {
  position:absolute;
  left:0px;
  top:0px;
  width:144px;
  white-space:nowrap;
}
#u28 {
  position:absolute;
  left:10px;
  top:236px;
  width:126px;
  height:24px;
  font-size:20px;
  color:#666666;
}
#u28_img {
  position:absolute;
  left:0px;
  top:0px;
  width:126px;
  height:24px;
}
#u29 {
  position:absolute;
  left:0px;
  top:0px;
  width:126px;
  white-space:nowrap;
}
#u30 {
  position:absolute;
  left:0px;
  top:279px;
  width:360px;
  height:71px;
}
#u30_img {
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:71px;
}
#u31 {
  position:absolute;
  left:2px;
  top:28px;
  width:356px;
  visibility:hidden;
  word-wrap:break-word;
}
#u32 {
  position:absolute;
  left:10px;
  top:289px;
  width:56px;
  height:14px;
  font-size:11px;
}
#u32_img {
  position:absolute;
  left:0px;
  top:0px;
  width:56px;
  height:14px;
}
#u33 {
  position:absolute;
  left:0px;
  top:0px;
  width:56px;
  white-space:nowrap;
}
#u34 {
  position:absolute;
  left:73px;
  top:289px;
  width:85px;
  height:16px;
}
#u34_img {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  height:16px;
}
#u35 {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  white-space:nowrap;
}
#u36 {
  position:absolute;
  left:10px;
  top:308px;
  width:56px;
  height:14px;
  font-size:11px;
}
#u36_img {
  position:absolute;
  left:0px;
  top:0px;
  width:56px;
  height:14px;
}
#u37 {
  position:absolute;
  left:0px;
  top:0px;
  width:56px;
  white-space:nowrap;
}
#u38 {
  position:absolute;
  left:73px;
  top:308px;
  width:122px;
  height:16px;
}
#u38_img {
  position:absolute;
  left:0px;
  top:0px;
  width:122px;
  height:16px;
}
#u39 {
  position:absolute;
  left:0px;
  top:0px;
  width:122px;
  white-space:nowrap;
}
#u40 {
  position:absolute;
  left:0px;
  top:360px;
  width:360px;
  height:40px;
  overflow:hidden;
}
#u40_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:40px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u40_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u41 {
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:40px;
}
#u41_img {
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:40px;
}
#u42 {
  position:absolute;
  left:2px;
  top:12px;
  width:356px;
  visibility:hidden;
  word-wrap:break-word;
}
#u43 {
  position:absolute;
  left:10px;
  top:12px;
  width:53px;
  height:16px;
  color:#0099FF;
}
#u43_img {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:16px;
}
#u44 {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  white-space:nowrap;
}
#u45 {
  position:absolute;
  left:283px;
  top:5px;
  width:67px;
  height:30px;
}
#u45_img {
  position:absolute;
  left:0px;
  top:0px;
  width:67px;
  height:30px;
}
#u46 {
  position:absolute;
  left:2px;
  top:7px;
  width:63px;
  word-wrap:break-word;
}
#u47 {
  position:absolute;
  left:267px;
  top:244px;
  width:88px;
  height:14px;
  font-size:11px;
  color:#666666;
}
#u47_img {
  position:absolute;
  left:0px;
  top:0px;
  width:88px;
  height:14px;
}
#u48 {
  position:absolute;
  left:0px;
  top:0px;
  width:88px;
  white-space:nowrap;
}
#u49 {
  position:absolute;
  left:0px;
  top:187px;
  width:360px;
  height:24px;
}
#u49_img {
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:24px;
}
#u50 {
  position:absolute;
  left:2px;
  top:4px;
  width:356px;
  visibility:hidden;
  word-wrap:break-word;
}
#u51 {
  position:absolute;
  left:10px;
  top:192px;
  width:45px;
  height:14px;
  font-size:11px;
}
#u51_img {
  position:absolute;
  left:0px;
  top:0px;
  width:45px;
  height:14px;
}
#u52 {
  position:absolute;
  left:0px;
  top:0px;
  width:45px;
  white-space:nowrap;
}
#u53 {
  position:absolute;
  left:6px;
  top:243px;
  width:140px;
  height:10px;
}
#u53_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u53_end {
  position:absolute;
  left:123px;
  top:-5px;
  width:18px;
  height:20px;
}
#u53_line {
  position:absolute;
  left:0px;
  top:4px;
  width:140px;
  height:2px;
}
#u54 {
  position:absolute;
  left:327px;
  top:7px;
  width:23px;
  height:23px;
}
#u54_img {
  position:absolute;
  left:0px;
  top:0px;
  width:23px;
  height:23px;
}
#u55 {
  position:absolute;
  left:2px;
  top:4px;
  width:19px;
  visibility:hidden;
  word-wrap:break-word;
}
#u56 {
  position:absolute;
  left:315px;
  top:0px;
  width:45px;
  height:41px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u57 {
  position:absolute;
  left:10px;
  top:326px;
  width:56px;
  height:14px;
  font-size:11px;
}
#u57_img {
  position:absolute;
  left:0px;
  top:0px;
  width:56px;
  height:14px;
}
#u58 {
  position:absolute;
  left:0px;
  top:0px;
  width:56px;
  white-space:nowrap;
}
#u59 {
  position:absolute;
  left:73px;
  top:326px;
  width:40px;
  height:16px;
}
#u59_img {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:16px;
}
#u60 {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  white-space:nowrap;
}
