body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:360px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:670px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:670px;
}
#u1 {
  position:absolute;
  left:2px;
  top:327px;
  width:356px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2 {
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:40px;
}
#u2_img {
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:40px;
}
#u3 {
  position:absolute;
  left:2px;
  top:12px;
  width:356px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4 {
  position:absolute;
  left:0px;
  top:0px;
  width:39px;
  height:41px;
}
#u4_img {
  position:absolute;
  left:0px;
  top:0px;
  width:39px;
  height:41px;
}
#u5 {
  position:absolute;
  left:2px;
  top:12px;
  width:35px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6 {
  position:absolute;
  left:145px;
  top:9px;
  width:73px;
  height:22px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-size:18px;
}
#u6_img {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:22px;
}
#u7 {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  white-space:nowrap;
}
#u8 {
  position:absolute;
  left:0px;
  top:50px;
  width:360px;
  height:40px;
}
#u8_img {
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:40px;
}
#u9 {
  position:absolute;
  left:2px;
  top:12px;
  width:356px;
  visibility:hidden;
  word-wrap:break-word;
}
#u10 {
  position:absolute;
  left:10px;
  top:55px;
  width:30px;
  height:30px;
}
#u10_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u11 {
  position:absolute;
  left:2px;
  top:7px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12 {
  position:absolute;
  left:50px;
  top:62px;
  width:27px;
  height:16px;
}
#u12_img {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:16px;
}
#u13 {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  white-space:nowrap;
}
#u14 {
  position:absolute;
  left:0px;
  top:90px;
  width:360px;
  height:61px;
}
#u14_img {
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:61px;
}
#u15 {
  position:absolute;
  left:2px;
  top:22px;
  width:356px;
  visibility:hidden;
  word-wrap:break-word;
}
#u16 {
  position:absolute;
  left:10px;
  top:100px;
  width:91px;
  height:17px;
  font-size:15px;
}
#u16_img {
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  height:17px;
}
#u17 {
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  white-space:nowrap;
}
#u18 {
  position:absolute;
  left:10px;
  top:127px;
  width:82px;
  height:14px;
  font-size:11px;
  color:#666666;
}
#u18_img {
  position:absolute;
  left:0px;
  top:0px;
  width:82px;
  height:14px;
}
#u19 {
  position:absolute;
  left:0px;
  top:0px;
  width:82px;
  white-space:nowrap;
}
#u20 {
  position:absolute;
  left:290px;
  top:105px;
  width:56px;
  height:14px;
  font-size:11px;
}
#u20_img {
  position:absolute;
  left:0px;
  top:0px;
  width:56px;
  height:14px;
}
#u21 {
  position:absolute;
  left:0px;
  top:0px;
  width:56px;
  white-space:nowrap;
}
#u22 {
  position:absolute;
  left:0px;
  top:161px;
  width:360px;
  height:40px;
}
#u22_img {
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:40px;
}
#u23 {
  position:absolute;
  left:2px;
  top:12px;
  width:356px;
  visibility:hidden;
  word-wrap:break-word;
}
#u24 {
  position:absolute;
  left:10px;
  top:166px;
  width:30px;
  height:30px;
}
#u24_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u25 {
  position:absolute;
  left:2px;
  top:7px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
#u26 {
  position:absolute;
  left:50px;
  top:173px;
  width:27px;
  height:16px;
}
#u26_img {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:16px;
}
#u27 {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  white-space:nowrap;
}
#u28 {
  position:absolute;
  left:0px;
  top:201px;
  width:360px;
  height:86px;
}
#u28_img {
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:86px;
}
#u29 {
  position:absolute;
  left:2px;
  top:35px;
  width:356px;
  visibility:hidden;
  word-wrap:break-word;
}
#u30 {
  position:absolute;
  left:10px;
  top:211px;
  width:270px;
  height:34px;
  font-size:15px;
}
#u30_img {
  position:absolute;
  left:0px;
  top:0px;
  width:270px;
  height:34px;
}
#u31 {
  position:absolute;
  left:0px;
  top:0px;
  width:270px;
  word-wrap:break-word;
}
#u32 {
  position:absolute;
  left:10px;
  top:250px;
  width:130px;
  height:14px;
  font-size:11px;
  color:#666666;
}
#u32_img {
  position:absolute;
  left:0px;
  top:0px;
  width:130px;
  height:14px;
}
#u33 {
  position:absolute;
  left:0px;
  top:0px;
  width:130px;
  white-space:nowrap;
}
#u34 {
  position:absolute;
  left:10px;
  top:267px;
  width:40px;
  height:14px;
  font-size:11px;
  color:#666666;
}
#u34_img {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:14px;
}
#u35 {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  white-space:nowrap;
}
#u36 {
  position:absolute;
  left:0px;
  top:200px;
  width:360px;
  height:87px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u37 {
  position:absolute;
  left:312px;
  top:129px;
  width:34px;
  height:14px;
  font-size:11px;
  color:#0099FF;
}
#u37_img {
  position:absolute;
  left:0px;
  top:0px;
  width:34px;
  height:14px;
}
#u38 {
  position:absolute;
  left:0px;
  top:0px;
  width:34px;
  white-space:nowrap;
}
#u39 {
  position:absolute;
  left:211px;
  top:66px;
  width:135px;
  height:14px;
  font-size:11px;
}
#u39_img {
  position:absolute;
  left:0px;
  top:0px;
  width:135px;
  height:14px;
}
#u40 {
  position:absolute;
  left:0px;
  top:0px;
  width:135px;
  white-space:nowrap;
}
#u41 {
  position:absolute;
  left:302px;
  top:266px;
  width:45px;
  height:14px;
  font-size:11px;
  color:#0099FF;
}
#u41_img {
  position:absolute;
  left:0px;
  top:0px;
  width:45px;
  height:14px;
}
#u42 {
  position:absolute;
  left:0px;
  top:0px;
  width:45px;
  white-space:nowrap;
}
#u43 {
  position:absolute;
  left:211px;
  top:177px;
  width:135px;
  height:14px;
  font-size:11px;
}
#u43_img {
  position:absolute;
  left:0px;
  top:0px;
  width:135px;
  height:14px;
}
#u44 {
  position:absolute;
  left:0px;
  top:0px;
  width:135px;
  white-space:nowrap;
}
#u45 {
  position:absolute;
  left:290px;
  top:217px;
  width:56px;
  height:14px;
  font-size:11px;
}
#u45_img {
  position:absolute;
  left:0px;
  top:0px;
  width:56px;
  height:14px;
}
#u46 {
  position:absolute;
  left:0px;
  top:0px;
  width:56px;
  white-space:nowrap;
}
#u47 {
  position:absolute;
  left:329px;
  top:11px;
  width:20px;
  height:20px;
}
#u47_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u48 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u49 {
  position:absolute;
  left:315px;
  top:0px;
  width:45px;
  height:41px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u50 {
  position:absolute;
  left:0px;
  top:90px;
  width:360px;
  height:61px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u51 {
  position:absolute;
  left:0px;
  top:297px;
  width:360px;
  height:40px;
}
#u51_img {
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:40px;
}
#u52 {
  position:absolute;
  left:2px;
  top:12px;
  width:356px;
  visibility:hidden;
  word-wrap:break-word;
}
#u53 {
  position:absolute;
  left:10px;
  top:302px;
  width:30px;
  height:30px;
}
#u53_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u54 {
  position:absolute;
  left:2px;
  top:7px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
#u55 {
  position:absolute;
  left:50px;
  top:309px;
  width:27px;
  height:16px;
}
#u55_img {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:16px;
}
#u56 {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  white-space:nowrap;
}
#u57 {
  position:absolute;
  left:0px;
  top:337px;
  width:360px;
  height:61px;
}
#u57_img {
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:61px;
}
#u58 {
  position:absolute;
  left:2px;
  top:22px;
  width:356px;
  visibility:hidden;
  word-wrap:break-word;
}
#u59 {
  position:absolute;
  left:10px;
  top:347px;
  width:91px;
  height:17px;
  font-size:15px;
}
#u59_img {
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  height:17px;
}
#u60 {
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  white-space:nowrap;
}
#u61 {
  position:absolute;
  left:10px;
  top:374px;
  width:82px;
  height:14px;
  font-size:11px;
  color:#666666;
}
#u61_img {
  position:absolute;
  left:0px;
  top:0px;
  width:82px;
  height:14px;
}
#u62 {
  position:absolute;
  left:0px;
  top:0px;
  width:82px;
  white-space:nowrap;
}
#u63 {
  position:absolute;
  left:312px;
  top:376px;
  width:34px;
  height:14px;
  font-size:11px;
  color:#0099FF;
}
#u63_img {
  position:absolute;
  left:0px;
  top:0px;
  width:34px;
  height:14px;
}
#u64 {
  position:absolute;
  left:0px;
  top:0px;
  width:34px;
  white-space:nowrap;
}
#u65 {
  position:absolute;
  left:211px;
  top:313px;
  width:135px;
  height:14px;
  font-size:11px;
}
#u65_img {
  position:absolute;
  left:0px;
  top:0px;
  width:135px;
  height:14px;
}
#u66 {
  position:absolute;
  left:0px;
  top:0px;
  width:135px;
  white-space:nowrap;
}
#u67 {
  position:absolute;
  left:0px;
  top:337px;
  width:360px;
  height:61px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u68 {
  position:absolute;
  left:312px;
  top:350px;
  width:29px;
  height:16px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  color:#FF0000;
}
#u68_img {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:16px;
}
#u69 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u70 {
  position:absolute;
  left:0px;
  top:448px;
  width:360px;
  height:61px;
}
#u70_img {
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:61px;
}
#u71 {
  position:absolute;
  left:2px;
  top:22px;
  width:356px;
  visibility:hidden;
  word-wrap:break-word;
}
#u72 {
  position:absolute;
  left:10px;
  top:458px;
  width:61px;
  height:17px;
  font-size:15px;
}
#u72_img {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  height:17px;
}
#u73 {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  white-space:nowrap;
}
#u74 {
  position:absolute;
  left:10px;
  top:484px;
  width:129px;
  height:14px;
  font-size:11px;
  color:#666666;
}
#u74_img {
  position:absolute;
  left:0px;
  top:0px;
  width:129px;
  height:14px;
}
#u75 {
  position:absolute;
  left:0px;
  top:0px;
  width:129px;
  white-space:nowrap;
}
#u76 {
  position:absolute;
  left:309px;
  top:458px;
  width:37px;
  height:19px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-size:16px;
  color:#FF0000;
}
#u76_img {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  height:19px;
}
#u77 {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  white-space:nowrap;
}
#u78 {
  position:absolute;
  left:312px;
  top:486px;
  width:34px;
  height:14px;
  font-size:11px;
  color:#0099FF;
}
#u78_img {
  position:absolute;
  left:0px;
  top:0px;
  width:34px;
  height:14px;
}
#u79 {
  position:absolute;
  left:0px;
  top:0px;
  width:34px;
  white-space:nowrap;
}
#u80 {
  position:absolute;
  left:0px;
  top:448px;
  width:360px;
  height:61px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u81 {
  position:absolute;
  left:0px;
  top:408px;
  width:360px;
  height:40px;
}
#u81_img {
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:40px;
}
#u82 {
  position:absolute;
  left:2px;
  top:12px;
  width:356px;
  visibility:hidden;
  word-wrap:break-word;
}
#u83 {
  position:absolute;
  left:50px;
  top:420px;
  width:27px;
  height:16px;
}
#u83_img {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:16px;
}
#u84 {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  white-space:nowrap;
}
#u85 {
  position:absolute;
  left:211px;
  top:424px;
  width:135px;
  height:14px;
  font-size:11px;
}
#u85_img {
  position:absolute;
  left:0px;
  top:0px;
  width:135px;
  height:14px;
}
#u86 {
  position:absolute;
  left:0px;
  top:0px;
  width:135px;
  white-space:nowrap;
}
#u87 {
  position:absolute;
  left:10px;
  top:413px;
  width:30px;
  height:30px;
}
#u87_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u88 {
  position:absolute;
  left:2px;
  top:7px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
