body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:360px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:900px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:900px;
}
#u1 {
  position:absolute;
  left:2px;
  top:442px;
  width:356px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2 {
  position:absolute;
  left:0px;
  top:0px;
  width:359px;
  height:40px;
}
#u2_img {
  position:absolute;
  left:0px;
  top:0px;
  width:359px;
  height:40px;
}
#u3 {
  position:absolute;
  left:2px;
  top:12px;
  width:355px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4 {
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  height:41px;
}
#u4_img {
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  height:41px;
}
#u5 {
  position:absolute;
  left:2px;
  top:12px;
  width:37px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6 {
  position:absolute;
  left:143px;
  top:10px;
  width:73px;
  height:22px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-size:18px;
  color:#666666;
}
#u6_img {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:22px;
}
#u7 {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  white-space:nowrap;
}
#u8 {
  position:absolute;
  left:5px;
  top:79px;
  width:173px;
  height:243px;
}
#u8_img {
  position:absolute;
  left:0px;
  top:0px;
  width:173px;
  height:243px;
}
#u9 {
  position:absolute;
  left:2px;
  top:114px;
  width:169px;
  visibility:hidden;
  word-wrap:break-word;
}
#u10 {
  position:absolute;
  left:13px;
  top:247px;
  width:155px;
  height:32px;
}
#u10_img {
  position:absolute;
  left:0px;
  top:0px;
  width:155px;
  height:32px;
}
#u11 {
  position:absolute;
  left:0px;
  top:0px;
  width:155px;
  word-wrap:break-word;
}
#u12 {
  position:absolute;
  left:13px;
  top:289px;
  width:155px;
  height:22px;
}
#u12_img {
  position:absolute;
  left:0px;
  top:0px;
  width:155px;
  height:22px;
}
#u13 {
  position:absolute;
  left:2px;
  top:3px;
  width:151px;
  visibility:hidden;
  word-wrap:break-word;
}
#u14 {
  position:absolute;
  left:27px;
  top:293px;
  width:22px;
  height:16px;
  color:#FF9900;
}
#u14_img {
  position:absolute;
  left:0px;
  top:0px;
  width:22px;
  height:16px;
}
#u15 {
  position:absolute;
  left:0px;
  top:0px;
  width:22px;
  white-space:nowrap;
}
#u16 {
  position:absolute;
  left:91px;
  top:289px;
  width:77px;
  height:22px;
  font-size:11px;
  color:#FFFFFF;
}
#u16_img {
  position:absolute;
  left:0px;
  top:0px;
  width:77px;
  height:22px;
}
#u17 {
  position:absolute;
  left:2px;
  top:4px;
  width:73px;
  word-wrap:break-word;
}
#u18 {
  position:absolute;
  left:1px;
  top:39px;
  width:125px;
  height:30px;
}
#u18_img {
  position:absolute;
  left:0px;
  top:0px;
  width:125px;
  height:30px;
}
#u19 {
  position:absolute;
  left:2px;
  top:7px;
  width:121px;
  visibility:hidden;
  word-wrap:break-word;
}
#u20 {
  position:absolute;
  left:125px;
  top:39px;
  width:125px;
  height:30px;
}
#u20_img {
  position:absolute;
  left:0px;
  top:0px;
  width:125px;
  height:30px;
}
#u21 {
  position:absolute;
  left:2px;
  top:7px;
  width:121px;
  visibility:hidden;
  word-wrap:break-word;
}
#u22 {
  position:absolute;
  left:239px;
  top:39px;
  width:120px;
  height:30px;
}
#u22_img {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:30px;
}
#u23 {
  position:absolute;
  left:2px;
  top:7px;
  width:116px;
  visibility:hidden;
  word-wrap:break-word;
}
#u24 {
  position:absolute;
  left:48px;
  top:46px;
  width:27px;
  height:16px;
}
#u24_img {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:16px;
}
#u25 {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  white-space:nowrap;
}
#u26 {
  position:absolute;
  left:93px;
  top:43px;
  width:22px;
  height:22px;
}
#u26_img {
  position:absolute;
  left:0px;
  top:0px;
  width:22px;
  height:22px;
}
#u27 {
  position:absolute;
  left:2px;
  top:3px;
  width:18px;
  visibility:hidden;
  word-wrap:break-word;
}
#u28 {
  position:absolute;
  left:166px;
  top:46px;
  width:27px;
  height:16px;
  text-align:center;
}
#u28_img {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:16px;
}
#u29 {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  white-space:nowrap;
}
#u30 {
  position:absolute;
  left:217px;
  top:43px;
  width:22px;
  height:22px;
}
#u30_img {
  position:absolute;
  left:0px;
  top:0px;
  width:22px;
  height:22px;
}
#u31 {
  position:absolute;
  left:2px;
  top:3px;
  width:18px;
  visibility:hidden;
  word-wrap:break-word;
}
#u32 {
  position:absolute;
  left:283px;
  top:46px;
  width:27px;
  height:16px;
}
#u32_img {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:16px;
}
#u33 {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  white-space:nowrap;
}
#u34 {
  position:absolute;
  left:318px;
  top:46px;
  width:10px;
  height:10px;
  -webkit-transform:rotate(270deg);
  -moz-transform:rotate(270deg);
  -ms-transform:rotate(270deg);
  transform:rotate(270deg);
}
#u34_img {
  position:absolute;
  left:0px;
  top:0px;
  width:10px;
  height:10px;
}
#u35 {
  position:absolute;
  left:2px;
  top:-3px;
  width:6px;
  visibility:hidden;
  word-wrap:break-word;
}
#u36 {
  position:absolute;
  left:318px;
  top:53px;
  width:10px;
  height:10px;
  -webkit-transform:rotate(90deg);
  -moz-transform:rotate(90deg);
  -ms-transform:rotate(90deg);
  transform:rotate(90deg);
}
#u36_img {
  position:absolute;
  left:0px;
  top:0px;
  width:10px;
  height:10px;
}
#u37 {
  position:absolute;
  left:2px;
  top:-3px;
  width:6px;
  visibility:hidden;
  word-wrap:break-word;
}
#u38 {
  position:absolute;
  left:181px;
  top:79px;
  width:173px;
  height:243px;
}
#u38_img {
  position:absolute;
  left:0px;
  top:0px;
  width:173px;
  height:243px;
}
#u39 {
  position:absolute;
  left:2px;
  top:114px;
  width:169px;
  visibility:hidden;
  word-wrap:break-word;
}
#u40 {
  position:absolute;
  left:189px;
  top:247px;
  width:155px;
  height:16px;
}
#u40_img {
  position:absolute;
  left:0px;
  top:0px;
  width:155px;
  height:16px;
}
#u41 {
  position:absolute;
  left:0px;
  top:0px;
  width:155px;
  word-wrap:break-word;
}
#u42 {
  position:absolute;
  left:189px;
  top:289px;
  width:155px;
  height:22px;
}
#u42_img {
  position:absolute;
  left:0px;
  top:0px;
  width:155px;
  height:22px;
}
#u43 {
  position:absolute;
  left:2px;
  top:3px;
  width:151px;
  visibility:hidden;
  word-wrap:break-word;
}
#u44 {
  position:absolute;
  left:203px;
  top:293px;
  width:22px;
  height:16px;
  color:#FF9900;
}
#u44_img {
  position:absolute;
  left:0px;
  top:0px;
  width:22px;
  height:16px;
}
#u45 {
  position:absolute;
  left:0px;
  top:0px;
  width:22px;
  white-space:nowrap;
}
#u46 {
  position:absolute;
  left:267px;
  top:289px;
  width:77px;
  height:22px;
  font-size:11px;
  color:#FFFFFF;
}
#u46_img {
  position:absolute;
  left:0px;
  top:0px;
  width:77px;
  height:22px;
}
#u47 {
  position:absolute;
  left:2px;
  top:4px;
  width:73px;
  word-wrap:break-word;
}
#u48 {
  position:absolute;
  left:5px;
  top:327px;
  width:173px;
  height:243px;
}
#u48_img {
  position:absolute;
  left:0px;
  top:0px;
  width:173px;
  height:243px;
}
#u49 {
  position:absolute;
  left:2px;
  top:114px;
  width:169px;
  visibility:hidden;
  word-wrap:break-word;
}
#u50 {
  position:absolute;
  left:194px;
  top:91px;
  width:146px;
  height:146px;
}
#u50_img {
  position:absolute;
  left:0px;
  top:0px;
  width:146px;
  height:146px;
}
#u51 {
  position:absolute;
  left:2px;
  top:65px;
  width:142px;
  visibility:hidden;
  word-wrap:break-word;
}
#u52 {
  position:absolute;
  left:18px;
  top:339px;
  width:146px;
  height:146px;
}
#u52_img {
  position:absolute;
  left:0px;
  top:0px;
  width:146px;
  height:146px;
}
#u53 {
  position:absolute;
  left:2px;
  top:65px;
  width:142px;
  visibility:hidden;
  word-wrap:break-word;
}
#u54 {
  position:absolute;
  left:13px;
  top:495px;
  width:155px;
  height:32px;
}
#u54_img {
  position:absolute;
  left:0px;
  top:0px;
  width:155px;
  height:32px;
}
#u55 {
  position:absolute;
  left:0px;
  top:0px;
  width:155px;
  word-wrap:break-word;
}
#u56 {
  position:absolute;
  left:13px;
  top:537px;
  width:155px;
  height:22px;
}
#u56_img {
  position:absolute;
  left:0px;
  top:0px;
  width:155px;
  height:22px;
}
#u57 {
  position:absolute;
  left:2px;
  top:3px;
  width:151px;
  visibility:hidden;
  word-wrap:break-word;
}
#u58 {
  position:absolute;
  left:27px;
  top:541px;
  width:33px;
  height:16px;
  color:#FF9900;
}
#u58_img {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  height:16px;
}
#u59 {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  white-space:nowrap;
}
#u60 {
  position:absolute;
  left:91px;
  top:537px;
  width:77px;
  height:22px;
  font-size:11px;
  color:#FFFFFF;
}
#u60_img {
  position:absolute;
  left:0px;
  top:0px;
  width:77px;
  height:22px;
}
#u61 {
  position:absolute;
  left:2px;
  top:4px;
  width:73px;
  word-wrap:break-word;
}
#u62 {
  position:absolute;
  left:6px;
  top:327px;
  width:173px;
  height:243px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u63 {
  position:absolute;
  left:181px;
  top:327px;
  width:173px;
  height:243px;
}
#u63_img {
  position:absolute;
  left:0px;
  top:0px;
  width:173px;
  height:243px;
}
#u64 {
  position:absolute;
  left:2px;
  top:114px;
  width:169px;
  visibility:hidden;
  word-wrap:break-word;
}
#u65 {
  position:absolute;
  left:194px;
  top:339px;
  width:146px;
  height:146px;
}
#u65_img {
  position:absolute;
  left:0px;
  top:0px;
  width:146px;
  height:146px;
}
#u66 {
  position:absolute;
  left:2px;
  top:65px;
  width:142px;
  visibility:hidden;
  word-wrap:break-word;
}
#u67 {
  position:absolute;
  left:189px;
  top:495px;
  width:155px;
  height:32px;
}
#u67_img {
  position:absolute;
  left:0px;
  top:0px;
  width:155px;
  height:32px;
}
#u68 {
  position:absolute;
  left:0px;
  top:0px;
  width:155px;
  word-wrap:break-word;
}
#u69 {
  position:absolute;
  left:189px;
  top:537px;
  width:155px;
  height:22px;
}
#u69_img {
  position:absolute;
  left:0px;
  top:0px;
  width:155px;
  height:22px;
}
#u70 {
  position:absolute;
  left:2px;
  top:3px;
  width:151px;
  visibility:hidden;
  word-wrap:break-word;
}
#u71 {
  position:absolute;
  left:203px;
  top:541px;
  width:33px;
  height:16px;
  color:#FF9900;
}
#u71_img {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  height:16px;
}
#u72 {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  white-space:nowrap;
}
#u73 {
  position:absolute;
  left:267px;
  top:537px;
  width:77px;
  height:22px;
  font-size:11px;
  color:#FFFFFF;
}
#u73_img {
  position:absolute;
  left:0px;
  top:0px;
  width:77px;
  height:22px;
}
#u74 {
  position:absolute;
  left:2px;
  top:4px;
  width:73px;
  word-wrap:break-word;
}
#u75 {
  position:absolute;
  left:182px;
  top:327px;
  width:173px;
  height:243px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u76 {
  position:absolute;
  left:5px;
  top:575px;
  width:173px;
  height:243px;
}
#u76_img {
  position:absolute;
  left:0px;
  top:0px;
  width:173px;
  height:243px;
}
#u77 {
  position:absolute;
  left:2px;
  top:114px;
  width:169px;
  visibility:hidden;
  word-wrap:break-word;
}
#u78 {
  position:absolute;
  left:18px;
  top:587px;
  width:146px;
  height:146px;
}
#u78_img {
  position:absolute;
  left:0px;
  top:0px;
  width:146px;
  height:146px;
}
#u79 {
  position:absolute;
  left:2px;
  top:65px;
  width:142px;
  visibility:hidden;
  word-wrap:break-word;
}
#u80 {
  position:absolute;
  left:13px;
  top:743px;
  width:155px;
  height:32px;
}
#u80_img {
  position:absolute;
  left:0px;
  top:0px;
  width:155px;
  height:32px;
}
#u81 {
  position:absolute;
  left:0px;
  top:0px;
  width:155px;
  word-wrap:break-word;
}
#u82 {
  position:absolute;
  left:13px;
  top:785px;
  width:155px;
  height:22px;
}
#u82_img {
  position:absolute;
  left:0px;
  top:0px;
  width:155px;
  height:22px;
}
#u83 {
  position:absolute;
  left:2px;
  top:3px;
  width:151px;
  visibility:hidden;
  word-wrap:break-word;
}
#u84 {
  position:absolute;
  left:27px;
  top:789px;
  width:33px;
  height:16px;
  color:#FF9900;
}
#u84_img {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  height:16px;
}
#u85 {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  white-space:nowrap;
}
#u86 {
  position:absolute;
  left:91px;
  top:785px;
  width:77px;
  height:22px;
  font-size:11px;
  color:#FFFFFF;
}
#u86_img {
  position:absolute;
  left:0px;
  top:0px;
  width:77px;
  height:22px;
}
#u87 {
  position:absolute;
  left:2px;
  top:4px;
  width:73px;
  word-wrap:break-word;
}
#u88 {
  position:absolute;
  left:6px;
  top:575px;
  width:173px;
  height:243px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u89 {
  position:absolute;
  left:181px;
  top:575px;
  width:173px;
  height:243px;
}
#u89_img {
  position:absolute;
  left:0px;
  top:0px;
  width:173px;
  height:243px;
}
#u90 {
  position:absolute;
  left:2px;
  top:114px;
  width:169px;
  visibility:hidden;
  word-wrap:break-word;
}
#u91 {
  position:absolute;
  left:194px;
  top:587px;
  width:146px;
  height:146px;
}
#u91_img {
  position:absolute;
  left:0px;
  top:0px;
  width:146px;
  height:146px;
}
#u92 {
  position:absolute;
  left:2px;
  top:65px;
  width:142px;
  visibility:hidden;
  word-wrap:break-word;
}
#u93 {
  position:absolute;
  left:189px;
  top:743px;
  width:155px;
  height:32px;
}
#u93_img {
  position:absolute;
  left:0px;
  top:0px;
  width:155px;
  height:32px;
}
#u94 {
  position:absolute;
  left:0px;
  top:0px;
  width:155px;
  word-wrap:break-word;
}
#u95 {
  position:absolute;
  left:189px;
  top:785px;
  width:155px;
  height:22px;
}
#u95_img {
  position:absolute;
  left:0px;
  top:0px;
  width:155px;
  height:22px;
}
#u96 {
  position:absolute;
  left:2px;
  top:3px;
  width:151px;
  visibility:hidden;
  word-wrap:break-word;
}
#u97 {
  position:absolute;
  left:203px;
  top:789px;
  width:33px;
  height:16px;
  color:#FF9900;
}
#u97_img {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  height:16px;
}
#u98 {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  white-space:nowrap;
}
#u99 {
  position:absolute;
  left:267px;
  top:785px;
  width:77px;
  height:22px;
  font-size:11px;
  color:#FFFFFF;
}
#u99_img {
  position:absolute;
  left:0px;
  top:0px;
  width:77px;
  height:22px;
}
#u100 {
  position:absolute;
  left:2px;
  top:4px;
  width:73px;
  word-wrap:break-word;
}
#u101 {
  position:absolute;
  left:182px;
  top:575px;
  width:173px;
  height:243px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u102 {
  position:absolute;
  left:20px;
  top:90px;
  width:143px;
  height:149px;
}
#u102_img {
  position:absolute;
  left:0px;
  top:0px;
  width:143px;
  height:149px;
}
#u103 {
  position:absolute;
  left:2px;
  top:66px;
  width:139px;
  visibility:hidden;
  word-wrap:break-word;
}
#u104 {
  position:absolute;
  left:181px;
  top:79px;
  width:173px;
  height:243px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u105 {
  position:absolute;
  left:4px;
  top:79px;
  width:173px;
  height:243px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u106 {
  position:fixed;
  left:0px;
  bottom:0px;
}
#u106_state0 {
  position:relative;
  left:0px;
  top:0px;
  background-image:none;
}
#u106_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u108 {
  position:fixed;
  left:0px;
  bottom:0px;
  width:360px;
  height:63px;
  overflow:hidden;
}
#u108_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:63px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u108_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u109 {
  position:absolute;
  left:0px;
  top:23px;
  width:360px;
  height:40px;
}
#u109_img {
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:40px;
}
#u110 {
  position:absolute;
  left:2px;
  top:12px;
  width:356px;
  visibility:hidden;
  word-wrap:break-word;
}
#u111 {
  position:absolute;
  left:29px;
  top:47px;
  width:21px;
  height:13px;
  font-size:10px;
}
#u111_img {
  position:absolute;
  left:0px;
  top:0px;
  width:21px;
  height:13px;
}
#u112 {
  position:absolute;
  left:0px;
  top:0px;
  width:21px;
  white-space:nowrap;
}
#u113 {
  position:absolute;
  left:92px;
  top:47px;
  width:41px;
  height:13px;
  font-size:10px;
}
#u113_img {
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  height:13px;
}
#u114 {
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  white-space:nowrap;
}
#u115 {
  position:absolute;
  left:299px;
  top:47px;
  width:41px;
  height:13px;
  font-size:10px;
}
#u115_img {
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  height:13px;
}
#u116 {
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  white-space:nowrap;
}
#u117 {
  position:absolute;
  left:29px;
  top:25px;
  width:20px;
  height:20px;
}
#u117_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u118 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u119 {
  position:absolute;
  left:310px;
  top:27px;
  width:20px;
  height:20px;
}
#u119_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u120 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u121 {
  position:absolute;
  left:240px;
  top:47px;
  width:21px;
  height:13px;
  font-size:10px;
}
#u121_img {
  position:absolute;
  left:0px;
  top:0px;
  width:21px;
  height:13px;
}
#u122 {
  position:absolute;
  left:0px;
  top:0px;
  width:21px;
  white-space:nowrap;
}
#u123 {
  position:absolute;
  left:240px;
  top:27px;
  width:20px;
  height:20px;
}
#u123_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u124 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u125 {
  position:absolute;
  left:150px;
  top:0px;
  width:60px;
  height:60px;
}
#u125_img {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:60px;
}
#u126 {
  position:absolute;
  left:2px;
  top:22px;
  width:56px;
  visibility:hidden;
  word-wrap:break-word;
}
#u127 {
  position:absolute;
  left:102px;
  top:27px;
  width:20px;
  height:20px;
}
#u127_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u128 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u129 {
  position:absolute;
  left:290px;
  top:23px;
  width:59px;
  height:40px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u130 {
  position:absolute;
  left:10px;
  top:23px;
  width:59px;
  height:40px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u131 {
  position:absolute;
  left:162px;
  top:8px;
  width:36px;
  height:42px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-size:11px;
  color:#FF0000;
  text-align:center;
}
#u131_img {
  position:absolute;
  left:0px;
  top:0px;
  width:36px;
  height:42px;
}
#u132 {
  position:absolute;
  left:0px;
  top:0px;
  width:36px;
  white-space:nowrap;
}
#u133 {
  position:absolute;
  left:87px;
  top:23px;
  width:50px;
  height:37px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u134 {
  position:absolute;
  left:225px;
  top:24px;
  width:50px;
  height:37px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u135 {
  position:absolute;
  left:150px;
  top:0px;
  width:60px;
  height:63px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
