body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:360px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:0px;
  top:-17px;
  width:360px;
  height:667px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:667px;
}
#u1 {
  position:absolute;
  left:2px;
  top:326px;
  width:356px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2 {
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:40px;
}
#u2_img {
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:40px;
}
#u3 {
  position:absolute;
  left:2px;
  top:12px;
  width:356px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4 {
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  height:41px;
}
#u4_img {
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  height:41px;
}
#u5 {
  position:absolute;
  left:2px;
  top:12px;
  width:37px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6 {
  position:absolute;
  left:151px;
  top:9px;
  width:73px;
  height:22px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-size:18px;
}
#u6_img {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:22px;
}
#u7 {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  white-space:nowrap;
}
#u8 {
  position:absolute;
  left:10px;
  top:50px;
  width:340px;
  height:30px;
}
#u8_img {
  position:absolute;
  left:0px;
  top:0px;
  width:340px;
  height:30px;
}
#u9 {
  position:absolute;
  left:2px;
  top:7px;
  width:336px;
  word-wrap:break-word;
}
#u10 {
  position:absolute;
  left:0px;
  top:90px;
  width:360px;
  height:63px;
}
#u10_img {
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:63px;
}
#u11 {
  position:absolute;
  left:2px;
  top:24px;
  width:356px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12 {
  position:absolute;
  left:10px;
  top:133px;
  width:125px;
  height:16px;
}
#u12_img {
  position:absolute;
  left:0px;
  top:0px;
  width:125px;
  height:16px;
}
#u13 {
  position:absolute;
  left:0px;
  top:0px;
  width:125px;
  white-space:nowrap;
}
#u14 {
  position:absolute;
  left:10px;
  top:97px;
  width:341px;
  height:32px;
}
#u14_img {
  position:absolute;
  left:0px;
  top:0px;
  width:341px;
  height:32px;
}
#u15 {
  position:absolute;
  left:0px;
  top:0px;
  width:341px;
  word-wrap:break-word;
}
#u16 {
  position:absolute;
  left:306px;
  top:133px;
  width:45px;
  height:14px;
  font-size:11px;
  color:#0000FF;
}
#u16_img {
  position:absolute;
  left:0px;
  top:0px;
  width:45px;
  height:14px;
}
#u17 {
  position:absolute;
  left:0px;
  top:0px;
  width:45px;
  white-space:nowrap;
}
#u18 {
  position:absolute;
  left:0px;
  top:152px;
  width:360px;
  height:63px;
}
#u18_img {
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:63px;
}
#u19 {
  position:absolute;
  left:2px;
  top:24px;
  width:356px;
  visibility:hidden;
  word-wrap:break-word;
}
#u20 {
  position:absolute;
  left:10px;
  top:195px;
  width:125px;
  height:16px;
}
#u20_img {
  position:absolute;
  left:0px;
  top:0px;
  width:125px;
  height:16px;
}
#u21 {
  position:absolute;
  left:0px;
  top:0px;
  width:125px;
  white-space:nowrap;
}
#u22 {
  position:absolute;
  left:10px;
  top:159px;
  width:341px;
  height:32px;
}
#u22_img {
  position:absolute;
  left:0px;
  top:0px;
  width:341px;
  height:32px;
}
#u23 {
  position:absolute;
  left:0px;
  top:0px;
  width:341px;
  word-wrap:break-word;
}
#u24 {
  position:absolute;
  left:306px;
  top:195px;
  width:45px;
  height:14px;
  font-size:11px;
  color:#0000FF;
}
#u24_img {
  position:absolute;
  left:0px;
  top:0px;
  width:45px;
  height:14px;
}
#u25 {
  position:absolute;
  left:0px;
  top:0px;
  width:45px;
  white-space:nowrap;
}
#u26 {
  position:absolute;
  left:0px;
  top:214px;
  width:360px;
  height:63px;
}
#u26_img {
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:63px;
}
#u27 {
  position:absolute;
  left:2px;
  top:24px;
  width:356px;
  visibility:hidden;
  word-wrap:break-word;
}
#u28 {
  position:absolute;
  left:10px;
  top:257px;
  width:125px;
  height:16px;
}
#u28_img {
  position:absolute;
  left:0px;
  top:0px;
  width:125px;
  height:16px;
}
#u29 {
  position:absolute;
  left:0px;
  top:0px;
  width:125px;
  white-space:nowrap;
}
#u30 {
  position:absolute;
  left:10px;
  top:221px;
  width:341px;
  height:32px;
}
#u30_img {
  position:absolute;
  left:0px;
  top:0px;
  width:341px;
  height:32px;
}
#u31 {
  position:absolute;
  left:0px;
  top:0px;
  width:341px;
  word-wrap:break-word;
}
#u32 {
  position:absolute;
  left:306px;
  top:257px;
  width:45px;
  height:14px;
  font-size:11px;
  color:#0000FF;
}
#u32_img {
  position:absolute;
  left:0px;
  top:0px;
  width:45px;
  height:14px;
}
#u33 {
  position:absolute;
  left:0px;
  top:0px;
  width:45px;
  white-space:nowrap;
}
