body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:360px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:0px;
  top:-17px;
  width:360px;
  height:667px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:667px;
}
#u1 {
  position:absolute;
  left:2px;
  top:326px;
  width:356px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2 {
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:40px;
}
#u2_img {
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:40px;
}
#u3 {
  position:absolute;
  left:2px;
  top:12px;
  width:356px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4 {
  position:absolute;
  left:0px;
  top:0px;
  width:39px;
  height:41px;
}
#u4_img {
  position:absolute;
  left:0px;
  top:0px;
  width:39px;
  height:41px;
}
#u5 {
  position:absolute;
  left:2px;
  top:12px;
  width:35px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6 {
  position:absolute;
  left:145px;
  top:9px;
  width:73px;
  height:22px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-size:18px;
}
#u6_img {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:22px;
}
#u7 {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  white-space:nowrap;
}
#u8 {
  position:absolute;
  left:0px;
  top:41px;
  width:360px;
  height:129px;
}
#u8_img {
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:129px;
}
#u9 {
  position:absolute;
  left:2px;
  top:56px;
  width:356px;
  visibility:hidden;
  word-wrap:break-word;
}
#u10 {
  position:absolute;
  left:0px;
  top:170px;
  width:360px;
  height:40px;
}
#u10_img {
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:40px;
}
#u11 {
  position:absolute;
  left:2px;
  top:12px;
  width:356px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12 {
  position:absolute;
  left:10px;
  top:182px;
  width:110px;
  height:16px;
}
#u12_img {
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:16px;
}
#u13 {
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  word-wrap:break-word;
}
#u14 {
  position:absolute;
  left:290px;
  top:180px;
  width:60px;
  height:19px;
  font-size:16px;
  color:#FF0000;
}
#u14_img {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:19px;
}
#u15 {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  word-wrap:break-word;
}
#u16 {
  position:absolute;
  left:0px;
  top:220px;
  width:360px;
  height:380px;
}
#u16_img {
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:380px;
}
#u17 {
  position:absolute;
  left:2px;
  top:182px;
  width:356px;
  visibility:hidden;
  word-wrap:break-word;
}
#u18 {
  position:absolute;
  left:10px;
  top:280px;
  width:80px;
  height:16px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
}
#u18_img {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:16px;
}
#u19 {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  word-wrap:break-word;
}
#u20 {
  position:absolute;
  left:10px;
  top:300px;
  width:300px;
  height:16px;
}
#u20_img {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:16px;
}
#u21 {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  word-wrap:break-word;
}
#u22 {
  position:absolute;
  left:10px;
  top:338px;
  width:80px;
  height:16px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
}
#u22_img {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:16px;
}
#u23 {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  word-wrap:break-word;
}
#u24 {
  position:absolute;
  left:10px;
  top:358px;
  width:300px;
  height:16px;
}
#u24_img {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:16px;
}
#u25 {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  word-wrap:break-word;
}
#u26 {
  position:absolute;
  left:142px;
  top:230px;
  width:73px;
  height:22px;
  font-size:18px;
}
#u26_img {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:22px;
}
#u27 {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  white-space:nowrap;
}
#u28 {
  position:absolute;
  left:10px;
  top:395px;
  width:80px;
  height:16px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
}
#u28_img {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:16px;
}
#u29 {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  word-wrap:break-word;
}
#u30 {
  position:absolute;
  left:10px;
  top:415px;
  width:340px;
  height:32px;
}
#u30_img {
  position:absolute;
  left:0px;
  top:0px;
  width:340px;
  height:32px;
}
#u31 {
  position:absolute;
  left:0px;
  top:0px;
  width:340px;
  word-wrap:break-word;
}
#u32 {
  position:absolute;
  left:10px;
  top:465px;
  width:80px;
  height:16px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
}
#u32_img {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:16px;
}
#u33 {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  word-wrap:break-word;
}
#u34 {
  position:absolute;
  left:10px;
  top:485px;
  width:340px;
  height:32px;
}
#u34_img {
  position:absolute;
  left:0px;
  top:0px;
  width:340px;
  height:32px;
}
#u35 {
  position:absolute;
  left:0px;
  top:0px;
  width:340px;
  word-wrap:break-word;
}
#u36 {
  position:absolute;
  left:10px;
  top:530px;
  width:80px;
  height:16px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
}
#u36_img {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:16px;
}
#u37 {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  word-wrap:break-word;
}
#u38 {
  position:absolute;
  left:10px;
  top:550px;
  width:340px;
  height:32px;
}
#u38_img {
  position:absolute;
  left:0px;
  top:0px;
  width:340px;
  height:32px;
}
#u39 {
  position:absolute;
  left:0px;
  top:0px;
  width:340px;
  word-wrap:break-word;
}
#u40 {
  position:fixed;
  left:0px;
  bottom:0px;
}
#u40_state0 {
  position:relative;
  left:0px;
  top:0px;
  background-image:none;
}
#u40_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u41 {
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:50px;
}
#u41_img {
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:50px;
}
#u42 {
  position:absolute;
  left:2px;
  top:17px;
  width:356px;
  visibility:hidden;
  word-wrap:break-word;
}
#u43 {
  position:absolute;
  left:240px;
  top:0px;
  width:120px;
  height:50px;
}
#u43_img {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:50px;
}
#u44 {
  position:absolute;
  left:2px;
  top:17px;
  width:116px;
  word-wrap:break-word;
}
#u45 {
  position:absolute;
  left:15px;
  top:16px;
  width:72px;
  height:19px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-size:16px;
  color:#FF0000;
}
#u45_img {
  position:absolute;
  left:0px;
  top:0px;
  width:72px;
  height:19px;
}
#u46 {
  position:absolute;
  left:0px;
  top:0px;
  width:72px;
  white-space:nowrap;
}
