body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:360px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:0px;
  top:-17px;
  width:360px;
  height:667px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:667px;
}
#u1 {
  position:absolute;
  left:2px;
  top:326px;
  width:356px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2 {
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:40px;
}
#u2_img {
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:40px;
}
#u3 {
  position:absolute;
  left:2px;
  top:12px;
  width:356px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4 {
  position:absolute;
  left:144px;
  top:10px;
  width:73px;
  height:22px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-size:18px;
}
#u4_img {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:22px;
}
#u5 {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  white-space:nowrap;
}
#u6 {
  position:absolute;
  left:0px;
  top:90px;
  width:360px;
  height:60px;
}
#u6_img {
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:60px;
}
#u7 {
  position:absolute;
  left:2px;
  top:22px;
  width:356px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8 {
  position:absolute;
  left:20px;
  top:111px;
  width:19px;
  height:16px;
}
#u9 {
  position:absolute;
  left:16px;
  top:0px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u10 {
  position:absolute;
  left:0px;
  top:149px;
  width:360px;
  height:60px;
}
#u10_img {
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:60px;
}
#u11 {
  position:absolute;
  left:2px;
  top:22px;
  width:356px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12 {
  position:absolute;
  left:20px;
  top:170px;
  width:19px;
  height:16px;
}
#u13 {
  position:absolute;
  left:16px;
  top:0px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u14 {
  position:absolute;
  left:0px;
  top:208px;
  width:360px;
  height:60px;
}
#u14_img {
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:60px;
}
#u15 {
  position:absolute;
  left:2px;
  top:22px;
  width:356px;
  visibility:hidden;
  word-wrap:break-word;
}
#u16 {
  position:absolute;
  left:20px;
  top:229px;
  width:19px;
  height:16px;
}
#u17 {
  position:absolute;
  left:16px;
  top:0px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u16_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u18 {
  position:absolute;
  left:0px;
  top:267px;
  width:360px;
  height:60px;
}
#u18_img {
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:60px;
}
#u19 {
  position:absolute;
  left:2px;
  top:22px;
  width:356px;
  visibility:hidden;
  word-wrap:break-word;
}
#u20 {
  position:absolute;
  left:20px;
  top:288px;
  width:19px;
  height:16px;
}
#u21 {
  position:absolute;
  left:16px;
  top:0px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u20_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u22 {
  position:absolute;
  left:318px;
  top:10px;
  width:27px;
  height:16px;
  color:#0099FF;
}
#u22_img {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:16px;
}
#u23 {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  white-space:nowrap;
}
#u24 {
  position:absolute;
  left:300px;
  top:0px;
  width:60px;
  height:40px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u25 {
  position:absolute;
  left:64px;
  top:130px;
  width:125px;
  height:16px;
}
#u25_img {
  position:absolute;
  left:0px;
  top:0px;
  width:125px;
  height:16px;
}
#u26 {
  position:absolute;
  left:0px;
  top:0px;
  width:125px;
  white-space:nowrap;
}
#u27 {
  position:absolute;
  left:64px;
  top:94px;
  width:281px;
  height:32px;
}
#u27_img {
  position:absolute;
  left:0px;
  top:0px;
  width:281px;
  height:32px;
}
#u28 {
  position:absolute;
  left:0px;
  top:0px;
  width:281px;
  word-wrap:break-word;
}
#u29 {
  position:absolute;
  left:64px;
  top:189px;
  width:125px;
  height:16px;
}
#u29_img {
  position:absolute;
  left:0px;
  top:0px;
  width:125px;
  height:16px;
}
#u30 {
  position:absolute;
  left:0px;
  top:0px;
  width:125px;
  white-space:nowrap;
}
#u31 {
  position:absolute;
  left:64px;
  top:153px;
  width:281px;
  height:32px;
}
#u31_img {
  position:absolute;
  left:0px;
  top:0px;
  width:281px;
  height:32px;
}
#u32 {
  position:absolute;
  left:0px;
  top:0px;
  width:281px;
  word-wrap:break-word;
}
#u33 {
  position:absolute;
  left:64px;
  top:248px;
  width:125px;
  height:16px;
}
#u33_img {
  position:absolute;
  left:0px;
  top:0px;
  width:125px;
  height:16px;
}
#u34 {
  position:absolute;
  left:0px;
  top:0px;
  width:125px;
  white-space:nowrap;
}
#u35 {
  position:absolute;
  left:64px;
  top:212px;
  width:281px;
  height:32px;
}
#u35_img {
  position:absolute;
  left:0px;
  top:0px;
  width:281px;
  height:32px;
}
#u36 {
  position:absolute;
  left:0px;
  top:0px;
  width:281px;
  word-wrap:break-word;
}
#u37 {
  position:absolute;
  left:64px;
  top:307px;
  width:125px;
  height:16px;
}
#u37_img {
  position:absolute;
  left:0px;
  top:0px;
  width:125px;
  height:16px;
}
#u38 {
  position:absolute;
  left:0px;
  top:0px;
  width:125px;
  white-space:nowrap;
}
#u39 {
  position:absolute;
  left:64px;
  top:271px;
  width:281px;
  height:32px;
}
#u39_img {
  position:absolute;
  left:0px;
  top:0px;
  width:281px;
  height:32px;
}
#u40 {
  position:absolute;
  left:0px;
  top:0px;
  width:281px;
  word-wrap:break-word;
}
#u41 {
  position:absolute;
  left:0px;
  top:0px;
  width:39px;
  height:41px;
}
#u41_img {
  position:absolute;
  left:0px;
  top:0px;
  width:39px;
  height:41px;
}
#u42 {
  position:absolute;
  left:2px;
  top:12px;
  width:35px;
  visibility:hidden;
  word-wrap:break-word;
}
#u43 {
  position:absolute;
  left:318px;
  top:129px;
  width:23px;
  height:14px;
  font-size:11px;
  color:#0000FF;
}
#u43_img {
  position:absolute;
  left:0px;
  top:0px;
  width:23px;
  height:14px;
}
#u44 {
  position:absolute;
  left:0px;
  top:0px;
  width:23px;
  white-space:nowrap;
}
#u45 {
  position:absolute;
  left:318px;
  top:189px;
  width:23px;
  height:14px;
  font-size:11px;
  color:#0000FF;
}
#u45_img {
  position:absolute;
  left:0px;
  top:0px;
  width:23px;
  height:14px;
}
#u46 {
  position:absolute;
  left:0px;
  top:0px;
  width:23px;
  white-space:nowrap;
}
#u47 {
  position:absolute;
  left:318px;
  top:248px;
  width:23px;
  height:14px;
  font-size:11px;
  color:#0000FF;
}
#u47_img {
  position:absolute;
  left:0px;
  top:0px;
  width:23px;
  height:14px;
}
#u48 {
  position:absolute;
  left:0px;
  top:0px;
  width:23px;
  white-space:nowrap;
}
#u49 {
  position:absolute;
  left:318px;
  top:303px;
  width:23px;
  height:14px;
  font-size:11px;
  color:#0000FF;
}
#u49_img {
  position:absolute;
  left:0px;
  top:0px;
  width:23px;
  height:14px;
}
#u50 {
  position:absolute;
  left:0px;
  top:0px;
  width:23px;
  white-space:nowrap;
}
#u51 {
  position:absolute;
  left:20px;
  top:44px;
  width:321px;
  height:40px;
}
#u51_img {
  position:absolute;
  left:0px;
  top:0px;
  width:321px;
  height:40px;
}
#u52 {
  position:absolute;
  left:2px;
  top:12px;
  width:317px;
  word-wrap:break-word;
}
#u53 {
  position:absolute;
  left:213px;
  top:130px;
  width:45px;
  height:14px;
  font-size:11px;
}
#u53_img {
  position:absolute;
  left:0px;
  top:0px;
  width:45px;
  height:14px;
}
#u54 {
  position:absolute;
  left:0px;
  top:0px;
  width:45px;
  white-space:nowrap;
}
