body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:360px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:667px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:667px;
}
#u1 {
  position:absolute;
  left:2px;
  top:326px;
  width:356px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2 {
  position:absolute;
  left:0px;
  top:0px;
  width:359px;
  height:40px;
}
#u2_img {
  position:absolute;
  left:0px;
  top:0px;
  width:359px;
  height:40px;
}
#u3 {
  position:absolute;
  left:2px;
  top:12px;
  width:355px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4 {
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  height:41px;
}
#u4_img {
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  height:41px;
}
#u5 {
  position:absolute;
  left:2px;
  top:12px;
  width:37px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6 {
  position:absolute;
  left:107px;
  top:9px;
  width:145px;
  height:22px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-size:18px;
  color:#000000;
}
#u6_img {
  position:absolute;
  left:0px;
  top:0px;
  width:145px;
  height:22px;
}
#u7 {
  position:absolute;
  left:0px;
  top:0px;
  width:145px;
  white-space:nowrap;
}
#u8 {
  position:absolute;
  left:0px;
  top:50px;
  width:359px;
  height:200px;
}
#u8_img {
  position:absolute;
  left:0px;
  top:0px;
  width:359px;
  height:200px;
}
#u9 {
  position:absolute;
  left:2px;
  top:92px;
  width:355px;
  visibility:hidden;
  word-wrap:break-word;
}
#u10 {
  position:absolute;
  left:10px;
  top:60px;
  width:340px;
  height:170px;
}
#u10_img {
  position:absolute;
  left:0px;
  top:0px;
  width:340px;
  height:170px;
}
#u11 {
  position:absolute;
  left:0px;
  top:0px;
  width:340px;
  word-wrap:break-word;
}
