body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:360px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:0px;
  top:-17px;
  width:360px;
  height:684px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:684px;
}
#u1 {
  position:absolute;
  left:2px;
  top:334px;
  width:356px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2 {
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:40px;
}
#u2_img {
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:40px;
}
#u3 {
  position:absolute;
  left:2px;
  top:12px;
  width:356px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4 {
  position:absolute;
  left:0px;
  top:0px;
  width:39px;
  height:41px;
}
#u4_img {
  position:absolute;
  left:0px;
  top:0px;
  width:39px;
  height:41px;
}
#u5 {
  position:absolute;
  left:2px;
  top:12px;
  width:35px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6 {
  position:absolute;
  left:134px;
  top:9px;
  width:91px;
  height:22px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-size:18px;
}
#u6_img {
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  height:22px;
}
#u7 {
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  white-space:nowrap;
}
#u8 {
  position:absolute;
  left:65px;
  top:40px;
  width:215px;
  height:143px;
}
#u8_img {
  position:absolute;
  left:0px;
  top:0px;
  width:215px;
  height:143px;
}
#u9 {
  position:absolute;
  left:2px;
  top:64px;
  width:211px;
  visibility:hidden;
  word-wrap:break-word;
}
#u10 {
  position:absolute;
  left:170px;
  top:187px;
  width:20px;
  height:20px;
  -webkit-transform:rotate(45deg);
  -moz-transform:rotate(45deg);
  -ms-transform:rotate(45deg);
  transform:rotate(45deg);
}
#u10_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u11 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12 {
  position:absolute;
  left:0px;
  top:193px;
  width:360px;
  height:387px;
}
#u12_img {
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:387px;
}
#u13 {
  position:absolute;
  left:2px;
  top:186px;
  width:356px;
  visibility:hidden;
  word-wrap:break-word;
}
#u14 {
  position:absolute;
  left:20px;
  top:221px;
  width:320px;
  height:40px;
  font-size:16px;
  color:#FFFFFF;
}
#u14_img {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:40px;
}
#u15 {
  position:absolute;
  left:2px;
  top:10px;
  width:316px;
  word-wrap:break-word;
}
#u16 {
  position:absolute;
  left:20px;
  top:271px;
  width:320px;
  height:40px;
  font-size:16px;
  color:#FFFFFF;
}
#u16_img {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:40px;
}
#u17 {
  position:absolute;
  left:2px;
  top:10px;
  width:316px;
  word-wrap:break-word;
}
