body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:360px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:670px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:670px;
}
#u1 {
  position:absolute;
  left:2px;
  top:327px;
  width:356px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2 {
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:40px;
}
#u2_img {
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:40px;
}
#u3 {
  position:absolute;
  left:2px;
  top:12px;
  width:356px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4 {
  position:absolute;
  left:0px;
  top:0px;
  width:39px;
  height:41px;
}
#u4_img {
  position:absolute;
  left:0px;
  top:0px;
  width:39px;
  height:41px;
}
#u5 {
  position:absolute;
  left:2px;
  top:12px;
  width:35px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6 {
  position:absolute;
  left:144px;
  top:9px;
  width:73px;
  height:22px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-size:18px;
}
#u6_img {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:22px;
}
#u7 {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  white-space:nowrap;
}
#u8 {
  position:absolute;
  left:0px;
  top:74px;
  width:360px;
  height:151px;
}
#u8_img {
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:151px;
}
#u9 {
  position:absolute;
  left:2px;
  top:68px;
  width:356px;
  visibility:hidden;
  word-wrap:break-word;
}
#u10 {
  position:absolute;
  left:30px;
  top:80px;
  width:310px;
  height:16px;
}
#u10_img {
  position:absolute;
  left:0px;
  top:0px;
  width:310px;
  height:16px;
}
#u11 {
  position:absolute;
  left:0px;
  top:0px;
  width:310px;
  word-wrap:break-word;
}
#u12 {
  position:absolute;
  left:30px;
  top:106px;
  width:310px;
  height:16px;
}
#u12_img {
  position:absolute;
  left:0px;
  top:0px;
  width:310px;
  height:16px;
}
#u13 {
  position:absolute;
  left:0px;
  top:0px;
  width:310px;
  word-wrap:break-word;
}
#u14 {
  position:absolute;
  left:30px;
  top:132px;
  width:310px;
  height:16px;
}
#u14_img {
  position:absolute;
  left:0px;
  top:0px;
  width:310px;
  height:16px;
}
#u15 {
  position:absolute;
  left:0px;
  top:0px;
  width:310px;
  word-wrap:break-word;
}
#u16 {
  position:absolute;
  left:30px;
  top:158px;
  width:310px;
  height:16px;
}
#u16_img {
  position:absolute;
  left:0px;
  top:0px;
  width:310px;
  height:16px;
}
#u17 {
  position:absolute;
  left:0px;
  top:0px;
  width:310px;
  word-wrap:break-word;
}
#u18 {
  position:absolute;
  left:14px;
  top:184px;
  width:333px;
  height:10px;
}
#u18_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u18_end {
  position:absolute;
  left:316px;
  top:-5px;
  width:18px;
  height:20px;
}
#u18_line {
  position:absolute;
  left:0px;
  top:5px;
  width:333px;
  height:1px;
}
#u19 {
  position:absolute;
  left:246px;
  top:193px;
  width:84px;
  height:24px;
}
#u19_img {
  position:absolute;
  left:0px;
  top:0px;
  width:84px;
  height:24px;
}
#u20 {
  position:absolute;
  left:0px;
  top:0px;
  width:84px;
  white-space:nowrap;
}
#u21 {
  position:fixed;
  left:0px;
  bottom:0px;
  width:360px;
  height:50px;
  overflow:hidden;
}
#u21_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:50px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u21_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u22 {
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:50px;
}
#u22_img {
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:50px;
}
#u23 {
  position:absolute;
  left:2px;
  top:17px;
  width:356px;
  visibility:hidden;
  word-wrap:break-word;
}
#u24 {
  position:absolute;
  left:9px;
  top:13px;
  width:144px;
  height:24px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
}
#u24_img {
  position:absolute;
  left:0px;
  top:0px;
  width:144px;
  height:24px;
}
#u25 {
  position:absolute;
  left:0px;
  top:0px;
  width:144px;
  word-wrap:break-word;
}
#u26 {
  position:absolute;
  left:210px;
  top:0px;
  width:150px;
  height:50px;
}
#u26_img {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:50px;
}
#u27 {
  position:absolute;
  left:2px;
  top:17px;
  width:146px;
  word-wrap:break-word;
}
#u28 {
  position:absolute;
  left:0px;
  top:47px;
  width:360px;
  height:27px;
}
#u28_img {
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:27px;
}
#u29 {
  position:absolute;
  left:2px;
  top:6px;
  width:356px;
  visibility:hidden;
  word-wrap:break-word;
}
#u30 {
  position:absolute;
  left:10px;
  top:53px;
  width:45px;
  height:14px;
  font-size:11px;
  color:#999999;
}
#u30_img {
  position:absolute;
  left:0px;
  top:0px;
  width:45px;
  height:14px;
}
#u31 {
  position:absolute;
  left:0px;
  top:0px;
  width:45px;
  white-space:nowrap;
}
#u32 {
  position:absolute;
  left:283px;
  top:53px;
  width:67px;
  height:14px;
  font-size:11px;
  color:#0099FF;
}
#u32_img {
  position:absolute;
  left:0px;
  top:0px;
  width:67px;
  height:14px;
}
#u33 {
  position:absolute;
  left:0px;
  top:0px;
  width:67px;
  white-space:nowrap;
}
#u34 {
  position:absolute;
  left:0px;
  top:235px;
  width:360px;
  height:40px;
}
#u34_img {
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:40px;
}
#u35 {
  position:absolute;
  left:2px;
  top:12px;
  width:356px;
  visibility:hidden;
  word-wrap:break-word;
}
#u36 {
  position:absolute;
  left:6px;
  top:247px;
  width:53px;
  height:16px;
}
#u36_img {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:16px;
}
#u37 {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  white-space:nowrap;
}
#u38 {
  position:absolute;
  left:306px;
  top:247px;
  width:51px;
  height:16px;
}
#u38_img {
  position:absolute;
  left:0px;
  top:0px;
  width:51px;
  height:16px;
}
#u39 {
  position:absolute;
  left:0px;
  top:0px;
  width:51px;
  white-space:nowrap;
}
#u40 {
  position:absolute;
  left:0px;
  top:273px;
  width:360px;
  height:40px;
}
#u40_img {
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:40px;
}
#u41 {
  position:absolute;
  left:2px;
  top:12px;
  width:356px;
  visibility:hidden;
  word-wrap:break-word;
}
#u42 {
  position:absolute;
  left:6px;
  top:287px;
  width:27px;
  height:16px;
}
#u42_img {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:16px;
}
#u43 {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  white-space:nowrap;
}
#u44 {
  position:absolute;
  left:313px;
  top:287px;
  width:37px;
  height:16px;
}
#u44_img {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  height:16px;
}
#u45 {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  white-space:nowrap;
}
#u46 {
  position:absolute;
  left:0px;
  top:312px;
  width:360px;
  height:40px;
}
#u46_img {
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:40px;
}
#u47 {
  position:absolute;
  left:2px;
  top:12px;
  width:356px;
  visibility:hidden;
  word-wrap:break-word;
}
#u48 {
  position:absolute;
  left:6px;
  top:324px;
  width:53px;
  height:16px;
}
#u48_img {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:16px;
}
#u49 {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  white-space:nowrap;
}
#u50 {
  position:absolute;
  left:300px;
  top:324px;
  width:50px;
  height:16px;
  color:#FF9900;
}
#u50_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:16px;
}
#u51 {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  white-space:nowrap;
}
#u52 {
  position:absolute;
  left:79px;
  top:324px;
  width:62px;
  height:14px;
  font-size:11px;
  color:#0000FF;
}
#u52_img {
  position:absolute;
  left:0px;
  top:0px;
  width:62px;
  height:14px;
}
#u53 {
  position:absolute;
  left:0px;
  top:0px;
  width:62px;
  white-space:nowrap;
}
#u54 {
  position:absolute;
  left:0px;
  top:350px;
  width:360px;
  height:40px;
}
#u54_img {
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:40px;
}
#u55 {
  position:absolute;
  left:2px;
  top:12px;
  width:356px;
  visibility:hidden;
  word-wrap:break-word;
}
#u56 {
  position:absolute;
  left:6px;
  top:362px;
  width:53px;
  height:16px;
}
#u56_img {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:16px;
}
#u57 {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  white-space:nowrap;
}
#u58 {
  position:absolute;
  left:306px;
  top:362px;
  width:51px;
  height:16px;
  color:#FF0000;
}
#u58_img {
  position:absolute;
  left:0px;
  top:0px;
  width:51px;
  height:16px;
}
#u59 {
  position:absolute;
  left:0px;
  top:0px;
  width:51px;
  white-space:nowrap;
}
#u60 {
  position:absolute;
  left:0px;
  top:400px;
  width:360px;
  height:40px;
}
#u60_img {
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:40px;
}
#u61 {
  position:absolute;
  left:2px;
  top:12px;
  width:356px;
  visibility:hidden;
  word-wrap:break-word;
}
#u62 {
  position:absolute;
  left:8px;
  top:412px;
  width:53px;
  height:16px;
}
#u62_img {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:16px;
}
#u63 {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  white-space:nowrap;
}
#u64 {
  position:absolute;
  left:331px;
  top:404px;
  width:29px;
  height:30px;
}
#u64_img {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:30px;
}
#u65 {
  position:absolute;
  left:2px;
  top:7px;
  width:25px;
  visibility:hidden;
  word-wrap:break-word;
}
#u66 {
  position:absolute;
  left:281px;
  top:412px;
  width:53px;
  height:16px;
}
#u66_img {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:16px;
}
#u67 {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  visibility:hidden;
  white-space:nowrap;
}
#u68 {
  position:fixed;
  left:0px;
  top:0px;
  width:360px;
  height:760px;
  overflow:hidden;
  visibility:hidden;
}
#u68_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:760px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u68_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u69 {
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:777px;
}
#u69_img {
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:777px;
}
#u70 {
  position:absolute;
  left:2px;
  top:380px;
  width:356px;
  visibility:hidden;
  word-wrap:break-word;
}
#u71 {
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:40px;
}
#u71_img {
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:40px;
}
#u72 {
  position:absolute;
  left:2px;
  top:12px;
  width:356px;
  visibility:hidden;
  word-wrap:break-word;
}
#u73 {
  position:absolute;
  left:126px;
  top:10px;
  width:109px;
  height:22px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-size:18px;
}
#u73_img {
  position:absolute;
  left:0px;
  top:0px;
  width:109px;
  height:22px;
}
#u74 {
  position:absolute;
  left:0px;
  top:0px;
  width:109px;
  white-space:nowrap;
}
#u75 {
  position:absolute;
  left:10px;
  top:52px;
  width:45px;
  height:14px;
  font-size:11px;
  color:#666666;
}
#u75_img {
  position:absolute;
  left:0px;
  top:0px;
  width:45px;
  height:14px;
}
#u76 {
  position:absolute;
  left:0px;
  top:0px;
  width:45px;
  white-space:nowrap;
}
#u77 {
  position:absolute;
  left:10px;
  top:76px;
  width:340px;
  height:75px;
}
#u77_img {
  position:absolute;
  left:0px;
  top:0px;
  width:340px;
  height:75px;
}
#u78 {
  position:absolute;
  left:2px;
  top:30px;
  width:336px;
  visibility:hidden;
  word-wrap:break-word;
}
#u79 {
  position:absolute;
  left:10px;
  top:76px;
  width:130px;
  height:75px;
  color:#FFFFFF;
}
#u79_img {
  position:absolute;
  left:0px;
  top:0px;
  width:130px;
  height:75px;
}
#u80 {
  position:absolute;
  left:2px;
  top:30px;
  width:126px;
  visibility:hidden;
  word-wrap:break-word;
}
#u81 {
  position:absolute;
  left:38px;
  top:86px;
  width:73px;
  height:33px;
  font-size:28px;
  color:#FFFFFF;
}
#u81_img {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:33px;
}
#u82 {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  white-space:nowrap;
}
#u83 {
  position:absolute;
  left:58px;
  top:122px;
  width:34px;
  height:16px;
  font-size:11px;
  color:#FFFFFF;
}
#u83_img {
  position:absolute;
  left:0px;
  top:0px;
  width:34px;
  height:16px;
}
#u84 {
  position:absolute;
  left:0px;
  top:0px;
  width:34px;
  white-space:nowrap;
}
#u85 {
  position:absolute;
  left:150px;
  top:86px;
  width:67px;
  height:14px;
  font-size:11px;
}
#u85_img {
  position:absolute;
  left:0px;
  top:0px;
  width:67px;
  height:14px;
}
#u86 {
  position:absolute;
  left:0px;
  top:0px;
  width:67px;
  white-space:nowrap;
}
#u87 {
  position:absolute;
  left:150px;
  top:124px;
  width:122px;
  height:14px;
  font-size:11px;
  color:#999999;
}
#u87_img {
  position:absolute;
  left:0px;
  top:0px;
  width:122px;
  height:14px;
}
#u88 {
  position:absolute;
  left:0px;
  top:0px;
  width:122px;
  white-space:nowrap;
}
#u89 {
  position:absolute;
  left:10px;
  top:160px;
  width:340px;
  height:75px;
}
#u89_img {
  position:absolute;
  left:0px;
  top:0px;
  width:340px;
  height:75px;
}
#u90 {
  position:absolute;
  left:2px;
  top:30px;
  width:336px;
  visibility:hidden;
  word-wrap:break-word;
}
#u91 {
  position:absolute;
  left:10px;
  top:160px;
  width:130px;
  height:75px;
  color:#FFFFFF;
}
#u91_img {
  position:absolute;
  left:0px;
  top:0px;
  width:130px;
  height:75px;
}
#u92 {
  position:absolute;
  left:2px;
  top:30px;
  width:126px;
  visibility:hidden;
  word-wrap:break-word;
}
#u93 {
  position:absolute;
  left:38px;
  top:172px;
  width:73px;
  height:33px;
  font-size:28px;
  color:#FFFFFF;
}
#u93_img {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:33px;
}
#u94 {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  white-space:nowrap;
}
#u95 {
  position:absolute;
  left:58px;
  top:208px;
  width:34px;
  height:16px;
  font-size:11px;
  color:#FFFFFF;
}
#u95_img {
  position:absolute;
  left:0px;
  top:0px;
  width:34px;
  height:16px;
}
#u96 {
  position:absolute;
  left:0px;
  top:0px;
  width:34px;
  white-space:nowrap;
}
#u97 {
  position:absolute;
  left:150px;
  top:172px;
  width:67px;
  height:14px;
  font-size:11px;
}
#u97_img {
  position:absolute;
  left:0px;
  top:0px;
  width:67px;
  height:14px;
}
#u98 {
  position:absolute;
  left:0px;
  top:0px;
  width:67px;
  white-space:nowrap;
}
#u99 {
  position:absolute;
  left:150px;
  top:210px;
  width:122px;
  height:14px;
  font-size:11px;
  color:#999999;
}
#u99_img {
  position:absolute;
  left:0px;
  top:0px;
  width:122px;
  height:14px;
}
#u100 {
  position:absolute;
  left:0px;
  top:0px;
  width:122px;
  white-space:nowrap;
}
#u101 {
  position:absolute;
  left:10px;
  top:246px;
  width:340px;
  height:75px;
}
#u101_img {
  position:absolute;
  left:0px;
  top:0px;
  width:340px;
  height:75px;
}
#u102 {
  position:absolute;
  left:2px;
  top:30px;
  width:336px;
  visibility:hidden;
  word-wrap:break-word;
}
#u103 {
  position:absolute;
  left:10px;
  top:246px;
  width:130px;
  height:75px;
  color:#FFFFFF;
}
#u103_img {
  position:absolute;
  left:0px;
  top:0px;
  width:130px;
  height:75px;
}
#u104 {
  position:absolute;
  left:2px;
  top:30px;
  width:126px;
  visibility:hidden;
  word-wrap:break-word;
}
#u105 {
  position:absolute;
  left:38px;
  top:256px;
  width:73px;
  height:33px;
  font-size:28px;
  color:#FFFFFF;
}
#u105_img {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:33px;
}
#u106 {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  white-space:nowrap;
}
#u107 {
  position:absolute;
  left:58px;
  top:292px;
  width:34px;
  height:16px;
  font-size:11px;
  color:#FFFFFF;
}
#u107_img {
  position:absolute;
  left:0px;
  top:0px;
  width:34px;
  height:16px;
}
#u108 {
  position:absolute;
  left:0px;
  top:0px;
  width:34px;
  white-space:nowrap;
}
#u109 {
  position:absolute;
  left:150px;
  top:256px;
  width:67px;
  height:14px;
  font-size:11px;
}
#u109_img {
  position:absolute;
  left:0px;
  top:0px;
  width:67px;
  height:14px;
}
#u110 {
  position:absolute;
  left:0px;
  top:0px;
  width:67px;
  white-space:nowrap;
}
#u111 {
  position:absolute;
  left:150px;
  top:294px;
  width:122px;
  height:14px;
  font-size:11px;
  color:#999999;
}
#u111_img {
  position:absolute;
  left:0px;
  top:0px;
  width:122px;
  height:14px;
}
#u112 {
  position:absolute;
  left:0px;
  top:0px;
  width:122px;
  white-space:nowrap;
}
#u113 {
  position:absolute;
  left:10px;
  top:336px;
  width:60px;
  height:14px;
  font-size:11px;
  color:#666666;
}
#u113_img {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:14px;
}
#u114 {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  word-wrap:break-word;
}
#u115 {
  position:absolute;
  left:10px;
  top:360px;
  width:340px;
  height:75px;
}
#u115_img {
  position:absolute;
  left:0px;
  top:0px;
  width:340px;
  height:75px;
}
#u116 {
  position:absolute;
  left:2px;
  top:30px;
  width:336px;
  visibility:hidden;
  word-wrap:break-word;
}
#u117 {
  position:absolute;
  left:10px;
  top:360px;
  width:130px;
  height:75px;
  color:#FFFFFF;
}
#u117_img {
  position:absolute;
  left:0px;
  top:0px;
  width:130px;
  height:75px;
}
#u118 {
  position:absolute;
  left:2px;
  top:30px;
  width:126px;
  visibility:hidden;
  word-wrap:break-word;
}
#u119 {
  position:absolute;
  left:52px;
  top:372px;
  width:45px;
  height:33px;
  font-size:28px;
  color:#FFFFFF;
}
#u119_img {
  position:absolute;
  left:0px;
  top:0px;
  width:45px;
  height:33px;
}
#u120 {
  position:absolute;
  left:0px;
  top:0px;
  width:45px;
  white-space:nowrap;
}
#u121 {
  position:absolute;
  left:41px;
  top:410px;
  width:67px;
  height:16px;
  font-size:11px;
  color:#FFFFFF;
}
#u121_img {
  position:absolute;
  left:0px;
  top:0px;
  width:67px;
  height:16px;
}
#u122 {
  position:absolute;
  left:0px;
  top:0px;
  width:67px;
  white-space:nowrap;
}
#u123 {
  position:absolute;
  left:150px;
  top:372px;
  width:67px;
  height:14px;
  font-size:11px;
}
#u123_img {
  position:absolute;
  left:0px;
  top:0px;
  width:67px;
  height:14px;
}
#u124 {
  position:absolute;
  left:0px;
  top:0px;
  width:67px;
  white-space:nowrap;
}
#u125 {
  position:absolute;
  left:150px;
  top:410px;
  width:122px;
  height:14px;
  font-size:11px;
  color:#999999;
}
#u125_img {
  position:absolute;
  left:0px;
  top:0px;
  width:122px;
  height:14px;
}
#u126 {
  position:absolute;
  left:0px;
  top:0px;
  width:122px;
  white-space:nowrap;
}
#u127 {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:40px;
}
#u127_img {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:40px;
}
#u128 {
  position:absolute;
  left:2px;
  top:12px;
  width:36px;
  visibility:hidden;
  word-wrap:break-word;
}
#u129 {
  position:absolute;
  left:10px;
  top:76px;
  width:340px;
  height:74px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u130 {
  position:absolute;
  left:10px;
  top:161px;
  width:340px;
  height:74px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u131 {
  position:absolute;
  left:10px;
  top:245px;
  width:340px;
  height:74px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u132 {
  position:absolute;
  left:0px;
  top:312px;
  width:360px;
  height:38px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
