body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:360px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:0px;
  top:361px;
  width:360px;
  height:1599px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:1599px;
}
#u1 {
  position:absolute;
  left:2px;
  top:792px;
  width:356px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2 {
  position:absolute;
  left:0px;
  top:361px;
  width:360px;
  height:39px;
}
#u2_img {
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:39px;
}
#u3 {
  position:absolute;
  left:2px;
  top:12px;
  width:356px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4 {
  position:absolute;
  left:10px;
  top:371px;
  width:40px;
  height:16px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
}
#u4_img {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:16px;
}
#u5 {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  white-space:nowrap;
}
#u6 {
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:40px;
}
#u6_img {
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:40px;
}
#u7 {
  position:absolute;
  left:2px;
  top:12px;
  width:356px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8 {
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  height:41px;
}
#u8_img {
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  height:41px;
}
#u9 {
  position:absolute;
  left:2px;
  top:12px;
  width:37px;
  visibility:hidden;
  word-wrap:break-word;
}
#u10 {
  position:absolute;
  left:151px;
  top:9px;
  width:73px;
  height:22px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-size:18px;
}
#u10_img {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:22px;
}
#u11 {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  white-space:nowrap;
}
#u12 {
  position:absolute;
  left:334px;
  top:7px;
  width:6px;
  height:6px;
}
#u12_img {
  position:absolute;
  left:0px;
  top:0px;
  width:6px;
  height:6px;
}
#u13 {
  position:absolute;
  left:2px;
  top:-5px;
  width:2px;
  visibility:hidden;
  word-wrap:break-word;
}
#u14 {
  position:absolute;
  left:334px;
  top:17px;
  width:6px;
  height:6px;
}
#u14_img {
  position:absolute;
  left:0px;
  top:0px;
  width:6px;
  height:6px;
}
#u15 {
  position:absolute;
  left:2px;
  top:-5px;
  width:2px;
  visibility:hidden;
  word-wrap:break-word;
}
#u16 {
  position:absolute;
  left:334px;
  top:27px;
  width:6px;
  height:6px;
}
#u16_img {
  position:absolute;
  left:0px;
  top:0px;
  width:6px;
  height:6px;
}
#u17 {
  position:absolute;
  left:2px;
  top:-5px;
  width:2px;
  visibility:hidden;
  word-wrap:break-word;
}
#u18 {
  position:absolute;
  left:26px;
  top:41px;
  width:307px;
  height:320px;
}
#u18_img {
  position:absolute;
  left:0px;
  top:0px;
  width:307px;
  height:320px;
}
#u19 {
  position:absolute;
  left:2px;
  top:152px;
  width:303px;
  visibility:hidden;
  word-wrap:break-word;
}
#u20 {
  position:absolute;
  left:0px;
  top:400px;
  width:360px;
  height:482px;
}
#u20_img {
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:482px;
}
#u21 {
  position:absolute;
  left:2px;
  top:233px;
  width:356px;
  visibility:hidden;
  word-wrap:break-word;
}
#u22 {
  position:absolute;
  left:0px;
  top:882px;
  width:360px;
  height:482px;
}
#u22_img {
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:482px;
}
#u23 {
  position:absolute;
  left:2px;
  top:233px;
  width:356px;
  visibility:hidden;
  word-wrap:break-word;
}
#u24 {
  position:absolute;
  left:0px;
  top:1364px;
  width:360px;
  height:481px;
}
#u24_img {
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:481px;
}
#u25 {
  position:absolute;
  left:2px;
  top:232px;
  width:356px;
  visibility:hidden;
  word-wrap:break-word;
}
#u26 {
  position:fixed;
  left:0px;
  bottom:0px;
}
#u26_state0 {
  position:relative;
  left:0px;
  top:0px;
  background-image:none;
}
#u26_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u27 {
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:50px;
}
#u27_img {
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:50px;
}
#u28 {
  position:absolute;
  left:2px;
  top:17px;
  width:356px;
  visibility:hidden;
  word-wrap:break-word;
}
#u29 {
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:50px;
}
#u29_img {
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:50px;
}
#u30 {
  position:absolute;
  left:2px;
  top:17px;
  width:356px;
  word-wrap:break-word;
}
