body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:360px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:667px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:667px;
}
#u1 {
  position:absolute;
  left:2px;
  top:326px;
  width:356px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2 {
  position:absolute;
  left:0px;
  top:210px;
  width:360px;
  height:190px;
}
#u2_img {
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:190px;
}
#u3 {
  position:absolute;
  left:2px;
  top:87px;
  width:356px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4 {
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:40px;
}
#u4_img {
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:40px;
}
#u5 {
  position:absolute;
  left:2px;
  top:12px;
  width:356px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6 {
  position:absolute;
  left:0px;
  top:0px;
  width:39px;
  height:41px;
}
#u6_img {
  position:absolute;
  left:0px;
  top:0px;
  width:39px;
  height:41px;
}
#u7 {
  position:absolute;
  left:2px;
  top:12px;
  width:35px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8 {
  position:absolute;
  left:145px;
  top:9px;
  width:73px;
  height:22px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-size:18px;
}
#u8_img {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:22px;
}
#u9 {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  white-space:nowrap;
}
#u10 {
  position:absolute;
  left:0px;
  top:38px;
  width:360px;
  height:122px;
}
#u10_img {
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:122px;
}
#u11 {
  position:absolute;
  left:2px;
  top:53px;
  width:356px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12 {
  position:absolute;
  left:150px;
  top:78px;
  width:61px;
  height:42px;
  font-size:36px;
  color:#FF9900;
}
#u12_img {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  height:42px;
}
#u13 {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  white-space:nowrap;
}
#u14 {
  position:absolute;
  left:67px;
  top:351px;
  width:218px;
  height:30px;
  color:#FF3300;
}
#u14_img {
  position:absolute;
  left:0px;
  top:0px;
  width:218px;
  height:30px;
}
#u15 {
  position:absolute;
  left:2px;
  top:7px;
  width:214px;
  word-wrap:break-word;
}
#u16 {
  position:absolute;
  left:0px;
  top:159px;
  width:360px;
  height:41px;
}
#u16_img {
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:41px;
}
#u17 {
  position:absolute;
  left:2px;
  top:12px;
  width:356px;
  visibility:hidden;
  word-wrap:break-word;
}
#u18 {
  position:absolute;
  left:320px;
  top:12px;
  width:27px;
  height:16px;
}
#u18_img {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:16px;
}
#u19 {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  white-space:nowrap;
}
#u20 {
  position:absolute;
  left:10px;
  top:135px;
  width:104px;
  height:14px;
  font-size:11px;
}
#u20_img {
  position:absolute;
  left:0px;
  top:0px;
  width:104px;
  height:14px;
}
#u21 {
  position:absolute;
  left:0px;
  top:0px;
  width:104px;
  white-space:nowrap;
}
#u22 {
  position:absolute;
  left:10px;
  top:172px;
  width:79px;
  height:16px;
}
#u22_img {
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  height:16px;
}
#u23 {
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  white-space:nowrap;
}
#u24 {
  position:absolute;
  left:322px;
  top:167px;
  width:25px;
  height:25px;
}
#u24_img {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:25px;
}
#u25 {
  position:absolute;
  left:2px;
  top:4px;
  width:21px;
  visibility:hidden;
  word-wrap:break-word;
}
#u26 {
  position:absolute;
  left:10px;
  top:231px;
  width:104px;
  height:60px;
}
#u26_img {
  position:absolute;
  left:0px;
  top:0px;
  width:104px;
  height:60px;
}
#u27 {
  position:absolute;
  left:2px;
  top:14px;
  width:100px;
  word-wrap:break-word;
}
#u28 {
  position:absolute;
  left:124px;
  top:231px;
  width:104px;
  height:60px;
}
#u28_img {
  position:absolute;
  left:0px;
  top:0px;
  width:104px;
  height:60px;
}
#u29 {
  position:absolute;
  left:2px;
  top:14px;
  width:100px;
  word-wrap:break-word;
}
#u30 {
  position:absolute;
  left:238px;
  top:231px;
  width:104px;
  height:60px;
}
#u30_img {
  position:absolute;
  left:0px;
  top:0px;
  width:104px;
  height:60px;
}
#u31 {
  position:absolute;
  left:2px;
  top:14px;
  width:100px;
  word-wrap:break-word;
}
#u32 {
  position:absolute;
  left:10px;
  top:301px;
  width:132px;
  height:30px;
}
#u32_img {
  position:absolute;
  left:0px;
  top:0px;
  width:132px;
  height:30px;
}
#u33 {
  position:absolute;
  left:2px;
  top:7px;
  width:128px;
  word-wrap:break-word;
}
#u34 {
  position:absolute;
  left:142px;
  top:301px;
  width:200px;
  height:30px;
}
#u34_input {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:30px;
  background-image:;
  text-align:left;
  font-family:'Arial';
  font-size:13px;
  color:#999999;
  font-weight:normal;
  font-style:normal;
  text-decoration:none;
}
#u35 {
  position:absolute;
  left:7px;
  top:51px;
  width:66px;
  height:16px;
}
#u35_img {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  height:16px;
}
#u36 {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  white-space:nowrap;
}
#u37 {
  position:absolute;
  left:0px;
  top:430px;
  width:360px;
  height:50px;
}
#u37_img {
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:50px;
}
#u38 {
  position:absolute;
  left:2px;
  top:17px;
  width:356px;
  visibility:hidden;
  word-wrap:break-word;
}
#u39 {
  position:absolute;
  left:10px;
  top:437px;
  width:53px;
  height:16px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
}
#u39_img {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:16px;
}
#u40 {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  white-space:nowrap;
}
#u41 {
  position:absolute;
  left:10px;
  top:460px;
  width:77px;
  height:14px;
  font-size:11px;
  color:#999999;
}
#u41_img {
  position:absolute;
  left:0px;
  top:0px;
  width:77px;
  height:14px;
}
#u42 {
  position:absolute;
  left:0px;
  top:0px;
  width:77px;
  white-space:nowrap;
}
#u43 {
  position:absolute;
  left:284px;
  top:444px;
  width:57px;
  height:22px;
  font-size:18px;
  color:#33CC00;
}
#u43_img {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:22px;
}
#u44 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u45 {
  position:absolute;
  left:10px;
  top:414px;
  width:45px;
  height:14px;
  font-size:11px;
  color:#666666;
}
#u45_img {
  position:absolute;
  left:0px;
  top:0px;
  width:45px;
  height:14px;
}
#u46 {
  position:absolute;
  left:0px;
  top:0px;
  width:45px;
  white-space:nowrap;
}
#u47 {
  position:absolute;
  left:0px;
  top:479px;
  width:360px;
  height:50px;
}
#u47_img {
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:50px;
}
#u48 {
  position:absolute;
  left:2px;
  top:17px;
  width:356px;
  visibility:hidden;
  word-wrap:break-word;
}
#u49 {
  position:absolute;
  left:10px;
  top:486px;
  width:53px;
  height:16px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
}
#u49_img {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:16px;
}
#u50 {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  white-space:nowrap;
}
#u51 {
  position:absolute;
  left:10px;
  top:509px;
  width:77px;
  height:14px;
  font-size:11px;
  color:#999999;
}
#u51_img {
  position:absolute;
  left:0px;
  top:0px;
  width:77px;
  height:14px;
}
#u52 {
  position:absolute;
  left:0px;
  top:0px;
  width:77px;
  white-space:nowrap;
}
#u53 {
  position:absolute;
  left:275px;
  top:493px;
  width:67px;
  height:22px;
  font-size:18px;
  color:#33CC00;
}
#u53_img {
  position:absolute;
  left:0px;
  top:0px;
  width:67px;
  height:22px;
}
#u54 {
  position:absolute;
  left:0px;
  top:0px;
  width:67px;
  white-space:nowrap;
}
#u55 {
  position:absolute;
  left:0px;
  top:528px;
  width:360px;
  height:50px;
}
#u55_img {
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:50px;
}
#u56 {
  position:absolute;
  left:2px;
  top:17px;
  width:356px;
  visibility:hidden;
  word-wrap:break-word;
}
#u57 {
  position:absolute;
  left:10px;
  top:535px;
  width:53px;
  height:16px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
}
#u57_img {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:16px;
}
#u58 {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  white-space:nowrap;
}
#u59 {
  position:absolute;
  left:10px;
  top:558px;
  width:77px;
  height:14px;
  font-size:11px;
  color:#999999;
}
#u59_img {
  position:absolute;
  left:0px;
  top:0px;
  width:77px;
  height:14px;
}
#u60 {
  position:absolute;
  left:0px;
  top:0px;
  width:77px;
  white-space:nowrap;
}
#u61 {
  position:absolute;
  left:280px;
  top:539px;
  width:62px;
  height:22px;
  font-size:18px;
  color:#FF0000;
}
#u61_img {
  position:absolute;
  left:0px;
  top:0px;
  width:62px;
  height:22px;
}
#u62 {
  position:absolute;
  left:0px;
  top:0px;
  width:62px;
  white-space:nowrap;
}
#u63 {
  position:absolute;
  left:0px;
  top:577px;
  width:360px;
  height:50px;
}
#u63_img {
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:50px;
}
#u64 {
  position:absolute;
  left:2px;
  top:17px;
  width:356px;
  visibility:hidden;
  word-wrap:break-word;
}
#u65 {
  position:absolute;
  left:10px;
  top:584px;
  width:53px;
  height:16px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
}
#u65_img {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:16px;
}
#u66 {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  white-space:nowrap;
}
#u67 {
  position:absolute;
  left:10px;
  top:607px;
  width:77px;
  height:14px;
  font-size:11px;
  color:#999999;
}
#u67_img {
  position:absolute;
  left:0px;
  top:0px;
  width:77px;
  height:14px;
}
#u68 {
  position:absolute;
  left:0px;
  top:0px;
  width:77px;
  white-space:nowrap;
}
#u69 {
  position:absolute;
  left:290px;
  top:591px;
  width:52px;
  height:22px;
  font-size:18px;
  color:#FF0000;
}
#u69_img {
  position:absolute;
  left:0px;
  top:0px;
  width:52px;
  height:22px;
}
#u70 {
  position:absolute;
  left:0px;
  top:0px;
  width:52px;
  white-space:nowrap;
}
#u71 {
  position:absolute;
  left:300px;
  top:0px;
  width:60px;
  height:40px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u72 {
  position:absolute;
  left:0px;
  top:159px;
  width:360px;
  height:41px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
